{% block lead_schema_widget %}
    {% spaceless %}

        <div class="form-block">
            <h5 class="lead-info-popover" style="width:20%">Lead Info</h5>
        </div>

        <div class="lead-schema lead-schema_{{ js_class }}" data-identity="{{ js_class }}" data-prototype="{{ _self.lead_prototype(form.vars.prototype)|e }}">

            {% for child in form %}

                <div class="lead-info-row">
                    <div class="w-row form-row">
                        <div class="w-col w-col-9">
                            <div class="form-input">
                                <div>{{ form_widget(child.name) }}</div>
                            </div>
                        </div>

                        <div class="w-col w-col-3 no-padding">
                            <div class="required-block">

                                <input type="checkbox" name="{{ child.required.vars.full_name }}" id="{{ child.required.vars.id }}_{{ js_class }}"
                                        {% if child.required.vars.checked %} checked="checked" {% endif %} >
                                <label for="{{ child.required.vars.id }}_{{ js_class }}">Required?</label>

                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    {% endspaceless %}
{% endblock %}

{% macro lead_prototype(form) %}

    <div class="lead-info-row">
        <div class="w-row form-row">
            <div class="w-col w-col-9">
                <div class="form-input">
                    <div>{{ form_widget(form.name) }}</div>
                </div>
            </div>
            <div class="w-col w-col-3 no-padding">
                <div class="required-block">

                    <input type="checkbox" name="{{ form.required.vars.full_name }}" id="{{ form.required.vars.id }}">
                    <label for="{{ form.required.vars.id }}">Required?</label>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}