{% block bl_multiple_file_widget %}
<div class="form-group">
    <ul class="images col-sm-6 control-label" data-prototype="{{ _self.multiple_prototype(form.vars.prototype)|e }}">
        {% set count = 0 %}
        {% for child in form %}
            {% set id =  'primary_show_id' %}
            {% set name =  'primary_show_name' %}
            {% set hiddenId = child.primary.vars.id %}

            {% if child.vars.value.filename is not null %}

                <li>
                    <a href="{{ child.vars.value.downloadLink }}"
                            target="_blank">{{ child.vars.value.fileOriginalName }}
                    </a>

                    <img width="260" src="{{asset(child.vars.value.downloadLink)}}">

                    <input onclick="toHidden('{{ hiddenId }}' )" class="bl-radio" type="radio" id="{{ id }}" name="{{ name }}"
                           value="1"
                            {% if child.primary.vars.value == 1 %} checked {% endif %}
                            />
                    <a class="delete-link" href="{{ path("remove_image", {'filename' : child.vars.value.filename } ) }}" > Delete </a>
                </li>
        {% endif %}

            {{ form_widget(child.primary, {'attr': {'class' : 'bl_primary_hidden'} } ) }}

            {% set count = count + 1 %}


        {% endfor %}
    </ul>
</div>

{% endblock %}

{% macro multiple_prototype(form) %}

    {% set hiddenId = form.primary.vars.id %}
    {% set id =  'primary_show_id' %}
    {% set name =  'primary_show_name' %}

    {{ form_widget(form.file) }}
    <input onclick="toHidden('{{ hiddenId }}' )" class="bl-radio" type="radio" id="{{ id }}" name="{{ name }}"
           value="1"
            />
    {{ form_widget(form.primary, {'attr': {'class' : 'bl_primary_hidden'} } ) }}
{% endmacro %}
