{% block bl_multiple_file_widget %}

    <style>
        .bl-radio{
            opacity: 1 !important ;
            width: 20px;
            height: 18px;
            top: -4px;
        }
        .iCheck-helper{
        position: relative !important;
        }
    </style>

<div class="form-group">
    <ul class="images col-sm-6 control-label" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
        {% set count = 0 %}
        {% for child in form %}
            {% set id =  replaceString("file_"~count~"_primary", "file_1_primary", child.primary.vars.id  ) %}
            {% set name =  replaceString("[bl_multiple_file]["~count~"][primary]", "[bl_multiple_file][1][primary]", child.primary.vars.full_name  ) %}

            <li>
                <a href="{{ child.vars.value.downloadLink }}"
                        target="_blank">{{ child.vars.value.fileOriginalName }}
                </a>

                <input class="bl-radio" type="radio" id="{{ id }}" name="{{ name }}" value="{{ child.primary.vars.value }}" {% if child.primary.vars.checked %} checked {% endif %} />
                <a class="delete-link" href="{{ path("remove_image", {'filename' : child.vars.value.filename } ) }}" > Delete </a>
            </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}

{% macro lead_prototype(form) %}
    {{ form_widget(form.file) }}
    {{ form_widget(form.primary) }}
{% endmacro %}
