{% extends "FOSCommentBundle:Thread:comment_content.html.twig" %}

{% block fos_comment_comment %}

    <div class="row">

        <div class="col-sm-1">
            {% if comment.author.getDownloadLink  %}
                <figure class="img-circle">
                    <img src="{{ comment.author.getDownloadLink }}" class="img-responsive img-circle"/>
                </figure>
            {% else %}
                {% set nameOnImage = comment.author.firstName|slice(0,1) ~ comment.author.lastName|slice(0,1) %}
                {% set className = "user-no" ~ random(4) %}
                <bdi class="no-image {{ className }}">{{ nameOnImage  |upper}}</bdi>
            {% endif %}
        </div>

        <div class="col-sm-11">

            <span class="fos_comment_comment_authorname">
                <i class="arrow-left"></i>
                {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                    {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                {% else %}
                    <p>{{ comment.author.showName }}</p>
                    <span>{{ comment.createdAt|date('F d \\a\\t\\ h:i a') }}</span>
                    {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                        {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                    {% else %}
                        <p>
                            {% if comment is fos_comment_raw %}
                                {{ comment.rawBody | raw }}
                            {% else %}
                                {{ comment.body | nl2br }}
                            {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>



{% endblock fos_comment_comment %}