{% extends "FOSCommentBundle:Thread:comment_content.html.twig" %}

{% block fos_comment_comment %}

    {% if _key is defined and _key == 0 and  comments|length > 2 %}
        <div class="text-right">
            <a href="javascript:void(0)"
               class="view-more-comments text-purple"
               data-last-index="{{ comments|length - 1 }}">Show More +5</a>
        </div>
    {% endif %}

    <div {% if _key is defined %}
            class="row user-comment user-comment{{ _key }}"

            {% if _key < comments|length - 2 %}
                style="display: none"
            {% endif %}

          {% else %}
            class="row"
          {% endif %}>
        <div class="col-xs-2 col-sm-1">
            {% if comment.author.getDownloadLink  %}
                <figure>
                    <img src="{{ comment.author.getDownloadLink|blImageFilter('user_icon') }}" class="img-responsive img-circle"/>
                </figure>
            {% else %}
                {% set nameOnImage = comment.author.firstName|slice(0,1) ~ comment.author.lastName|slice(0,1) %}
                {% set className = "user-no" ~ random(4) %}
                <span class="no-image {{ className }}">{{ nameOnImage  |upper}}</span>
            {% endif %}
        </div>
        <div class="col-xs-10 col-sm-11">
            <span class="fos_comment_comment_authorname">
                <i class="arrow-left"></i>
                {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                    {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                {% else %}
                    <p>{{ comment.author.showName }}</p>
                    <span class="convert-to-local ng-hide">{{ comment.createdAt|date() ~ ' UTC' }}</span>
                    {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                        {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                    {% else %}
                        <p>
                            {% if comment is fos_comment_raw %}
                                {{ comment.rawBody | raw }}
                            {% else %}
                                {{ comment.body | nl2br }}
                            {% endif %}
                        </p>
                    {% endif %}
                {% endif %}
            </span>
        </div>
    </div>

{% endblock fos_comment_comment %}