{% extends 'FOSCommentBundle:Thread:comment_new_content.html.twig' %}

{% block fos_comment_form_title %}
{% endblock %}

{% block fos_comment_comment_new_form %}
    <div class="row">
        <div class="col-sm-1">


            {% if app.user.getDownloadLink  %}
                <figure class="img-circle">
                    <img src="{{ app.user.getDownloadLink }}" class="img-responsive img-circle"/>
                </figure>
            {% else %}
                {% set nameOnImage = app.user.firstName|slice(0,1) ~ app.user.lastName|slice(0,1) %}
                {% set className = "user-no" ~ random(4) %}
                <bdi class="{{ className }}">{{ nameOnImage  |upper}}</bdi>
            {% endif %}
        </div>
        <div class="col-sm-11">
            <form class="fos_comment_comment_new_form" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">
                <i class="arrow-left"></i>
                {% block fos_comment_form_fields %}
                    {#<div class="fos_comment_form_errors">#}
                    {#{{ form_errors(form) }}#}
                    {#{{ form_errors(form.body) }}#}
                    {#</div>#}
                    {{ form_widget(form.body, {'attr': {'placeholder': 'Leave a comment...','onkeyup': 'if(event.which === 13 && !event.shiftKey){$(this).parent("form.fos_comment_comment_new_form").submit()}'} }) }}

                    {{ form_rest(form) }}
                {% endblock %}

                <div class="fos_comment_submit">
                {% block fos_comment_form_submit %}
                    {% if parent is not null %}
                        <input type="button" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_cancel{% endtrans %}" class="fos_comment_comment_reply_cancel" />
                    {% endif %}
                    {#<input type="submit" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_submit{% endtrans %}" />#}
                {% endblock %}
                </div>

            </form>
        </div>
    </div>

{% endblock fos_comment_comment_new_form %}

