{% extends "::amp.html.twig" %}

{% block content %}

    {% set blodData = blog.data %}

    <div class="header">
        <h1>{{ blog.title }}</h1>
        <figure>
            <span class="overlay"></span>
            <amp-img src="{{ blog.imagePath|blImageFilter('user_cover') }}"  layout="responsive"  width="100"
                     height="853"></amp-img>
        </figure>
    </div>

    {#<div class="bg-white">#}
        {#<amp-img src="{{ blog.imagePath|blImageFilter('goal_bg') }}"  layout="responsive"  width="100"#}
                 {#height="853" ></amp-img>#}
    {#</div>#}

    <section class="category">

        <h2 class="text-center text-dark">{{ 'goal.see_also'|trans }}</h2>

        <amp-live-list layout="container"
                       data-poll-interval="15000"
                       data-max-items-per-page="7"
                       id="amp-live-list-insert-blog">
            <button update
                    on="tap:amp-live-list-insert-blog.update"
                    class="button button-primary button-update">You have updates</button>
            <div items class="samples">

                {% for data in blodData %}

                    {% if data.type == 'text' %}

                        <p>{{ data.content }}</p>

                    {% elseif data.type == 'goal' %}

                        {% set goal = data.goals %}

                        <div id="{{ goal.title }}"
                             data-sort-time="20161029091050">
                            <div class="card blog">
                                <amp-img src="{{ goal.imagePath|blImageFilter('goal_list_small') }}"
                                         layout="responsive"
                                         width="1280"
                                         height="853">
                                </amp-img>
                                {% if goal.description %}
                                    <p>{{ goal.description|markdown|sliceString }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </amp-live-list>
    </section>
{% endblock %}

{%- block title -%}
    {{ blog.title }}
{%- endblock -%}

{%- block meta_description -%}
    {{- blog.metaDescription|markdown|striptags|sliceString -}}
{%- endblock -%}