{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %} <html data-ng-app="goal" data-ng-controller="activities"> {% endblock %}

{% block content %}
    {{ parent() }}

    <div id="news-feed">
        <div class="container">
            <div class="row"
                {% if pagination.getTotalItemCount() != 0 %}
                     infinite-scroll='Activities.nextPage("/api/v1.0/activities/{first}/{count}")'
                     infinite-scroll-disabled='Activities.busy || Activities.request >= 2'
                     infinite-scroll-distance='2'
                {% endif %}>
                <div class="col-md-8">
                    {% if pagination.getTotalItemCount() == 0 %}
                        <h3 class="text-dark-gray">{{ 'active.not_have'|trans }}
                            <a href="{{ path('goals_list') }}" class="text-purple">adding</a>
                        </h3>
                    {% endif %}
                    <div class="goals-animate"
                         data-ng-cloak
                         data-ng-repeat="activity in Activities.items">

                        <div data-ng-show="activity.comment || activity.success_story">
                            {{ _self.goal() }}
                        </div>
                        <div class="line"></div>
                        <div class="bg-white padding">
                            <div class="clearfix">
                                <figure class="image">
                                    <img data-ng-src="[[ activity.user.image_path ]]"
                                         alt="[[ activity.user.first_name ]]" class="img-circle img-responsive"/>
                                </figure>

                                <div class="pull-left text-gray">
                                    <h4>
                                        <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/user_profile/[[ activity.user.id ]]/all" class="text-dark-gray">
                                            [[ activity.user.first_name ]] [[ activity.user.last_name ]]
                                        </a>
                                        {#<span class="text-gray">{{ getNewAction(convertedNew.action) }}</span>#}
                                    </h4>
                                    <p>[[ activity.datetime | date:'dd MMM yyyy HH:mm' ]]</p>
                                </div>
                            </div>

                            <div class="comment-place ng-hide" data-ng-show="activity.comment">
                                <span class="arrow-up"></span>
                                [[ activity.comment.comment_body ]]
                            </div>

                            <div class="comment-place ng-hide" data-ng-show="activity.success_story">
                                <span class="arrow-up"></span>
                                [[ activity.success_story.story ]]
                            </div>

                            <div data-ng-show="!activity.comment && !activity.success_story">
                                {{ _self.goal() }}
                            </div>

                        </div>
                        <br/>
                    </div>

                    <div class="navigation">
                        <a href="javascript:void(0)"
                           data-ng-show="!Activities.busy && Activities.request >= 2"
                           data-ng-click='Activities.nextPage("/api/v1.0/activities/{first}/{count}")'
                           class="show-more ng-hide">
                            Show More
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    {% include 'AppBundle:Blocks:completeProfile.html.twig' with {'user': app.user}  %}
                    {% include 'AppBundle:Blocks:myBucketlist.html.twig' with {'user': app.user} %}
                    {% include 'AppBundle:Blocks:goalfriends.html.twig' with {'user': app.user} %}

                    <div class="right-block margin-top">
                        <div class="row">
                            <div class="col-xs-6">
                                 <span>
                                     {#<i class="icon top-icon"></i>#}
                                     <i class="icon-top-idea"></i>
                                     <a href="{{ path("goals_list") }}">{{ 'right_menu.ideas'|trans }}</a>
                                </span>
                            </div>
                            {#<div class="col-xs-6 text-right">#}
                                {#<a href="{{ path("goals_list") }}">{{ 'right_menu.show'|trans }}</a>#}
                            {#</div>#}
                        </div>
                        <hr/>

                        <div class="row">
                            {#<div class="col-sm-6 col-md-12">#}
                                {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': app.user, 'count': 2}  %}
                            {#</div>#}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% macro goal(goal) %}
    <div class="row">
        <div class="col-sm-12">
            <figure>
                <i class="icon-lock-white" data-ng-show="!activity.goal.status"></i>

                <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/goal/[[ activity.goal.slug ]]" id="goalTitle">
                    <span class="overlay"></span>
                    <h3>[[ activity.goal.title ]]</h3>
                    <img data-ng-src="[[ activity.goal.image_path ]]" alt="[[ activity.goal.title ]]"/>
                </a>
                <figcaption>
                    {% include "AppBundle:Blocks:newsFeedGoalFooter.html.twig" with {'goal' : goal }  %}
                </figcaption>
            </figure>
        </div>
    </div>
{% endmacro %}

{%- block title -%}
    {{ 'activities.title'|trans }}
{%- endblock -%}

{%- block og_title -%}
    {{ 'activities.title'|trans }}
{%- endblock -%}

{%- block og_description -%}
    {{ 'activities.description'|trans }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'activities.description'|trans }}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}
