{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %}
<html data-ng-app="goal" data-ng-controller="ActivityController" xmlns="http://www.w3.org/1999/xhtml"> {% endblock %}



{% block content %}
    {{ parent() }}

    <div id="news-feed">
        <div class="container">
            <div class="row"
                 data-infinite-scroll='Activities.nextPage("{% if app.debug %}/app_dev.php{% endif %}/api/v1.0/activities/{first}/{count}", "", "", {{ app.user.id }})'
                 data-infinite-scroll-disabled='Activities.busy || Activities.request >= 2'
                 data-infinite-scroll-distance='2'>

                <div class="col-md-8" id="activities">

                        <h3 class="text-dark-gray" style="display: none" id="non-activity">{{ 'active.not_have'|trans }}
                            <a href="{{ path('goals_list') }}" class="text-purple">adding</a>
                        </h3>

                    <div class="goals-animate"
                         data-ng-cloak
                         {#data-ng-class="{'padding-no': !activity.comment && !activity.success_story}"#}
                         data-ng-repeat="activity in Activities.items">

                        <div data-ng-show="activity.comment || activity.success_story">
                            {{ _self.goal() }}
                        </div>

                        <div data-ng-class="{'line': activity.comment || activity.success_story}"></div>

                        <div class="bg-white round">
                            <div class=" padding" data-ng-class="{'padding-no': !activity.comment && !activity.success_story}">
                                <div class="clearfix">

                                    <figure class="image">

                                        {% set className = "user-no" ~ random(4) %}

                                        <img data-ng-if="activity.user.cached_image" data-ng-src="[[ activity.user.cached_image]]" alt="{{ user.filename }}" class="img-circle img-responsive">
                                        <p data-ng-if="!activity.user.cached_image" class="no-image {% if className is defined %}{{ className }}{% endif %}">
                                            [[ activity.user.first_name|limitTo:1|uppercase ]][[ activity.user.last_name|limitTo:1|uppercase ]]
                                        </p>
                                    </figure>

                                    <div class="pull-left text-gray">
                                        <h4>

                                            <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/profile/[[ activity.user.u_id ]]" class="text-dark-gray">
                                                [[ activity.user.first_name ]] [[ activity.user.last_name ]]
                                            </a>

                                            <span class="text-gray" data-ng-if="activity.action=={{ constant('AppBundle\\Entity\\NewFeed::GOAL_CREATE') }}">
                                                {{ 'goal.create'|trans({},'newsFeed') }}
                                            </span>

                                             <span class="text-gray" data-ng-if="activity.action=={{ constant('AppBundle\\Entity\\NewFeed::GOAL_ADD') }}">
                                                {{ 'goal.add'|trans({},'newsFeed') }}
                                             </span>

                                             <span class="text-gray" data-ng-if="activity.action=={{ constant('AppBundle\\Entity\\NewFeed::GOAL_COMPLETE') }}">
                                                {{ 'goal.complete'|trans({},'newsFeed') }}
                                             </span>

                                             <span class="text-gray" data-ng-if="activity.action=={{ constant('AppBundle\\Entity\\NewFeed::SUCCESS_STORY') }}">
                                                {{ 'goal.success_story'|trans({},'newsFeed') }}
                                             </span>

                                             <span class="text-gray" data-ng-if="activity.action=={{ constant('AppBundle\\Entity\\NewFeed::COMMENT') }}">
                                                {{ 'goal.comment'|trans({},'newsFeed') }}
                                             </span>

                                        </h4>

                                        <p>[[ activity.datetime | date:'dd MMMM,  yyyy' ]] at [[ activity.datetime | date:'HH:mm' ]]</p>

                                    </div>
                                </div>

                                <div class="comment-place ng-hide" data-ng-show="activity.comment">
                                    <span class="arrow-up"></span>
                                    [[ activity.comment.comment_body ]]
                                </div>

                                <div class="comment-place ng-hide" data-ng-show="activity.success_story">
                                    <span class="arrow-up"></span>
                                    [[ activity.success_story.story ]]
                                </div>

                            </div>

                            <div data-ng-show="!activity.comment && !activity.success_story">
                                {{ _self.goal() }}
                            </div>

                        </div>
                        <br/>
                    </div>

                    <div class="navigation text-center">
                        <a href="javascript:void(0)"
                           data-ng-cloak
                           data-ng-show="!Activities.busy && Activities.request >= 1"
                           data-ng-click='Activities.getReserve("/api/v1.0/activities/{first}/{count}")'
                           class="show-more ng-hide">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>

                </div>

                <div class="col-md-4">
                    {% include 'AppBundle:Blocks:completeProfile.html.twig' with {'user': app.user}  %}
                    {% include 'AppBundle:Blocks:myBucketlist.html.twig' with {'user': app.user} %}
                    {% include 'AppBundle:Blocks:goalfriends.html.twig' with {'user': app.user} %}

                    <div class="right-block round margin-top">
                        <div class="right-menu">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span>
                                         <i class="icon-top-idea"></i>
                                         <a href="{{ path("goals_list") }}">{{ 'right_menu.ideas'|trans }}</a>
                                    </span>
                                </div>
                                {#<div class="col-xs-6">#}
                                     {#<span>#}
                                         {#<i class="icon-top-idea"></i>#}
                                         {#<a href="{{ path("goals_list") }}">{{ 'right_menu.ideas'|trans }}</a>#}
                                    {#</span>#}
                                {#</div>#}
                                {#<div class="col-xs-6 text-right">#}
                                    {#<a href="{{ path("goals_list") }}">{{ 'right_menu.show'|trans }}</a>#}
                                {#</div>#}
                            </div>
                            <hr/>
                        </div>
                        <div class="row">
                            {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': app.user, 'count': 2}  %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro goal(goal) %}
    <div class="row">
        <div class="col-sm-12 idea-item round">
            <figure>
                <i class="icon-lock-white" data-ng-show="!activity.goal.status"></i>

                <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/goal/[[ activity.goal.slug ]]" class="goalTitle">
                    <span class="overlay"></span>
                    <h3>[[ activity.goal.title ]]</h3>
                    <img data-ng-if="activity.goal.image_path" data-ng-src="[[ activity.goal.cached_image ]]" alt="[[ activity.goal.title ]]"/>
                </a>
                <figcaption>
                    {% include "AppBundle:Blocks:newsFeedGoalFooter.html.twig" with {'goal' : goal }  %}
                </figcaption>
            </figure>
        </div>
    </div>
{% endmacro %}

{%- block title -%}
    {{ 'activities.title'|trans }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'activities.description'|trans }}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}
