<nav class="navbar navbar-default navbar-fixed-top">
    <div id="line"></div>
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    data-ls-mobile-on-menu-click
                    data-ls-trigger="mobilePopoverOpened"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">

                <span data-ng-hide="mobilePopoverOpened" class="sr-only">{{ 'toogle_navigation'|trans }}</span>
                <span data-ng-hide="mobilePopoverOpened" class="icon-bar"></span>
                <span data-ng-hide="mobilePopoverOpened" class="icon-bar"></span>
                <span data-ng-hide="mobilePopoverOpened" class="icon-bar"></span>

                <a href="javascript:void(0)" data-ng-show="mobilePopoverOpened" class="ng-hide icon-remove-email"></a>
            </button>


            <a class="navbar-brand" href="{{ path("homepage") }}">
                <img src="{{ asset('bundles/app/images/logo.png') }}" alt="Bucket List 127" class="img-responsive"/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% if user is defined and feedCount > 0 %}
                    <li>
                        <a href="{{ path('activity') }}">
                            {#<i class="activity-icon"></i>#}
                            <i class="icon-activity-icon"></i>
                            <span class="hidden-sm">{{ 'activity'|trans |upper }}</span>
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('goals_list') }}">
                        {#<i class="ideas-icon"></i>#}
                        <i class="icon-ideas-icon"></i>
                        <span class="hidden-sm">{{ 'ideas'|trans |upper }}</span>
                    </a>
                </li>
                <li class="search">
                    <form class="navbar-form" role="search" action="{{ path("goals_list") }}">
                        <span class="icon-search-icon"></span>
                        <input type="text"
                               name="search"
                               class="form-control"
                               autocomplete="off"
                                {% if app.request.get('_route') == 'goals_list' %}
                                    data-ng-model="search"
                                    data-ng-keypress="doSearch($event)"
                                {% else %}
                                    data-ng-enter-submit=".search form"
                                {% endif %}
                               placeholder="{{ 'search'|trans }}">
                    </form>
                </li>
            </ul>


            {#{% if 'phone' == getDeviceType() %}#}
            {#{{ path("fos_user_security_login") }}#}
            {#{% endif %}#}

            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if app.user %}
                        {% set user = app.user %}
                        {% set lastName = user.lastName %}
                        {% set firstName = user.firstName %}
                        {% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}
                        {% set className = "user-no" ~ random(4) %}

                        <a href="javascript:void(0)"
                           style="display: none"
                           class="settings-modal"
                           data-ls-identity="settingModal"
                           data-ls-template-url="{{ path("settings") }}"
                           data-ls-jquery-modal>
                        </a>

                        <a href="javascript:void(0)"
                           class="user clearfix"
                           data-placement="bottom-left"
                           data-ng-click="joinToggle1 = !joinToggle1"
                           data-html="true"
                           data-ng-class="{'join-class': joinToggle1}"
                           data-content='{{ include("AppBundle:Blocks:user.widget.html.twig") }}'
                           data-animation="am-fade-and-scale"
                           data-bs-popover>
                            {% if user.getPhotoLink %}
                                <figure class="img-circle">
                                    <img src="{{ user.getPhotoLink|blImageFilter('user_icon') }}" alt="{{ user.filename }}" class="img-responsive">
                                </figure>
                            {% else %}
                                <p class="no-image {{ className }}">{{ nameOnImage }}</p>
                            {% endif %}

                            <span class="name">{{ user.firstName }} <br/>{{ user.lastName }}</span>

                            {% if not isMobile() %}
                                <i class="icon-arrow-down" data-ng-hide="joinToggle1"><span class="path1"></span><span class="path2"></span></i>
                                <i class="icon-icon-up ng-hide"  data-ng-show="joinToggle1"><span class="path1"></span><span class="path2"></span></i>
                            {% else %}
                                <div data-open-popover data-dir="true"></div>
                            {% endif %}

                        </a>
                    {% endif %}
                    <a  href="javascript:void(0)"
                            {% if app.user %}
                                style="display: none"
                            {% endif %}
                        data-ng-init="joinToggle2 = false"
                        class="sign-in-popover"
                        data-ng-class="{'join-class': joinToggle2}"
                        data-placement="bottom-left"
                        data-ng-click="joinToggle2 = !joinToggle2"
                        data-content-template="{{ path("fos_user_security_login") }}"
                        data-animation="am-fade-and-scale"
                        data-bs-popover>
                        <i class="icon-join-icon"></i>
                        {{ 'join'|trans }}
                    </a>
                    {% if (isMobile() and not app.user) or not app.user and
                    app.session.flashBag.peekAll|length and
                    app.session.flashBag.peekAll['error'] is defined and
                    app.session.flashBag.peekAll['error'][0] is not null %}
                        <div data-open-popover></div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>