{% if app.user %}
    {% set user = app.user %}
    {% set lastName = user.lastName %}
    {% set firstName = user.firstName %}
    {% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}
    {% set className = "user-no" ~ random(4) %}

    <a href="{{ path("edit_user_profile") }}"
       style="display: none"
       class="settings-modal">
    </a>

    <a href="javascript:void(0)"
       class="user user-popover clearfix"
       data-placement="bottom-left"
       data-ng-click="joinToggle1 = !joinToggle1"
       data-html="true"
       data-auto-close="true"
       data-ng-class="{'join-class': joinToggle1}"
       data-content='{{ include("AppBundle:Blocks:user.widget.html.twig") }}'
       data-animation="am-fade-and-scale"
       data-bs-popover>
        {% if user.getPhotoLink %}
            <figure class="img-circle">
                <img src="{{ user.getPhotoLink|blImageFilter('user_icon') }}" alt="{{ user.filename }}" class="img-responsive">
            </figure>
        {% else %}
            <p class="no-image {{ className }}">{{ nameOnImage }}</p>
        {% endif %}

        <span class="name">{{ user.firstName|slice(0, 8) }} {{ user.firstName|length > 8 ? '...' : '' }}
        <br class="hidden-xs"/>{{ user.lastName|slice(0, 9) }} {{ user.lastName|length > 9 ? '...' : '' }}</span>

        {% if not isMobile() %}
            <i class="icon-arrow-down" data-ng-hide="joinToggle1"><span class="path1"></span><span class="path2"></span></i>
            <i class="icon-icon-up ng-hide"  data-ng-show="joinToggle1"><span class="path1"></span><span class="path2"></span></i>
        {% else %}
            {#todo it automaticaly opened in ipad#}
            <div data-open-popover data-dir="true"></div>
        {% endif %}
    </a>
{% endif %}

<a href="javascript:void(0)"
    {% if app.user %}
        style="display: none"
    {% endif %}
    data-authenticator-login-trigger
    class="sign-in-popover">
    <i class="icon-join-icon"></i>
    {{ 'join'|trans }}
</a>
