{#{% if user %}#}

    {#{% set lastName = user.lastName %}#}
    {#{% set firstName = user.firstName %}#}
    {#{% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}#}
    {#{% set className = "user-no" ~ random(4) %}#}

    {#<button on='tap:sidebar.toggle'>#}
        {#<a class="user">#}

            {#{% if user.getPhotoLink %}#}
                {#<figure>#}
                    {#<amp-img src="{{ user.getPhotoLink|blImageFilter('user_icon') }}" alt="{{ user.filename }}" width="50" height="50"></amp-img>#}
                {#</figure>#}
            {#{% else %}#}
                {#<p class="no-image {{ className }}">{{ nameOnImage | upper}}</p>#}
            {#{% endif %}#}

            {#<span class="name">{{ user.firstName|slice(0, 8) }} {{ user.firstName|length > 8 ? '...' : '' }}</span>#}
        {#</a>#}
    {#</button>#}

{#{% else %}#}
     {#<div class="join">#}
         {#<amp-img src="{{ asset('bundles/app/images/join-icon.svg') }}" alt="Ideas" width="30" height="30"></amp-img>#}
         {#<span>{{ 'join'|trans |upper }}</span>#}
     {#</div>#}

{#{% endif %}#}

<button on='tap:sidebar.toggle'>
    <amp-img src="{{ asset('bundles/app/images/grey-burger.svg') }}" alt="Menu" width="30" height="30"></amp-img>
</button>
