{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ parent() }}

    <div id="goal-friends">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    {% if app.request.get('_route') == 'goal_friends' %}

                        <div class="bg-white padding round">

                            <form role="search" action="#" method="GET">
                                <div class="form-group row">

                                    {#<div class="col-xs-10 col-sm-11">#}
                                        {#<input type="text" name="search" class="form-control" id="inputEmail3" placeholder="{{ 'search_placeholder'|trans }}" value="{{ app.request.get('search') }}">#}
                                    {#</div>#}
                                    {#<div  class="col-xs-2 col-sm-1">#}
                                        {#<a href="{{ path('goal_friends') }}" class="text-gray">#}
                                            {#<i class="icon-remove-video-link"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>#}
                                        {#</a>#}
                                    {#</div>#}

                                    <div class="col-sm-12">
                                        <span class="icon-search-icon"></span>
                                        <input type="text" name="search" class="form-control" id="inputEmail3" placeholder="{{ 'search_placeholder'|trans }}" value="{{ app.request.get('search') }}">
                                    </div>
                                </div>
                            </form>

                            <ul class="goalfrineds-menu">
                                <li>
                                    <a>All</a>
                                </li>

                                <li>
                                    <a>Recently Matched</a>
                                </li>

                                <li>
                                    <a>Most Matching</a>
                                </li>

                                <li>
                                    <a>Most active</a>
                                </li>
                            </ul>
                        </div>

                    {% endif %}

                    {% if app.request.get('slug') is defined  and app.request.get('slug') %}
                        <div>
                            <a href="{{ path('inner_goal', {'slug': app.request.get('slug')}) }}" class="row text-gray heading"> &laquo; Back to {{ title }}</a>
                        </div>
                    {% endif %}

                    {% set counter = 0 %}
                    {% for goalFriend in pagination %}

                        {% if counter is divisible by(2) %}
                            <div class="row {% if app.request.get('_route') == 'goal_friends' and counter == 0 %} margin-top{% endif %}" >
                        {% endif %}

                                <div class="col-sm-6">
                                    <div class="users-list round clearfix">
                                         <a href="{{ path('user_profile', {'user': goalFriend.uId}) }}" style="display:block;">
                                            <div class="row no-gutter">
                                                <div class="col-xs-3">
                                                    <figure class="image-goalfrinds">

                                                    {% if goalFriend.getPhotoLink() %}
                                                        <img src="{{ goalFriend.getPhotoLink()|blImageFilter('user_icon') }}" alt="{{ goalFriend.firstName }}" class="img-circle img-responsive" />
                                                    {% else %}
                                                        {% set nameOnImage = goalFriend.firstName|slice(0,1) ~ goalFriend.lastName|slice(0,1) %}
                                                        {% set className = "user-no" ~ random(4) %}
                                                        <p class="no-image {{ className }}">{{ nameOnImage | upper }}</p>
                                                    {% endif %}
                                                    </figure>
                                                </div>

                                                <div class="col-xs-9">
                                                    <div class="text-gray">
                                                        <h4 class="text-dark-gray">
                                                            {{ goalFriend.firstname }} {{ goalFriend.lastname }}
                                                        </h4>
                                                        {% set stats = goalFriend.getStats %}
                                                        <span class="text-gray">{{ 'listed_by'|trans }} {{ stats.listedBy }}</span> |
                                                        <span class="text-gray">{{ 'completed'|trans }} {{ stats.doneBy }}</span>
                                                        <span class="text-gray">In Common</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                        {% if counter is not divisible by(2) %}
                            </div>
                        {% endif %}
                        {% set counter = counter + 1 %}

                    {% endfor %}

                    {% if counter is not divisible by(2) and counter != 0  %}
                        </div>
                    {% endif %}
                        <br />

                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>

                {% if app.user %}
                    <div class="col-md-4">
                        {% include 'AppBundle:Blocks:completeProfile.html.twig' with {'user': app.user} %}
                        {% include 'AppBundle:Blocks:myBucketlist.html.twig' with {'user': app.user} %}
                        {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': app.user, 'count': 2}  %}
                    </div>
                {% endif %}
            </div>
        </div>
   </div>
{% endblock %}

{%- block title -%}
    {% if app.request.get('_route') == 'goal_friends' %}
        {{- 'goal.friends_title'|trans -}}
    {% else %}
        {{- 'goal.user_title'|trans -}}{% if title %} {{ title }}{% endif %}
    {% endif %}
{%- endblock -%}

{%- block meta_description -%}
    {% if app.request.get('_route') == 'goal_friends' %}
        {{- 'goal.friends_description'|trans -}}
    {% else %}
        {{- 'goal.user_description'|trans -}}{% if title %} {{ title }}{% endif %}
    {% endif %}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}