<div id="homepage-ideas">
    <div class="container">
        <h2 class="text-center text-dark">{{ 'homepage_list_title'|trans }}</h2>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                {% for goal in goals|slice(0, 2)  %}
                    <div class="row" id="main_row1">
                        <div class="col-sm-12">
                            <figure>

                                <h3>{{ goal.title }}</h3>

                                {% set image = goal.getListPhoto %}

                                {% if image %}
                                    {% set image = goal.getListPhoto %}
                                {% endif %}

                                <a href="{{ path('inner_goal', {'id': goal.id }) }}" id="main_goalTitle1">
                                    <img src="{% if image %}{{ image.downloadLink|blImageFilter('goal_ideas_1')  }} {% endif %}" alt="{{ goal.title }}"/>
                                </a>

                                <figcaption>
                                    {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                                </figcaption>

                            </figure>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="col-sm-6 col-md-4" id="main_row2">
                {% for goal in goals|slice(2, 1)  %}
                    <figure>

                        <h3>{{ goal.title }}</h3>

                        {% set image = goal.getListPhoto %}

                        {% if image %}
                            {% set image = goal.getListPhoto %}
                        {% endif %}

                        <a href="{{ path('inner_goal', {'id': goal.id }) }}" id="main_goalTitle2">
                            <img src="{% if image %}{{ image.downloadLink|blImageFilter('goal_ideas_2')  }} {% endif %}" height="603" alt="{{ goal.title }}"/>
                        </a>

                        <figcaption>
                            {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                        </figcaption>

                    </figure>
                {% endfor %}

            </div>

            <div class="col-sm-6 col-md-4">
                {% for goal in goals|slice(3, 2)  %}
                    <div class="row">
                        <div class="col-sm-12">
                            <figure>

                                <h3>{{ goal.title }}</h3>

                                {% set image = goal.getListPhoto %}

                                {% if image %}
                                    {% set image = goal.getListPhoto %}
                                {% endif %}

                                <a href="{{ path('inner_goal', {'id': goal.id }) }}">
                                    <img src="{% if image %}{{ image.downloadLink|blImageFilter('goal_ideas_1')  }} {% endif %}" alt="{{ goal.title }}"/>
                                </a>

                                <figcaption>
                                    {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                                </figcaption>

                            </figure>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>


        <div class="row">
            {% for goal in goals|slice(5, 2)  %}

                <div class="col-md-{{ loop.first ?  8 : 4 }}">
                    <figure>

                        <h3>{{ goal.title }}</h3>

                        {% set image = goal.getListPhoto %}

                        {% if image %}
                            {% set image = goal.getListPhoto %}
                        {% endif %}
                        <a href="{{ path('inner_goal', {'id': goal.id }) }}">
                            <img src="{% if image %}{{ image.downloadLink|blImageFilter('goal_ideas_1') }} {% endif %}" height="260" alt="{{ goal.title }}"/>
                        </a>
                        <figcaption>
                            {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
              <a href="{{ path("goals_list") }}" class="btn btn-purple">{{ 'btn_discover_more'|trans }}</a>
          </div>
        </div>
    </div>
</div>
