<div class="container">
    <h2 class="text-center">Explore over thousand great ideas </h2>

    <div class="row">

        <div class="col-sm-6 col-md-4">
            {% for goal in goals|slice(0, 2)  %}
                <div class="row">
                    <div class="col-sm-12">
                        <figure>
                            {% set image = goal.getPrimaryPhoto %}

                            {% if image %}
                                {% set image = goal.getPrimaryPhoto %}
                            {% endif %}
                            <a href="{{ path('inner_goal', {'id': goal.id }) }}">
                                <img src="{% if image %}{{ image.downloadLink  }} {% endif %}" height="260" alt="{{ goal.title }}">
                            </a>
                            <figcaption>
                                {%  include "AppBundle:Main:goalFooter.html.twig" with {'goal' : goal }  %}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="col-sm-6 col-md-4">
            {% for goal in goals|slice(2, 1)  %}
                <figure>
                    {% set image = goal.getPrimaryPhoto %}

                    {% if image %}
                        {% set image = goal.getPrimaryPhoto %}
                    {% endif %}
                    <a href="{{ path('inner_goal', {'id': goal.id }) }}">
                        <img src="{% if image %}{{ image.downloadLink  }} {% endif %}" height="581" width="346" alt="{{ goal.title }}">
                    </a>
                    <figcaption>
                        {%  include "AppBundle:Main:goalFooter.html.twig" with {'goal' : goal }  %}
                    </figcaption>
                </figure>
            {% endfor %}

        </div>

        <div class="col-sm-6 col-md-4">
            {% for goal in goals|slice(3, 2)  %}
                <div class="row">
                    <div class="col-sm-12">
                        <figure>
                            {% set image = goal.getPrimaryPhoto %}

                            {% if image %}
                                {% set image = goal.getPrimaryPhoto %}
                            {% endif %}
                            <a href="{{ path('inner_goal', {'id': goal.id }) }}">
                                <img src="{% if image %}{{ image.downloadLink  }} {% endif %}" height="262" alt="{{ goal.title }}">
                            </a>
                            <figcaption>
                                {%  include "AppBundle:Main:goalFooter.html.twig" with {'goal' : goal }  %}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


    <div class="row">
        {% for goal in goals|slice(5, 2)  %}

            <div class="col-md-{{ loop.first ?  8 : 4 }}">
                <figure>
                    {% set image = goal.getPrimaryPhoto %}

                    {% if image %}
                        {% set image = goal.getPrimaryPhoto %}
                    {% endif %}
                    <a href="{{ path('inner_goal', {'id': goal.id }) }}">
                        <img src="{% if image %}{{ image.downloadLink  }} {% endif %}" height="260" alt="{{ goal.title }}">
                    </a>
                    <figcaption>
                        {%  include "AppBundle:Main:goalFooter.html.twig" with {'goal' : goal }  %}
                    </figcaption>
                </figure>
            </div>
        {% endfor %}
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
          <a href="{{ path("goals_list") }}" class="btn btn-purple">DISCOVER MORE</a>
      </div>
    </div>
</div>
<br />