<div id="scroll-button"></div>
<div id="homepage-ideas" class="ideas-list">
    <div class="container">
        {% if search is defined and search == 0 %}

        {% else %}
            <h2 class="text-center text-dark">{{ 'homepage_list_title'|trans }}</h2>

        {% endif %}

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                <div class="row idea-item">

                    <div class="col-md-4">
                        {% for goal in goals|slice(0, 2)  %}

                            <div class="row" >
                                <div class="col-sm-12">
                                    <figure>

                                        <h3>
                                            <a href="{{ path('inner_goal', {'slug': goal.slug }) }}">{{ goal.title }}</a>
                                        </h3>

                                        {% set imageDownloadLink = goal.listPhotoDownloadLink %}

                                        <a href="{{ path('inner_goal', {'slug': goal.slug }) }}" >
                                            <span class="overlay"></span>
                                            {% if imageDownloadLink %}
                                                <img src="{{ imageDownloadLink|blImageFilter('goal_list_small')  }}"  alt="{{ goal.title }}"/>
                                            {% endif %}
                                        </a>

                                        <div class="absolute">
                                            <ul>
                                                <li>
                                                    <a href="{{ path('listed_users', {'slug': goal.slug }) }}">
                                                        <span>
                                                            {{ 'home_listed_by'|trans({},'messages') }}
                                                            {{ goal.stats.listedBy }}
                                                        </span>
                                                        <i class="icon-user-small"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a  href="{{ path('done_users', {'slug': goal.slug} ) }}">
                                                        <span>
                                                            {{ 'home_complete'|trans({},'messages') }}
                                                            {{ goal.stats.doneBy }}
                                                        </span>
                                                        <i class="icon-user-small"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <figcaption>
                                            {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                                        </figcaption>

                                    </figure>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <div class="col-md-4" >
                        {% for goal in goals|slice(2, 1)  %}

                            <figure>

                                <h3>
                                    <a href="{{ path('inner_goal', {'slug': goal.slug }) }}">{{ goal.title }}</a>
                                </h3>

                                {% set imageDownloadLink = goal.listPhotoDownloadLink %}

                                <a href="{{ path('inner_goal', {'slug': goal.slug }) }}" class="height">
                                    <span class="overlay height"></span>
                                    {% if imageDownloadLink %}
                                        <img src="{{ imageDownloadLink|blImageFilter('goal_list_vertical')  }} " alt="{{ goal.title }}"/>
                                    {% endif %}
                                </a>

                                <div class="absolute">
                                    <ul>
                                        <li>
                                            <a href="{{ path('listed_users', {'slug': goal.slug }) }}">
                                                <span>
                                                    {{ 'home_listed_by'|trans({},'messages') }}
                                                    {{ goal.stats.listedBy }}
                                                </span>
                                                <i class="icon-user-small"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a  href="{{ path('done_users', {'slug': goal.slug} ) }}">
                                                <span>
                                                    {{ 'home_complete'|trans({},'messages') }}
                                                    {{ goal.stats.doneBy }}
                                                </span>
                                                <i class="icon-user-small"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <figcaption>
                                    {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                                </figcaption>

                            </figure>
                        {% endfor %}

                    </div>

                    <div class="col-md-4">
                        {% for goal in goals|slice(3, 2)  %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <figure>

                                        <h3>
                                            <a href="{{ path('inner_goal', {'slug': goal.slug }) }}">{{ goal.title }}</a>
                                        </h3>

                                        {% set imageDownloadLink = goal.listPhotoDownloadLink %}

                                        <a href="{{ path('inner_goal', {'slug': goal.slug }) }}">
                                            <span class="overlay"></span>

                                            {% if imageDownloadLink %}
                                                <img src="{{ imageDownloadLink|blImageFilter('goal_list_small')  }}" alt="{{ goal.title }}"/>
                                            {% endif %}

                                        </a>

                                        <div class="absolute">
                                            <ul>
                                                <li>
                                                    <a href="{{ path('listed_users', {'slug': goal.slug }) }}">
                                                        <span>
                                                            {{ 'home_listed_by'|trans({},'messages') }}
                                                            {{ goal.stats.listedBy }}
                                                        </span>
                                                        <i class="icon-user-small"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a  href="{{ path('done_users', {'slug': goal.slug} ) }}">
                                                        <span>
                                                            {{ 'home_complete'|trans({},'messages') }}
                                                            {{ goal.stats.doneBy }}
                                                        </span>
                                                        <i class="icon-user-small"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <figcaption>
                                            {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                                        </figcaption>

                                    </figure>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="row idea-item">
                    {% for goal in goals|slice(5, 2)  %}

                        <div class="col-md-{{ loop.first ?  8 : 4 }}">
                            <figure>

                                <h3>
                                    <a href="{{ path('inner_goal', {'slug': goal.slug }) }}">{{ goal.title }}</a>
                                </h3>

                                {% set imageDownloadLink = goal.listPhotoDownloadLink %}

                                <a href="{{ path('inner_goal', {'slug': goal.slug }) }}">
                                    <span class="overlay"></span>
                                    {% if imageDownloadLink %}
                                        <img src="{% if loop.first %}{{ imageDownloadLink|blImageFilter('goal_list_horizontal') }}{% else %}
                                         {{ imageDownloadLink|blImageFilter('goal_list_small') }}{% endif %}" alt="{{ goal.title }}"/>
                                    {% endif %}
                                </a>

                                <div class="absolute">
                                    <ul>
                                        <li>
                                            <a href="{{ path('listed_users', {'slug': goal.slug} ) }}">
                                                <span>
                                                    {{ 'home_listed_by'|trans({},'messages') | capitalize }}
                                                    {{ goal.stats.listedBy }}
                                                </span>
                                                <i class="icon-user-small"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('done_users', {'slug': goal.slug} ) }}">
                                                <span>
                                                    {{ 'home_complete'|trans({},'messages') | capitalize }}
                                                    {{ goal.stats.doneBy }}
                                                </span>
                                                <i class="icon-user-small"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <figcaption>
                                    {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>

                <div style="margin: 20px auto">
                    <div class="col-sm-12">
                        <div id="story-slider-homepage" class="swiper-container">
                            <!-- Slides Container -->
                            <div class="swiper-wrapper">
                                {#{% for key, story in stories %}#}
                                    {#{% set addedUser = story.user %}#}
                                    {#{% set files = story.files %}#}
                                    {#{% set videos = story.videoLink %}#}
                                    {#<div class="swiper-slide comment-place story-fade-in"#}
                                         {#data-ng-init="count[{{ story.id }}] = {{ story.voters|length }}">#}
                                        {#<div class="row">#}
                                            {#<div class="col-sm-9">#}
                                                {#<div class="clearfix">#}
                                                    {#<a href="#" class="pull-left">#}
                                                        {#{% set nameOnImage = addedUser.firstName|slice(0,1) ~ addedUser.lastName|slice(0,1) %}#}
                                                        {#{% set className = "user-no" ~ random(4) %}#}

                                                        {#<figure class="user-image">#}
                                                            {#{% if addedUser.getPhotoLink  %}#}
                                                                {#<img src="{{ addedUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive" alt="{{ addedUser.firstName }}">#}
                                                            {#{% else %}#}
                                                                {#<span class="no-image text-white {{ className }}">{{ nameOnImage | upper}}</span>#}
                                                            {#{% endif %}#}
                                                        {#</figure>#}

                                                    {#</a>#}

                                                    {#<div class="pull-left">#}
                                                        {#<p>#}
                                                            {#<a href="#" class="text-dark-gray">{{ addedUser.showName }}</a>#}
                                                        {#</p>#}
                                                        {#<span data-ng-cloak>#}
                                                            {#{{ story.updated | date('m/d/Y H:i O') }}#}
                                                        {#</span>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#</div>#}

                                            {#<div class=" col-sm-3 text-right" data-ng-cloak>#}
                                                {#<span class="text-purple">[[ count[{{ story.id }}] ]]</span>#}
                                                {#<i class="like-icon user-story"></i>#}
                                            {#</div>#}

                                        {#</div>#}
                                        {#<div class="row">#}
                                            {#<div class="col-sm-10 col-sm-offset-1">#}
                                                {#<p>{{ story.story }} </p>#}
                                            {#</div>#}
                                        {#</div>#}

                                        {#{% if files and files|length %}#}

                                            {#{% if files|length == 1 %}#}
                                                {#{% set file = files.first %}#}
                                                {#<div class="row">#}
                                                    {#<div class="col-sm-12">#}
                                                        {#<figure>#}
                                                            {#<img src="{{ file.getDownloadLink|blImageFilter('goal_list_small') }}" alt="{{ file.fileName }}" height="360"/>#}
                                                        {#</figure>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#{% else %}#}
                                                {#<div class="row">#}
                                                    {#<div class="col-sm-12">#}
                                                        {#<div id="story-slider-image{{ key }}" class="swiper-container story-slider image-slider">#}
                                                            {#<!-- Slides Container -->#}
                                                            {#<div class="swiper-wrapper">#}
                                                                {#{% for k,file in files %}#}
                                                                    {#<div class="swiper-slide">#}
                                                                        {#<a href="{{ file.downloadLink|blImageFilter('slide_max_size') }}" class="swipebox">#}
                                                                            {#<img class="img-responsive" src="{{ file.downloadLink|blImageFilter('goal_list_small') }}" alt="{{ file.fileName }}"/>#}
                                                                        {#</a>#}
                                                                    {#</div>#}
                                                                {#{% endfor %}#}
                                                            {#</div>#}

                                                            {#{% if files|length > 2 %}#}
                                                                {#<div class="swiper-pagination swiper-pagination-white"></div>#}
                                                                {#<!-- Add Arrows -->#}
                                                                {#<div class="swiper-button-next swiper-button-white"></div>#}
                                                                {#<div class="swiper-button-prev swiper-button-white"></div>#}
                                                            {#{% endif %}#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}

                                        {#{% if videos and videos|length %}#}

                                            {#{% if videos|length == 1 %}#}
                                                {#{% set v = videos[0] %}#}
                                                {#<div class="row">#}
                                                    {#<div class="col-sm-12">#}
                                                        {#<figure>#}
                                                            {#<embed-video#}
                                                                    {#data-ng-href="[[ ::storySliderVideo[{{ key }}] ]]"#}
                                                                    {#data-ng-init="storySliderVideo[{{ key }}]='{{ v }}'"#}
                                                                    {#height="360px"#}
                                                                    {#width="100%">#}
                                                            {#</embed-video >#}
                                                        {#</figure>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#{% else %}#}
                                                {#<div class="row">#}
                                                    {#<div class="col-sm-12">#}
                                                        {#<div id="story-slider-video{{ key }}" class="swiper-container story-slider video-slider">#}
                                                            {#<!-- Slides Container -->#}
                                                            {#<div class="swiper-wrapper">#}
                                                                {#{% for k,video in videos %}#}
                                                                    {#{% if video %}#}
                                                                        {#<div class="swiper-slide">#}
                                                                            {#<embed-video#}
                                                                                    {#u="image"#}
                                                                                    {#data-ng-init="storySliderVideo[{{ key }}][{{ k }}]='{{ video }}'"#}
                                                                                    {#width="100%"#}
                                                                                    {#height="360px"#}
                                                                                    {#data-ng-href="[[ ::storySliderVideo[{{ key }}][{{ k }}] ]]">#}
                                                                            {#</embed-video>#}
                                                                        {#</div>#}
                                                                    {#{% endif %}#}
                                                                {#{% endfor %}#}
                                                            {#</div>#}

                                                            {#<div class="swiper-pagination swiper-pagination-white"></div>#}
                                                            {#<!-- Add Arrows -->#}
                                                            {#<div class="swiper-button-next swiper-button-white"></div>#}
                                                            {#<div class="swiper-button-prev swiper-button-white"></div>#}
                                                        {#</div>#}
                                                    {#</div>#}
                                                {#</div>#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}
                                    {#</div>#}
                                {#{% endfor %}#}

                            </div>

                            <div class="swiper-pagination swiper-pagination-white"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                    </div>
                </div>

                <div class="row idea-item">
                    <div class="col-sm-12 text-center">
                        <a href="{{ path("goals_list") }}" class="btn btn-purple">{{ 'btn_discover_more'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
