{% extends "AppBundle:Main:activities.html.twig" %}

{% block angularApp %}
<html data-ng-app="leaderboard" data-ng-controller="leaderboardController">
{% endblock %}

{% block test  %}

    <div id="leaderboard-place">
        <figure class="round">
            <img src="{{ asset('bundles/app/images/leaderboard-image.jpg') }}" alt="Bucket List 127" class="img-responsive"/>
            <figcaption>
                <ul class="badge-place">
                    <li>
                        <a href="javascript:void(0)" data-ng-click="goTo(LeaderboardConstant['TYPE_TRAVELLER'])" data-ng-class="{'active': pageStatus == LeaderboardConstant['TYPE_TRAVELLER']}">
                            <i></i>
                            <span class="text-dark-gray">Traveler</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-ng-click="goTo(LeaderboardConstant['TYPE_INNOVATOR'])" data-ng-class="{'active': pageStatus == LeaderboardConstant['TYPE_INNOVATOR']}">
                            <i></i>
                            <span class="text-dark-gray">Inovator</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-ng-click="goTo(LeaderboardConstant['TYPE_MOTIVATOR'])" data-ng-class="{'active': pageStatus == LeaderboardConstant['TYPE_MOTIVATOR']}">
                            <i></i>
                            <span class="text-dark-gray">S.S. writer</span>
                        </a>
                    </li>
                </ul>
            </figcaption>
        </figure>

        <ul class="bg-white round margin-top">
            <li class="text-orange">1</li>

            <li>
                <figure>
                    <img src=" " alt="user image"/>
                </figure>
            </li>

            <li class="text-dark-gray">Name Name</li>

            <li class="text-orange">1234</li>
        </ul>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/app_leaderboard.js'
    'bundles/app/js/angular/modules/leaderboard/leaderboard.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{#todo add title and descripstion#}

{%- block title -%}
    {{- 'leaderboard.title'|trans -}}
{%- endblock -%}

{%- block meta_description -%}
    {{- 'leaderboard.description'|trans -}}
{%- endblock -%}

{#{%- block og_url -%}#}
{#{{- app.request.uri -}}#}
{#{%- endblock -%}#}