{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ parent() }}

    {% set convertedNews = convertNews(pagination) %}

    <div class="container" id="news-feed">
        <div class="row">
            <div class="col-md-8">

                {% for convertedNew in convertedNews %}

                    <div class="bg-white">
                        <div class="clearfix">

                            <figure class="image">
                                <img src="{{ convertedNew.user.filename ? convertedNew.user.getImagePath() : asset('bundles/app/images/cover.jpg') }}"
                                     alt= "Some image" class="img-circle img-responsive" />
                            </figure>

                            <div class="">
                                <h4>
                                    {{ convertedNew.user.firstname }} {{ convertedNew.user.lastname }} <span>{{ convertedNew.action }}</span>
                                </h4>
                                <p>{{ convertedNew.datetime|date('d M Y H:i') }}</p>
                            </div>
                        </div>

                        {% if convertedNew.comment is not null %}
                            {{ convertedNew.comment.body }}
                        {% endif %}

                        {% if convertedNew.successStory is not null %}
                            {{ convertedNew.successStory.story }}
                        {% endif %}


                        <div class="row">

                            <div class="col-sm-12">
                                <figure>
                                    <a href="{{ path('inner_goal', {'id': convertedNew.goal.id }) }}" id="goalTitle">
                                        <h3>{{ convertedNew.goal.title }}</h3>
                                        <img src="{{ convertedNew.goal.getListPhoto ? convertedNew.goal.getListPhoto.getDownloadLink : null }}" alt= "Some image" class="img-responsive" />
                                    </a>
                                    <figcaption>
                                        {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : convertedNew.goal }  %}
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <br/>
                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>


            <div class="col-md-4 ">
                {% include 'AppBundle:Blocks:completeProfile.html.twig' with {'user': app.user}  %}
                {% include 'AppBundle:Blocks:myBucketlist.html.twig' with {'user': app.user} %}
                {% include 'AppBundle:Blocks:goalfriends.html.twig' with {'user': app.user} %}


                <ul class="right-block">
                    <li class="clearfix">
                        <a href="#">{{ 'right_menu.create'|trans }}</a>
                        <a href="#">{{ 'right_menu.draft'|trans }}
                            <span>dfdf</span>
                        </a>
                    </li>
                    <li>
                        {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': app.user, 'count': 2}  %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}