{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    {{ parent() }}

    {% set convertedNews = convertNews(pagination) %}

    <div class="container" id="news-feed">
        <div class="row">
            <div class="col-md-8">
                {% for convertedNew in convertedNews %}

                    {% if convertedNew.comment is not null or convertedNew.successStory is not null %}
                        {{ _self.goal(convertedNew.goal) }}
                    {% endif %}


                    <div class="bg-white" style="padding: 10px">
                        <div class="clearfix">

                            <figure class="image">
                                <img src="{{ convertedNew.user.getPhotoLink() ? convertedNew.user.getPhotoLink() : asset('bundles/app/images/cover.jpg') }}"
                                     alt= "Some image" class="img-circle img-responsive" />
                            </figure>

                            <div class="">
                                <h4>
                                    {{ convertedNew.user.firstname }} {{ convertedNew.user.lastname }} <span>{{ convertedNew.action }}</span>
                                </h4>
                                <p>{{ convertedNew.datetime|date('d M Y H:i') }}</p>
                            </div>
                        </div>

                        {% if convertedNew.comment is not null %}
                            <div style="font-size: 17px; padding: 10px 30px; background-color: #F2F2F2;">{{ convertedNew.comment.body }}</div>
                        {% endif %}

                        {% if convertedNew.successStory is not null %}
                            <div style="font-size: 17px; padding: 10px 30px; background-color: #F2F2F2;">{{ convertedNew.successStory.story }}</div>
                        {% endif %}

                        {% if convertedNew.comment is null and convertedNew.successStory is null %}
                            {{ _self.goal(convertedNew.goal) }}
                        {% endif %}

                    </div>
                    <br/>
                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>

            <div class="col-md-4 ">
                {% include 'AppBundle:Blocks:completeProfile.html.twig' with {'user': app.user}  %}
                {% include 'AppBundle:Blocks:myBucketlist.html.twig' with {'user': app.user} %}
                {% include 'AppBundle:Blocks:goalfriends.html.twig' with {'user': app.user} %}

                <ul class="right-block">
                    <li class="clearfix">
                        <span>{{ 'right_menu.ideas'|trans }}</span>
                        <a href="{{ path("goals_list") }}">{{ 'right_menu.show'|trans }}</a>
                    </li>
                    <li>
                        {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': app.user, 'count': 2}  %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% macro goal(goal) %}
    <div class="row">
        <div class="col-sm-12">
            <figure>
                <a href="{{ path('inner_goal', {'id': goal.id }) }}" id="goalTitle">
                    <h3>{{ goal.title }}</h3>
                    <img src="{{ goal.getListPhoto ? goal.getListPhoto.getDownloadLink : null }}" alt= "Some image" class="img-responsive" />
                </a>
                <figcaption>
                    {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : goal }  %}
                </figcaption>
            </figure>
        </div>
    </div>
{% endmacro %}