{% block body_text %}

    {% set baseUrl = app.request.getSchemeAndHttpHost() %}
    {% set className = "user-no" ~ random(4) %}
    {% set lastName = user.lastName %}
    {% set firstName = user.firstName %}
    {% set senderName = user.showName %}
    {% set author = goal.author %}
    {% set email = author.email %}
    {% set slug = goal.slug %}
    {% set goalUrl = url('inner_goal', {'slug': slug}) %}
    {% set homePageUrl = url('homepage') %}

    {% autoescape false %}

        {#<img src="{{ asset('bundles/app/images/logo.png') }}" alt="Bucket List 127" class="img-responsive"/>#}
        <img src="http://www.bucketlist127.com/bundles/app/images/logo.png?v310" alt="Bucket List 127" class="img-responsive"/>

        {{ mailText|trans({'%senderName%' : senderName, '%link%': goalUrl}, 'email', language) }}

    <div>
        {{ goal.title }}
        <p>{{ 'now'|date('d M Y') }} at {{ 'now'|date('H:m') }}</p>
    </div>
       <p>{{ eventText }}</p>

        {% if user.getPhotoLink %}
            {#{% set senderPhoto = baseUrl~user.getPhotoLink %}#}
            <figure class="img-circle">
                {#<img src="{{ senderPhoto|blImageFilter('user_icon') }}" alt="{{ user.filename }}" class="img-responsive">#}
                <img src="http://www.bucketlist127.com/media/cache/user_icon/uploads/photo/d1052f795ab770284fa73783ef43db56.jpg" alt="{{ user.filename }}" class="img-responsive">
            </figure>
        {% else %}
            <p class="no-image {{ className }}">{{ nameOnImage }}</p>
        {% endif %}

        {% set cover = goal.getCoverPhotoDownloadLink %}
        {#{% set imgPath ='bundles/app/images/cover' ~ random(4) ~ '.png' %}#}
        {#{% set imgPath ='http://www.bucketlist127.com/bundles/app/images/cover' ~ random(4) ~ '.png' %}#}

        <figure class="goal-image">
            <span class="overlay"></span>
            <img src="
        {% if cover %}
              {#{% set goalPhoto = baseUrl~cover %}#}
              {#{% set goalPhoto = 'http://www.bucketlist127.com/uploads/images/tfss-7c1d71f9-b5c9-4233-b7e1-faeca7d2b2fc-Hong-Kong.jpg' %}#}
              {% set goalPhoto = 'http://www.bucketlist127.com/media/cache/goal_list_small/uploads/images/eda28adcc31714a040e46b8116983d15.jpg' %}
             {#{{ goalPhoto|blImageFilter('goal_bg') }}#}
             {{ goalPhoto }}
        {#{% else %}#}
             {#{{ asset(imgPath)}}#}
             {#{{ imgPath }}#}
        {% endif %}"
                 alt="{{ goal.title }}" />
        </figure>

    <p>
        <a href = "{{ goalUrl }}">{{ 'email_bucketlist_link'|trans({}, 'email', language) }}</a>
    </p>

        <footer>
            <div class="container">

                <ul class="apps clearfix">
                    <li>
                        <a href="https://itunes.apple.com/am/app/bucket-list-things-to-do-before/id978336819" class="app-store" target="_blank">
                            {#<img src="{{ asset('bundles/app/images/appstore.png') }}" alt="Appstore" class="img-responsive"/>#}
                            <img src="{{ 'http://www.bucketlist127.com/bundles/app/images/appstore.png' }}" alt="Appstore" class="img-responsive"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.magicdevs.bucketlist" class="google-play" target="_blank">
                            <img src="{{ 'http://www.bucketlist127.com/bundles/app/images/googleplay.png' }}" alt="Googleplay" class="img-responsive"/>
                        </a>
                    </li>
                </ul>

                {#for css class include,need to inline format for style#}
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/bucketlist127com/" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.twitter.com/bucketlist127" target="_blank">
                            <i class="fa fa-twitter-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.pinterest.com/bucketlist127/" target="_blank">
                            <i class="fa fa-pinterest-square"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/bucketlist127/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                </ul>

            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        {{ 'notify_email_footer'|trans({'%email%': email, '%homePage%' : homePageUrl}, 'email', language) }}
                    </div>
                </div>
            </div>
        </footer>
    {% endautoescape %}

{% endblock %}
