<!DOCTYPE html >
<html amp lang="en">
<head>
    <meta charset="utf-8" />
    <title>{%- block title -%}BucketList{%- endblock -%}</title>
    <meta name="description" content="{%- block meta_description -%}BucketList{%- endblock -%}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {# this allows to add additional meta data #}
    {% block meta %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bucketlist152x152.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bucketlist120x120.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bucketlist72x72.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bucketlist57x57.png') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="https://ampbyexample.com/components/amp-list/">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>

    <script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>



    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>

        {% block stylesheets %}
            {% stylesheets output='css/amp-base.css'
                '@AppBundle/Resources/public/less/amp.less'
            %}
            {{ source(asset_url|remove_asset_version) }}
            {% endstylesheets %}
        {% endblock %}

    </style>

</head>

<body>
{% block body %}
    <div id="mainframe">
        <div id="wrap">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div id="line"></div>
                    <div class="category" id="main-nav">
                        <div class="navbar-header">
                            {% if not app.user or not isMobile() or isTablet()%}
                                <a class="navbar-brand hidden-xs" href="{{ path("homepage") }}">
                                    <amp-img src="{{ asset('bundles/app/images/logo.png') }}" alt="Bucket List 127" width="125" height="50"></amp-img>
                                </a>
                            {% endif %}
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                {% if app.user and app.user.activity %}
                                    <li class="ActivityPage{% if app.request.get('_route') == 'activity' %}active{% endif %}">
                                        <a href="{{ path('activity') }}">
                                            <amp-img src="{{ asset('bundles/app/images/activity.svg') }}" alt="activity" width="30" height="30"></amp-img>
                                            <span class="hide-text">{{ 'activity'|trans |upper }}</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="{{ path('goals_list') }}">
                                        <amp-img src="{{ asset('bundles/app/images/ideas.svg') }}" alt="Ideas" width="30" height="30"></amp-img>
                                        <span class="hide-text">{{ 'ideas'|trans |upper }}</span>
                                    </a>
                                </li>

                                {% if app.user %}
                                    <li {% if app.request.get('_route') == 'user_profile_single' %}class="active" data-ng-click="scrollTop()"{% endif %}>
                                        <a href="{{ path('user_profile_single') }}">
                                            <amp-img src="{{ asset('bundles/app/images/my-bucketlist.svg') }}" alt="Mybucketlist" width="25" height="30"></amp-img>
                                            <span class="hide-text">{{ 'my_bucketlist'|trans |upper }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                {#{% if app.user %}#}
                                    {#<li id="notification">#}
                                        {#{{ include('AppBundle:Blocks:notification.html.twig') }}#}
                                    {#</li>#}
                                {#{% endif %}#}
                                {#<li>#}
                                    {#{{ render_esi(controller('AppBundle:Main:esiUser')) }}#}
                                {#</li>#}
                            </ul>
                        </div>

                    </div>
                </nav>
            </header>
            {% block content %}{% endblock %}
        </div>

        <footer>

            <div class="category">
                <ul class="apps clearfix">
                    <li>
                        <a href="https://itunes.apple.com/am/app/bucket-list-things-to-do-before/id978336819" class="app-store" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/appstore.png') }}" alt="Appstore" height="40" width="138"></amp-img>
                        </a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.magicdevs.bucketlist" class="google-play" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/googleplay.png') }}" alt="Googleplay" height="40" width="138"></amp-img>
                        </a>
                    </li>
                </ul>

                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/bucketlist127com/" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/facebook-icon.svg') }}" alt="Facebook" height="40" width="40"></amp-img>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/bucketlist127/" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/instagram-icon.svg') }}" alt="Instagram" height="40" width="40"></amp-img>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.twitter.com/bucketlist127" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/twitter-icon.svg') }}" alt="Twitter" height="40" width="40"></amp-img>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.pinterest.com/bucketlist127/" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/pinterest-icon.svg') }}" alt="Pinterest" height="40" width="40"></amp-img>
                        </a>
                    </li>

                    <li>
                        <a href="https://plus.google.com/+Bucketlist127com" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/gplus-icon.svg') }}" alt="Google" height="40" width="40"></amp-img>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/channel/UCPKHRpfrec7Xm0iyLi0VQ7g" target="_blank">
                            <amp-img src="{{ asset('bundles/app/images/youtube-icon.svg') }}" alt="Youtube" height="40" width="40"></amp-img>
                        </a>
                    </li>

                </ul>

                {{ knp_menu_render('AppBundle:Builder:mainMenu') }}

            </div>

        <div class="footer-bottom">
            <div class="category">
                <small>&copy; {{ 'copyright'|trans | upper }}</small>
                {{ knp_menu_render('AppBundle:Builder:privacyMenu') }}
            </div>
        </div>

    </footer>
    </div>
{% endblock %}
</body>
</html>
