<!DOCTYPE html >
<html amp lang="en">
<head>
    <meta charset="utf-8" />
    <title>{%- block title -%}BucketList{%- endblock -%}</title>
    <meta name="description" content="{%- block meta_description -%}BucketList{%- endblock -%}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {# this allows to add additional meta data #}
    {% block meta %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bucketlist152x152.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bucketlist120x120.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bucketlist72x72.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bucketlist57x57.png') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="https://ampbyexample.com/components/amp-list/">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    {# custom css#}
    <style amp-custom>
        {% block stylesheets %}
            {% stylesheets output='css/amp-base.css'
                '@AppBundle/Resources/public/less/amp.less'
            %}
            {#{{ source(asset_url|remove_asset_version) }}#}
            {% endstylesheets %}
        {% endblock %}
    </style>
</head>

<body>
{% block body %}
    {# header + menu#}
    {% block content %}{% endblock %}
    {# footer #}
{% endblock %}
</body>
</html>
