<!DOCTYPE html>
{% block angularApp %} <html data-ng-app="main" data-ng-controller="MainController"> {% endblock %}

{% set lang = app.request.attributes.get('_locale') %}
{% set host = app.request.getSchemeAndHttpHost() %}
{% set user = app.user %}

    <head>
        <meta charset="UTF-8" />
        <title>{%- block title -%}BucketList{%- endblock -%}</title>
        <meta name="description" content="{%- block meta_description -%}BucketList{%- endblock -%}">
        <meta property="og:title" content="{%- block og_title -%}BucketList{%- endblock -%}" />
        <meta property="og:url" content="{%- block og_url -%}{{- app.request.uri -}} {%- endblock -%}" />
        <meta property="og:description" content="{%- block og_description -%}BucketList {%- endblock -%}" />
        <meta property="og:site_name" content="BucketList" />
        <meta property="og:image" content="{%- block og_image -%}{{ 'bl.w3docs.com/favicon.ico' }}{%- endblock -%}" />
        <meta property="og:type" content="article">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset("app/bower_components/bootstrap/dist/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("app/bower_components/angular-motion/dist/angular-motion.min.css") }}">
        <link rel="stylesheet" href="{{ asset("app/bower_components/jquery-nice-select/css/nice-select.css") }}">


        {% block stylesheets %}
            {% stylesheets output='css/base.css'
            'bundles/app/less/style.less'
            'bundles/app/less/news-feed.less'
            'bundles/app/less/notices.less'
            'bundles/app/less/goals.less'
            'bundles/app/less/ideas.less'
            'bundles/app/less/modal.less'
            'bundles/app/less/profile.less'
            'bundles/app/less/comments.less'
            'bundles/app/less/icons.css'
            filter='less,cssrewrite,?yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

        <link rel="stylesheet" href="{{ asset('app/bower_components/jquery-modal/jquery.modal.css') }}">


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bucketlist152x152.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bucketlist120x120.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bucketlist72x72.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bucketlist57x57.png') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <script src="{{ asset('app/bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
    </head>

    <body>

    {% if not app.debug %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-73721689-1', 'auto');
            ga('send', 'pageview' {% if app.request.get('search') != null %} , '/goals?q={{ app.request.get('search') }}' {% endif %} );

        </script>
    {% endif %}

        <div data-ls-jquery-modal
             style="display: none"
             data-ls-identity="mobileDetectModal"
             data-ls-template-url="{{ asset('bundles/app/htmls/mobileModal.html') }}">
        </div>

        {% set addUrl =  getSession('addUrl') %}
        
        {% if addUrl is not null %}
            <div data-ls-jquery-modal
                 style="display: none"
                 class="not-login-modal"
                 data-ls-identity="notLoginModal"
                 data-ls-template-url="{{ addUrl }}">
            </div>
        {% endif %}

        {% block body %}
        <div id="mainframe">
            <div id="wrap">
                <header>
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div id="line"></div>
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">{{ 'toogle_navigation'|trans }}</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="{% if user %}{{ path("activity") }}{% else %}{{ path("homepage") }}{% endif %}">
                                    <img src="{{ asset('bundles/app/images/logo.png') }}" alt="logo" class="img-responsive"/>
                                    {#<span class="icon-logo">#}
                                        {#<span class="path1"></span>#}
                                        {#<span class="path2"></span>#}
                                        {#<span class="path3"></span>#}
                                        {#<span class="path4"></span>#}
                                        {#<span class="path5"></span>#}
                                        {#<span class="path6"></span>#}
                                        {#<span class="path7"></span>#}
                                        {#<span class="path8"></span>#}
                                        {#<span class="path9"></span>#}
                                    {#</span>#}
                                </a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    {% if user %}
                                    <li>
                                        <a href="{{ path('activity') }}">
                                            {#<i class="activity-icon"></i>#}
                                            <i class="icon-activity-icon"></i>
                                            <span class="hidden-sm">{{ 'activity'|trans |upper }}</span>
                                        </a>
                                    </li>

                                    {% endif %}
                                    <li>
                                        <a href="{{ path('goals_list') }}">
                                            {#<i class="ideas-icon"></i>#}
                                            <i class="icon-ideas-icon"></i>
                                            <span class="hidden-sm">{{ 'ideas'|trans |upper }}</span>
                                        </a>
                                    </li>
                                    <li class="search">
                                        <form class="navbar-form" role="search" action="{{ path("goals_list") }}">
                                            <input type="text"
                                               name="search"
                                               class="form-control"
                                               value="{{ app.request.get('search') }}"
                                               data-ng-enter-submit=".search form"
                                               placeholder="{{ 'search'|trans }}">
                                        </form>
                                    </li>
                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        {% if app.user %}
                                            {% set user = app.user %}
                                            {% set lastName = user.lastName %}
                                            {% set firstName = user.firstName %}
                                            {% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}
                                            {% set className = "user-no" ~ random(4) %}

                                            <a href="javascript:void(0)"
                                               style="display: none"
                                               class="settings-modal"
                                               data-ls-identity="settingModal"
                                               data-ls-template-url="{{ path("settings") }}"
                                               data-ls-jquery-modal>
                                            </a>

                                            <a href="javascript:void(0)"
                                                class="user clearfix"
                                                data-placement="bottom-left"
                                                data-ng-click="joinToggle1 = !joinToggle1"
                                                data-html="true"
                                                data-content='{{ include("AppBundle:Blocks:user.widget.html.twig") }}'
                                                data-animation="am-fade-and-scale"
                                                data-bs-popover>
                                                {% if user.getPhotoLink %}
                                                    <figure class="img-circle">
                                                            <img src="{{ user.getPhotoLink|blImageFilter('user_icon') }}" alt="{{ user.filename }}" class="img-responsive">
                                                    </figure>
                                                {% else %}
                                                    <p class="no-image {{ className }}">{{ nameOnImage  }}</p>
                                                {% endif %}

                                                <span>{{ user.firstName }} <br/>{{ user.lastName }}</span>
                                                <span class="menu-down" data-ng-hide="joinToggle1"></span>
                                                <span class="menu-up" data-ng-show="joinToggle1"></span>
                                            </a>
                                        {% endif %}
                                            <a  href="javascript:void(0)"
                                                {% if app.user %}
                                                    style="display: none"
                                                {% endif %}
                                                data-ng-init="joinToggle2 = false"
                                                class="sign-in-popover"
                                                data-ng-class="{'join-class': joinToggle2}"
                                                data-placement="bottom-left"
                                                data-ng-click="joinToggle2 = !joinToggle2"
                                                data-content-template="{{ path("fos_user_security_login") }}"
                                                data-animation="am-fade-and-scale"
                                                data-bs-popover>
                                                <i class="join"></i>
                                                {{ 'join'|trans }}
                                            </a>
                                            {% if not app.user and
                                            app.session.flashBag.peekAll|length and
                                            app.session.flashBag.peekAll['error'] and
                                            app.session.flashBag.peekAll['error'][0] is not empty %}
                                                <div data-open-popover></div>
                                            {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                {% block confirm_email %}
                    {% if app.user and app.user.getRegistrationToken is not null %}
                        <div class="email">
                            <div class="container">
                                <div class="row no-gutter">
                                    <div class="col-sm-9">
                                        <span>
                                            {{ 'register_text'|trans({'%XXX%': project_name}) }}
                                            {{ 'registration.check_email'|trans({'%email%': app.user.email}, 'FOSUserBundle') }}
                                        </span>
                                    </div>
                                    <div class="col-sm-3">
                                        <a id="resend_message" href="{{ path('resend_message') }}">{{ 'email.resend'|trans({}, 'FOSUserBundle') | upper }}</a>
                                        <a href="{{ path('update_email') }}">{{ 'email.update'|trans({}, 'FOSUserBundle') | upper }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
            <footer>
                <div class="container">

                    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}

                    <ul class="apps clearfix">
                        <li>
                            <a href="https://itunes.apple.com/am/app/bucket-list-things-to-do-before/id978336819" class="app-store"></a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.magicdevs.bucketlist" class="google-play"></a>
                        </li>
                    </ul>

                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-5">
                                <small>&copy; {{ 'copyright'|trans }}</small>
                            </div>
                            <div class="col-xs-7">
                                {{ knp_menu_render('AppBundle:Builder:privacyMenu') }}
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>

        {% endblock %}

        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en"></script>

            {% javascripts output='js/base_script.js'
                'app/bower_components/jquery-form/jquery.form.js'
                'app/bower_components/jquery-nice-select/js/jquery.nice-select.min.js'
                'app/bower_components/jquery.scrollTo/jquery.scrollTo.min.js'
                'app/bower_components/bootstrap/dist/js/bootstrap.min.js'
                'app/bower_components/angular/angular.min.js'
                'app/bower_components/re-tree/re-tree.min.js'
                'app/bower_components/ng-device-detector/ng-device-detector.min.js'
                'app/bower_components/angular-animate/angular-animate.min.js'
                'app/bower_components/angular-sanitize/angular-sanitize.min.js'
                'app/bower_components/angular-strap/dist/angular-strap.min.js'
                'app/bower_components/angular-strap/dist/angular-strap.tpl.min.js'
                'app/scripts/Interpolation/Interpolation.js'
                'app/scripts/Components/Components.js'
                'app/scripts/Google/Google.js'
                'bundles/applicationuser/js/angular/user.js'
                'bundles/app/js/angular/main.js'
                'app/bower_components/jquery-modal/jquery.modal.min.js'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5624b2123b6addeb" async="async"></script>

            <script>
                $(function () {
                    $('[data-toggle="popover"]').popover()
                });

                function openSettingsModal(){
                    $('.settings-modal').trigger('openLsModal','settingModal');
                }

                {% set error = app.session.get('jsForm') %}

                {% if error is not null  %}
                    setTimeout(openSettingsModal, 500);
                {% endif %}

                $(document).ready(function(){
                    {% if addUrl is not null %}
                        setTimeout(function(){
                            $(".not-login-modal").trigger('openLsModal', 'notLoginModal');
                        }, 1000);
                    {% endif %}
                });

            </script>

            <script>
                function EmailValidation(textbox){

                    if(textbox.value.indexOf('@') == -1){
                        textbox.setCustomValidity("{{ 'email.dogApsent'|trans({}, "FOSUserBundle") }}");
                    }
                    else if (textbox.value[0] == '@'){
                        textbox.setCustomValidity("{{ 'email.beforeDog'|trans({}, "FOSUserBundle") }}");
                    }
                    else if (!textbox.value.match(/@.+\..+/g)){
                        textbox.setCustomValidity("{{ 'email.afterDog'|trans({}, "FOSUserBundle") }}");
                    }
                    else {
                        textbox.setCustomValidity('');
                    }

                    return true;
                }
            </script>

        {% endblock %}
    </body>
</html>
