<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset("jquery_components/bootstrap/dist/css/bootstrap.min.css") }}">

        {% block stylesheets %}
            {% stylesheets output='css/base.css'
            'bundles/app/less/style.less'
            filter='less,cssrewrite,yui_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset("jquery_components/jquery/dist/jquery.js") }}"></script>
            <script src="{{ asset("jquery_components/bootstrap/dist/js/bootstrap.min.js") }}"></script>

        {% endblock %}
    </body>
</html>
