<!DOCTYPE html>
{% block angularApp %} <html data-ng-app="main" data-ng-controller="MainController"> {% endblock %}

{% set lang = app.request.attributes.get('_locale') %}
{% set host = app.request.getSchemeAndHttpHost() %}
{% set user = app.user %}
{% set testUrl = app.request.getSchemeAndHttpHost() %}

    <head>
        <meta charset="UTF-8" />
        <title>{%- block title -%}BucketList{%- endblock -%}</title>
        <meta name="description" content="{%- block meta_description -%}BucketList{%- endblock -%}">
        <meta property="og:title" content="{%- block og_title -%}{{ block('title') }}{%- endblock -%}" />
        <meta property="og:url" content="{%- block og_url -%}{{- app.request.uri -}} {%- endblock -%}" />
        <meta property="og:description" content="{%- block og_description -%}{{ block('meta_description') }}{%- endblock -%}" />
        <meta property="og:site_name" content="BucketList" />
        {#<meta property="og:image" content="{%- block og_image -%}{{ 'bl.w3docs.com/favicon.ico' }}{%- endblock -%}" />#}
        <meta property="og:image" content="{%- block og_image -%}{{ app.request.schemeAndHttpHost }}/bundles/app/images/bucketlist.jpg{%- endblock -%}" />
        <meta property="og:type" content="article">
        <meta property="fb:pages" content="1711606329055370" />
        
        <link rel="canonical" href="https://www.bucketlist127.com{{ app.request.getPathInfo }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ asset("app/bower_components/bootstrap/dist/css/bootstrap.min.css") }}">

        {% block stylesheets %}
            {% stylesheets output='css/base.css'
            'app/bower_components/angular-motion/dist/angular-motion.min.css'
            'app/bower_components/jquery-nice-select/css/nice-select.css'
            'app/bower_components/font-awesome/css/font-awesome.min.css'
            'app/bower_components/jquery-modal/jquery.modal.css'
            'bundles/app/less/style.less'
            'bundles/app/less/news-feed.less'
            'bundles/app/less/notices.less'
            'bundles/app/less/goals.less'
            'bundles/app/less/ideas.less'
            'bundles/app/less/modal.less'
            'bundles/app/less/profile.less'
            'bundles/app/less/comments.less'
            'bundles/app/less/icons.css'
            filter='less,cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}

        {#<link rel="stylesheet" href="{{ asset('app/bower_components/jquery-modal/jquery.modal.css') }}">#}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('bucketlist152x152.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('bucketlist120x120.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bucketlist72x72.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bucketlist57x57.png') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        {% if not app.debug and testUrl != "http://behat.bucketlist.loc" %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ ga_id }}', 'auto');
                ga('send', 'pageview' {% if app.request.get('search') != null %} , '/ideas?search={{ app.request.get('search') }}' {% endif %} );
                {% if app.session.flashBag.has('userRegistration') %}
                    {% for msg in app.session.flashBag.get('userRegistration')  %}
                        ga('send', 'event', 'User', 'User registration', '{{ msg }}');
                    {% endfor %}
                {% endif %}
                {% if app.session.flashBag.has('userLogin') %}
                    {% for msg in app.session.flashBag.get('userLogin')  %}
                        ga('send', 'event', 'User', 'User login', '{{ msg }}');
                    {% endfor %}
                {% endif %}
            </script>
        {% endif %}

        {# facebook code it must be disabled in non production #}
        {% if production %}
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                    document,'script','https://connect.facebook.net/en_US/fbevents.js');

            fbq('init', '1649754408571889');
            fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1649754408571889&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
        {% endif %}
    </head>

    <body>
    {% spaceless %}

        <div data-ls-jquery-modal
             style="display: none"
             data-ls-identity="mobileDetectModal"
             data-ls-template='{{ include('AppBundle:Blocks:mobileModal.html.twig') }}'>
        </div>

        {% set addUrl = getSession('addUrl') %}


        {% if app.user and addUrl is not null %}
            <img src="{{ asset('bundles/app/images/loading.gif') }}" style="position: absolute;z-index: 1000;left: 50%;top: 50%;" alt="loading" class="not-login-modal-loading"/>
            <div data-ls-jquery-modal
                 style="display: none"
                 class="not-login-modal"
                 data-ls-identity="notLoginModal"
                 data-ls-template-url="{{ addUrl }}">
            </div>
        {% endif %}

        {% block body %}
        <div id="mainframe">
            <div id="wrap">

                <header>
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div id="line"></div>
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button"
                                        data-ls-mobile-on-menu-click
                                        data-ls-trigger="mobilePopoverOpened"
                                        class="navbar-toggle collapsed"
                                        data-toggle="collapse"
                                        data-target="#navbar"
                                        aria-expanded="false"
                                        aria-controls="navbar">

                                    <span data-ng-hide="mobilePopoverOpened" class="sr-only">{{ 'toogle_navigation'|trans }}</span>
                                    <span data-ng-hide="mobilePopoverOpened" class="icon-bar"></span>
                                    <span data-ng-hide="mobilePopoverOpened" class="icon-bar"></span>
                                    <span data-ng-hide="mobilePopoverOpened" class="icon-bar"></span>

                                    <i data-ng-show="mobilePopoverOpened" class="ng-hide icon-remove-email"></i>
                                </button>


                                <a class="navbar-brand" href="{{ path("homepage") }}">
                                    <img src="{{ asset('bundles/app/images/logo.png') }}" alt="Bucket List 127" class="img-responsive"/>
                                </a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">

                                    {{ render_esi(controller('AppBundle:Main:esiActivity')) }}

                                    <li>
                                        <a href="{{ path('goals_list') }}">
                                            {#<i class="ideas-icon"></i>#}
                                            <i class="icon-ideas-icon"></i>
                                            <span class="hidden-sm">{{ 'ideas'|trans |upper }}</span>
                                        </a>
                                    </li>
                                    <li class="search">
                                        <form class="navbar-form" role="search" action="{{ path("goals_list") }}">
                                            <span class="icon-search-icon"></span>
                                            <input type="text"
                                                   name="search"
                                                   class="form-control"
                                                   autocomplete="off"
                                                    {% if app.request.get('_route') == 'goals_list' %}
                                                        data-ng-model="search"
                                                        data-ng-keypress="doSearch($event)"
                                                    {% else %}
                                                        data-ng-enter-submit=".search form"
                                                    {% endif %}
                                                   placeholder="{{ 'search'|trans }}">
                                        </form>
                                    </li>
                                </ul>


                                {#{% if 'phone' == getDeviceType() %}#}
                                {#{{ path("fos_user_security_login") }}#}
                                {#{% endif %}#}

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        {{ render_esi(controller('AppBundle:Main:esiUser')) }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>

                {% block confirm_email %}
                    {% if app.user and app.user.getRegistrationToken is not null %}
                        <div class="email">
                            <div class="container">
                                <div class="row no-gutter">
                                    <div class="col-sm-9">
                                        <span>
                                            {{ 'register_text'|trans({'%XXX%': project_name}) }}
                                            {{ 'registration.check_email'|trans({'%email%': app.user.email}, 'FOSUserBundle') }}
                                        </span>
                                    </div>
                                    <div class="col-sm-3">
                                        <a id="resend_message" href="{{ path('resend_message') }}">{{ 'email.resend'|trans({}, 'FOSUserBundle') | upper }}</a>
                                        <a href="{{ path('update_email') }}">{{ 'email.update'|trans({}, 'FOSUserBundle') | upper }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block content %}{% endblock %}
            </div>
            <footer>
                <div class="container">

                    <ul class="apps clearfix">
                        <li>
                            <a href="https://itunes.apple.com/am/app/bucket-list-things-to-do-before/id978336819" class="app-store" target="_blank">
                                <img src="{{ asset('bundles/app/images/appstore.png') }}" alt="Appstore" class="img-responsive"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.magicdevs.bucketlist" class="google-play" target="_blank">
                                <img src="{{ asset('bundles/app/images/googleplay.png') }}" alt="Googleplay" class="img-responsive"/>
                            </a>
                        </li>
                    </ul>

                    <ul class="social">
                        <li>
                            <a href="https://www.facebook.com/bucketlist127com/" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.twitter.com/bucketlist127" target="_blank">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.pinterest.com/bucketlist127/" target="_blank">
                                <i class="fa fa-pinterest-square"></i>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/bucketlist127/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                    </ul>

                    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}

                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-5">
                                <small>&copy; {{ 'copyright'|trans | upper }}</small>
                            </div>
                            <div class="col-xs-7">
                                {{ knp_menu_render('AppBundle:Builder:privacyMenu') }}
                            </div>
                        </div>
                    </div>
                </div>

            </footer>
        </div>

        {% endblock %}

        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en"></script>

            {% javascripts output='js/base_script.js'
                'app/bower_components/jquery/dist/jquery.min.js'
                'app/bower_components/jquery-form/jquery.form.js'
                'app/bower_components/jquery-nice-select/js/jquery.nice-select.min.js'
                'app/bower_components/jquery.scrollTo/jquery.scrollTo.min.js'
                'app/bower_components/bootstrap/dist/js/bootstrap.min.js'
                'app/bower_components/angular/angular.min.js'
                'app/bower_components/angular-resource/angular-resource.min.js'
                'app/bower_components/re-tree/re-tree.min.js'
                'app/bower_components/ng-device-detector/ng-device-detector.min.js'
                'app/bower_components/angular-animate/angular-animate.min.js'
                'app/bower_components/angular-sanitize/angular-sanitize.min.js'
                'app/bower_components/angular-strap/dist/angular-strap.min.js'
                'app/bower_components/angular-strap/dist/angular-strap.tpl.min.js'
                'app/bower_components/angular-local-storage/dist/angular-local-storage.min.js'
                'app/bower_components/angular-cache/dist/angular-cache.min.js'
                'app/bower_components/angulartics/dist/angulartics.min.js'
                'app/bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js'
                'app/scripts/Interpolation/Interpolation.js'
                'app/scripts/PathPrefix/PathPrefix.js'
                'app/scripts/Components/Components.js'
                'app/scripts/Confirm/Confirm.js'
                'app/scripts/Google/Google.js'
                'bundles/applicationuser/js/angular/user.js'
                'bundles/app/js/angular/main.js'
                'app/scripts/jquery-modal/jquery.modal.js'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script>

                function autoResizeDiv()
                {
                    if(document.getElementById('homepage')) {
                        document.getElementById('homepage').style.height = window.innerHeight + 'px';
                    }
                }
                window.onresize = autoResizeDiv;
                autoResizeDiv();


                $(function () {
                    $('[data-toggle="popover"]').popover()
                });

                function openSettingsModal(){
                    $('.settings-modal').trigger('openLsModal','settingModal');
                }

                {% set error = app.session.get('jsForm') %}

                {% if error is not null  %}
                    setTimeout(openSettingsModal, 500);
                {% endif %}

                $(document).ready(function(){
                    {% if addUrl is not null %}
                        setTimeout(function(){
                            $(".not-login-modal").trigger('openLsModal', 'notLoginModal');

                            $(".not-login-modal").on('lsJqueryModalOpenednotLoginModal', function(){
                                $(".not-login-modal-loading").hide();
                            })
                        }, 1000);
                    {% endif %}
                });

            </script>

            <script>
                function EmailValidation(textbox){

                    if(textbox.value.indexOf('@') == -1){
                        textbox.setCustomValidity("{{ 'email.dogApsent'|trans({}, "FOSUserBundle") }}");
                    }
                    else if (textbox.value[0] == '@'){
                        textbox.setCustomValidity("{{ 'email.beforeDog'|trans({}, "FOSUserBundle") }}");
                    }
                    else if (!textbox.value.match(/@.+\..+/g)){
                        textbox.setCustomValidity("{{ 'email.afterDog'|trans({}, "FOSUserBundle") }}");
                    }
                    else {
                        textbox.setCustomValidity('');
                    }

                    return true;
                }
            </script>

        {% endblock %}

        {#<script>#}
            {#// Include the UserVoice JavaScript SDK (only needed once on a page)#}
            {#UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/gETpMgXP20ANdgNG25OAg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();#}

            {#//#}
            {#// UserVoice Javascript SDK developer documentation:#}
            {#// https://www.uservoice.com/o/javascript-sdk#}
            {#//#}

            {#// Set colors#}
            {#UserVoice.push(['set', {#}
                {#trigger_style: 'tab',#}
                {#accent_color: '#448dd6',#}
                {#trigger_color: 'white',#}
{#//                trigger_background_color: 'rgba(46, 49, 51, 0.6)',#}
                {#trigger_background_color: '#021523',#}

                {#strings: {#}
                    {#post_suggestion_title: 'Feedback'#}
                {#},#}
            {#}]);#}

            {#// Identify the user and pass traits#}
            {#// To enable, replace sample data with actual user traits and uncomment the line#}
            {#UserVoice.push(['identify', {}]);#}

            {#// Add default trigger to the bottom-right corner of the window:#}
            {#UserVoice.push(['addTrigger', {trigger_position: 'bottom-right' }]);#}

            {#// Or, use your own custom trigger:#}
            {#//UserVoice.push(['addTrigger', '#id']);#}

            {#// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)#}
            {#UserVoice.push(['autoprompt', {}]);#}
        {#</script>#}
    {% endspaceless %}

    </body>
</html>
