<div class="container">
    <div  class="signup">
        <div class=" row">
            <h1 class="text-center">{{ 'registration.sign_up_title'|trans({}, 'FOSUserBundle') }}</h1>

            <div class="col-md-6 col-md-offset-3">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal text-center">

                    {{ form_errors(form) }}

                    <div class="form-group">
                        <input type="file" class="hide"/>
                        {{ form_label(form.file, null,  {"label_attr" : {'class':'upload'} }) }}
                        <div class="hide">
                            {{ form_widget(form.file) }}
                        </div>
                        {{ form_errors(form.file) }}
                    </div>

                    <div class="form-group row no-padding">
                        <div class="col-sm-6">
                            {{ form_widget(form.firstName, {'attr': {'class' : 'form-control', 'placeholder': 'form.firstName'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.lastName, {'attr': {'class' : 'form-control', 'placeholder': 'form.lastName'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_widget(form.email, {'attr': {'class' : 'form-control', 'placeholder': 'form.email'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control', 'placeholder': 'form.password'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control', 'placeholder': 'form.re_password'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4">
                            {{ form_widget(form.birthDate.month, {
                                'empty_valude' :'choose',
                                'attr':
                                    {'class' : 'form-control', 'placeholder': 'form.birth_date_month'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.birthDate.day, {'attr': {'class' : 'form-control', 'placeholder': 'form.birth_date_day'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        <div class="col-sm-4">
                            {{ form_widget(form.birthDate.year, {'attr': {'class' : 'form-control', 'placeholder': 'form.birth_date_year'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        {{ form_errors(form.birthDate) }}

                    </div>

                    <div class="form-group row">
                        <p>{{ 'registration.agreement'|trans({}, 'FOSUserBundle') }}
                            <a href="#" class="purple">{{ 'registration.privacy_policy'|trans({}, 'FOSUserBundle') }}</a>
                        </p>
                    </div>

                    <button type="submit" class="btn btn-purple">{{ 'registration.sign_up_btn'|trans({}, 'FOSUserBundle') }}</button>

                    {{ form_widget(form._token) }}

                </form>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center margin-top">{{ 'registration.have_account'|trans({}, 'FOSUserBundle') }}
                    <a href="javascript:void(0)" data-ng-click="openSignInPopover()" class="purple">
                        <strong>{{ 'registration.sign_in_btn'|trans({}, 'FOSUserBundle') }}</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>