<div class="container">
    <div  class="signup">
        <div class=" row">
            <h1 class="text-center">{{ 'registration.sign_up_title'|trans({}, 'FOSUserBundle') }}</h1>

            <div class="col-md-6 col-md-offset-3">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal text-center">

                   <div><span style="color:red">{{ form_errors(form) }}</span></div>

                    <div class="form-group">
                        <input type="file" class="hide"/>
                        {{ form_label(form.file, null,  {"label_attr" : {'class':'upload'} }) }}
                        <div class="hide">
                            {{ form_widget(form.file) }}
                        </div>
                        {{ form_errors(form.file) }}
                    </div>

                    <div class="form-group row no-padding">
                        <div class="col-sm-6">
                            {{ form_widget(form.firstName, {'attr': {'class' : 'form-control', 'placeholder': 'form.firstName'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.lastName, {'attr': {'class' : 'form-control', 'placeholder': 'form.lastName'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            {{ form_widget(form.email, {'attr': {'class' : 'form-control', 'placeholder': 'form.email'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                    </div>

                    {% set errorMessage = form.plainPassword.first.vars.errors[0] is defined ? form.plainPassword.first.vars.errors[0].message : '' %}
                    <p {% if errorMessage == 'Error' %}style="color:red"{% endif %}>{{ 'password.validation'|trans({}, 'FOSUserBundle') }}</p>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class' : 'form-control', 'placeholder': 'form.password'|trans({}, 'FOSUserBundle') } }) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class' : 'form-control', 'placeholder': 'form.re_password'|trans({}, 'FOSUserBundle') } }) }}
                        </div>

                        {% if errorMessage != 'Error' %}
                            <span class="text-center" style="color:red">{{ errorMessage }}</span>
                        {% endif %}
                    </div>

                    <p>{{ 'form.date_of_birth'|trans({}, 'FOSUserBundle') }}</p>
                    <div class="form-group row">
                        <div class="col-sm-4">

                            {% set months = form.birthDate.month.vars.choices %}

                            <select id="fos_user_registration_form_birthDate_month" name="fos_user_registration_form[birthDate][month]" class="form-control" >
                                <option value="" selected disabled>{{ 'form.birth_date_month'|trans({}, 'FOSUserBundle') }}</option>
                                {% for month in months %}
                                    <option value="{{ month.value }}">{{ month.label }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-sm-4">

                            {% set days = form.birthDate.day.vars.choices %}

                            <select id="fos_user_registration_form_birthDate_day" name="fos_user_registration_form[birthDate][day]" class="form-control" >
                                <option value="" selected disabled>{{ 'form.birth_date_day'|trans({}, 'FOSUserBundle') }}</option>
                                {% for day in days %}
                                    <option value="{{ day.value }}">{{ day.value }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-sm-4">

                            {% set years = form.birthDate.year.vars.choices %}

                            <select id="fos_user_registration_form_birthDate_year" name="fos_user_registration_form[birthDate][year]" class="form-control" >
                                <option value="" selected disabled>{{ 'form.birth_date_year'|trans({}, 'FOSUserBundle') }}</option>
                                {% for year in years %}
                                    <option value="{{ year.value }}">{{ year.value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ form_errors(form.birthDate) }}

                    </div>

                    <div class="form-group row">
                        <p>{{ 'registration.agreement'|trans({}, 'FOSUserBundle') }}
                            <a href="{{ getPolicyLink() }}" class="purple">{{ 'registration.privacy_policy'|trans({}, 'FOSUserBundle') }}</a>
                        </p>
                    </div>

                    <button type="submit" class="btn btn-purple">{{ 'registration.sign_up_btn'|trans({}, 'FOSUserBundle') }}</button>

                    {{ form_widget(form._token) }}

                </form>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center margin-top">{{ 'registration.have_account'|trans({}, 'FOSUserBundle') }}
                    <a href="javascript:void(0)" data-ng-click="openSignInPopover()" class="purple">
                        <strong>{{ 'registration.sign_in_btn'|trans({}, 'FOSUserBundle') }}</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>