{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        {% if object is defined and object.id %}
            {% set storys = object.getSuccessStories() %}
            {% set storyCount = 0 %}

            {% for story in storys %}
                {% set goal = story.goal %}
                {% set oneGoalStoryCount = goal.successStories|length %}
                {% set storyCount = storyCount + goal.successStories|length %}

                {{ oneGoalStoryCount }}

                <a href="{{ path('inner_goal', {'slug': goal.slug}) }}" target="_blank" title="{{ goal.title }}">
                    {{ goal.title }}
                </a> </br>
            {% endfor %}
            <hr>
        {{ "All counts " ~ storyCount }}
        {% endif %}
    </div>
{% endblock %}
