
Hello, {{ name }}! <br /><br />

{{ email }} was used to create a {{ project_name }} account,<br />
we want to make sure that this is your email address.<br />
Confirming your account will give you full access to {{ project_name }}.
<br /><br />

<a href="{{ url }}">Verify my email</a><br />

<br /><br /><br /><br />
Thank you for choosing {{ project_name }}.<br />
Please do not reply to this message.<br />
If you have more questions, please visit our
<a href="#">Help Center</a>