{% extends "SonataAdminBundle:CRUD:base_edit.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("bundles/app/less/admin-goal.css") }}">

{% endblock %}

{% block form %}
    <div data-ng-app="goal">
        {{ block('parentForm') }}
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    {% javascripts output='js/app_admin_goal_edit.js'
        'app/bower_components/angular/angular.min.js'
        'app/scripts/Interpolation/Interpolation.js'
        'app/scripts/Components/Components.js'
        'app/scripts/Google/Google.js'
        'app/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'
        'app/bower_components/ng-videosharing-embed/build/ng-videosharing-embed.min.js'
        'app/bower_components/angular-animate/angular-animate.min.js'
        'app/bower_components/angular-sanitize/angular-sanitize.min.js'
        'app/bower_components/angular-strap/dist/angular-strap.min.js'
        'app/bower_components/angular-strap/dist/angular-strap.tpl.min.js'
        'bundles/app/js/images.js'
        'app/scripts/Confirm/Confirm.js'
        'bundles/app/js/angular/goal.js'
        'bundles/applicationuser/js/angular/user.js'
        'app/bower_components/angular-local-storage/dist/angular-local-storage.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ tinymce_init() }}

{% endblock %}