{% if user is defined %}

    <div class="bg-white padding">
        <div class="row">
            <em>Complete your profile</em>
            <div class="col-xs-10">

                <div class="progress">
                    <div class="progress-bar progress-bar-striped aktive " role="progressbar" aria-valuenow="{{ user.getCompletedPercent() }}" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">{{ user.getCompletedPercent() }}% {{ 'account.complete'|trans }}</span>
                    </div>
                </div>

            </div>

            <div class="col-xs-2">
                <a class="glyphicon glyphicon-question-sign text-gray"
                   data-ng-class="{'glyphicon-question-sign': !completeProfileProperties, 'glyphicon-chevron-down': completeProfileProperties}"
                   data-ng-click="completeProfileProperties=!completeProfileProperties">
                </a>
            </div>
        </div>

    </div>

    <ol class="slide" data-ng-show="completeProfileProperties">
        <li>
            <a href="javascript:void(0)">{{ 'security.login.sign_up'|trans({}, 'FOSUserBundle') }} <i class="glyphicon glyphicon-ok"></i></a>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'account.complete_text'|trans }}
                {% if user.registrationToken is null %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i class="glyphicon glyphicon-question-sign"></i>
                {% endif %}
            </a>

        </li>
        <li>
            <a href="javascript:void(0)">{{ 'image_complete_text'|trans }}
                {% if user.socialPhotoLink or  user.fileName %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i class="glyphicon glyphicon-question-sign"></i>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'my_bucket_list.add_goal'|trans |capitalize }}
                {% if user.userGoal|length > 0 %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i class="glyphicon glyphicon-question-sign"></i>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'deadline.complete_text'|trans }}
                {% if user.checkDeadLines() %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i class="glyphicon glyphicon-question-sign"></i>
                {% endif %}
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'goal.complete_text'|trans }}
                {% if user.checkCompletedGoals() %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i class="glyphicon glyphicon-question-sign"></i>
                {% endif %}
            </a>
        </li>

        <li>
            <a href="javascript:void(0)">{{ 'success_story.complete_text'|trans }}
                {% if user.checkSuccessStory() %}
                    <i class="glyphicon glyphicon-ok"></i>
                {% else %}
                    <i class="glyphicon glyphicon-question-sign"></i>
                {% endif %}
            </a>
        </li>
    </ol>

{% endif %}