<div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title" style="display: none;"></h3>
    <div>
        <ul class="filter">
            <li>
                <a href="{{ path('goals_list') }}">
                    <span>
                        <img src="{{ asset('bundles/app/images/most-popular.png') }}"/>
                    </span>
                    {{ 'most_popular'|trans }}
                </a>
            </li>

            {% for category in categories %}
                <li>
                    <a href="{{ path('goals_list', {'category' : category.slug}) }}" data-slug="{{ category.slug }}">
                        <span>
                            <img src="{{ category.downloadLink }}"/>
                        </span>
                        {{ category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>