{% set inner = constant("AppBundle\\Entity\\Goal::INNER") %}
{% set view = constant("AppBundle\\Entity\\Goal::VIEW") %}

<div class="inner-container">
    {% set cover = goal.getCoverPhoto %}
    {% if cover %}
        <figure class="goal-image">
            <img  src="{{ cover.downloadLink }}" alt="{{ goal.title }}" />
        </figure>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="ticker">
                    {% if aphorisms %}
                        <ul>
                            {% for aphorism in aphorisms %}
                                <li>{{ aphorism.content }} ({{ aphorism.author }})</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <h2>{{ goal.title }}</h2>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="inner-content">

            <div class="row">
                <div class="col-sm-7 col-md-9">
                    {% set images = goal.images %}
                    {% if images and images | length %}
                        <div id="main-slider" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
                                {% for image in images %}
                                    <div>
                                        <img u="image" src="{{ image.downloadLink }}" alt="{{ goal.title }}"/>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Arrow Left -->
                            <span u="arrowleft" class="jssora13l"></span>
                            <!-- Arrow Right -->
                            <span u="arrowright" class="jssora13r"></span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-5 col-md-3">
                    <div class="goal-information">
                        <ul class="row  goal-links ">
                            {% if page == inner %}
                                {#{% if not isMyGoal(goal, app.user, "add") %}#}
                                {% if goal.isMyGoal == 0 %}
                                    <li class="col-sm-6">
                                        <a href="javascript:void(0)"
                                           data-ls-jquery-modal
                                           data-ls-identity="idea{{ goal.id }}"
                                           data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                                            <span class="glyphicon glyphicon-plus"></span>{{ 'add'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                                {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
                                {% if goal.isMyGoal != 2 %}
                                    <li class="col-sm-6">
                                        <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                                            <span class="glyphicon glyphicon glyphicon-ok"></span>{{ 'done'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>

                        {% if page != view %}
                            <div>
                                <div data-simple-map-marker style="width: 99.8%; height: 298px"></div>
                            </div>
                        {% endif %}
                        {% if page == inner %}
                            <ul>
                                <li>
                                    <ul class="row">
                                        <li class="col-md-4">
                                            {{ 'done_by'|trans | upper }}
                                            <p class="purple">{{ doneByUsers|length }}</p>
                                        </li>
                                        <li class="col-md-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for doneByUser in doneByUsers %}
                                                    <li style="right: {{ left }}px">
                                                        <figure>
                                                            <img src="{{ doneByUser.getPhotoLink }}" class="img-circle img-responsive">
                                                        </figure>
                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-md-4">
                                            <a href="{{ path('done_users', {'id': goal.id}) }}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="row">
                                        <li class="col-md-4">
                                            {{ 'listed_by'|trans | upper }}
                                            <p class="purple">{{ listedByUsers|length }}</p>
                                        </li>
                                        <li class="col-md-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for listedByUser in listedByUsers %}
                                                    <li style="right: {{ left }}px">
                                                        <figure>
                                                            <img src="{{ listedByUser.getPhotoLink }}" class="img-circle img-responsive">
                                                        </figure>
                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-md-4">
                                            <a href="{{ path('listed_users', {'id': goal.id}) }}"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if page != view %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="addthis_native_toolbox"></div>
                    </div>
                </div>
            {% endif %}

            <div class="inner">
                <div class="row">
                    <div class="col-md-9">

                        <p>
                            {{ goal.description }}
                        </p>

                        {% if goal.videoLink %}
                            {% for videoLink in goal.videoLink %}
                                <iframe width="100%" height="500" src="{{ videoLink }}" frameborder="0" allowfullscreen></iframe>
                            {% endfor %}
                        {% endif %}

                        {% if page == inner %}

                            {% set stories = goal.getSuccessStories %}

                            {% if stories|length > 0 %}
                                <h4>{{ 'success_stories'|trans }}</h4><hr />

                                {% for key, story in stories %}
                                    {% set addedUser = story.user %}
                                    {% set files = story.files%}

                                    <div style="height:350px;background-color: #cccccc; margin-bottom: 20px">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <figure>
                                                    <img src="{{ addedUser.getPhotoLink }}" alt="" class="img-responsive img-circle"/>
                                                </figure>
                                            </div>

                                            <div class="col-md-10">
                                                <p>{{ addedUser.showName }} </p>
                                                <p>{{ story.updated|date }} </p>
                                                <p>{{ story.story }} </p>
                                            </div>

                                        </div>

                                        {% if files and files|length %}

                                            {% if files|length < 2 %}
                                                {% set file = files.first %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <figure>
                                                            <img src="{{ file.getDownloadLink }}" alt="Image" width="700" height="320"/>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">

                                                    <div id="story-slider{{ key }}" class="story-slider" style="position: relative; margin: auto;width: 710px">
                                                        <!-- Slides Container -->
                                                        <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0; top: 0; width: 710px; height: 200px">
                                                            {% for file in files %}
                                                                <div>
                                                                    <img u="image" src="{{ file.downloadLink }}"/>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- Arrow Left -->
                                                        <span u="arrowleft" class="story-slider-arrow jssora13l"></span>
                                                        <!-- Arrow Right -->
                                                        <span u="arrowright" class="story-slider-arrow jssora13r"></span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if app.user %}
                                <h4>{{ 'comments'|trans }}</h4><hr />
                                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': goal.id} %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>