<ul class="row no-gutter{% if inner is defined %} goal-links{% endif %} ">
    {#{% if is_granted("ROLE_USER") %}#}

        {#{% if not isMyGoal(goal, app.user, "add") %}#}
        {% if goal.isMyGoal == 0 %}
            <li class="col-xs-4">
                <a href="javascript:void(0)"
                   data-ls-jquery-modal
                   data-ls-identity="idea{{ goal.id }}"
                   data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                    {#<i class="icon plus-icon"></i>#}
                    <i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    {{ 'add'|trans }}
                </a>
            </li>
        {% else %}
            <li class="col-xs-4 transparent">
                <bdi>
                    {#<i class="icon plus-icon-green"></i>#}
                    <i class="icon-green-plus"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                    {{ 'added'|trans | upper}}
                </bdi>
            </li>
        {% endif %}

        {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
        {% if  goal.isMyGoal != 2 %}
            <li class="col-xs-4">
                <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                    {#<i class="icon ok-icon"></i>#}
                    <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
                    {{ 'done'|trans }}
                </a>
            </li>
        {% else %}
            <li class="col-xs-4 transparent">
                <bdi>
                    {#<i class="icon green-ok-icon"></i>#}
                    <i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    {{ 'completed'|trans | upper}}
                </bdi>
            </li>
        {% endif %}
    {#{% endif %}#}

    {% if inner is not defined %}

        <li class="col-xs-4">
            <div class="addthis_native_toolbox"
                 data-url="{{ app.request.getSchemeAndHttpHost }}{{ path('inner_goal', {'slug': goal.slug}) }}"
                 data-title="{{ goal.title }}"
                 data-description="{%- if goal.description -%}{{- sliceString(goal.description) -}}{% else %}{{ 'goal.view_description'|trans }}{%- endif -%}"></div>
        </li>
    {% endif %}
</ul>
