{% if user is defined %}
    {% set goalFriends = goalFriends(user) %}
    <div class="bg-white padding margin-top">

        <a href="{{ path('goal_friends') }}" class="heading text-gray">
            <i class="glyphicon glyphicon-user"></i>
            {{ 'goalfriends'|trans }} {{ goalFriends|length }}
        </a>

        <hr/>
        <ul class="list">

            {% for goalFriend in goalFriends|slice(0,2) %}
                <li class="clearfix">

                    <figure class="image">
                        <img src="{{ goalFriend.getPhotoLink ? goalFriend.getPhotoLink() : asset('bundles/app/images/cover.jpg') }}" alt= "Some image" class="img-circle img-responsive"/>
                    </figure>

                    <div class="pull-left text-gray">
                        <h4 class="text-dark-gray">{{ goalFriend.firstname }} {{ goalFriend.lastname }}</h4>

                        {% set stats = goalFriend.getStats %}
                        <a href="#" class="text-gray">{{ 'listed_by'|trans }} {{ stats.listedBy }}</a> |
                        <a href="#" class="text-gray">{{ 'completed'|trans }} {{ stats.doneBy }}</a>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endif %}