<ul class="row no-gutter{% if inner is defined %} goal-links{% endif %}">

    <li class="col-xs-4" data-ng-show="goal.is_my_goal === 0">
        <a href="javascript:void(0)"
           data-ls-jquery-modal
           data-ls-identity="idea[[ goal.id ]]"
           data-ls-template-url="{{ app.debug ? '/app_dev.php' : '' }}/goal/add-to-me/[[ goal.id ]]">
           <i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
           <bdi>{{ 'add'|trans }}</bdi>
        </a>
    </li>
    <li class="col-xs-4 transparent" data-ng-show="goal.is_my_goal !== 0">
        <i class="icon-green-plus"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
        <bdi>{{ 'added'|trans | upper}}</bdi>
    </li>


    <li class="col-xs-4" data-ng-show="goal.is_my_goal !== 2">
        <a href="{{ app.debug ? '/app_dev.php':'' }}/goal/done/[[ goal.id ]]">
            <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
            <bdi>{{ 'done'|trans }}</bdi>
        </a>
    </li>
    <li class="col-xs-4 transparent" data-ng-show="goal.is_my_goal === 2">
        <i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
        <bdi>{{ 'completed'|trans | upper}}</bdi>
    </li>

    {#{% if inner is not defined %}#}

        {#<li class="col-xs-4">#}
            {#<div class="addthis_native_toolbox"#}
                 {#data-url="{{ app.request.getSchemeAndHttpHost }}{{ path('inner_goal', {'slug': goal.slug}) }}"#}
                 {#data-title="{{ goal.title }}"#}
                 {#data-description="{%- if goal.description -%}{{- sliceString(goal.description) -}}{% else %}{{ 'goal.view_description'|trans }}{%- endif -%}"></div>#}
        {#</li>#}
    {#{% endif %}#}
</ul>
