{% set inner = constant("AppBundle\\Entity\\Goal::INNER") %}
{% set view = constant("AppBundle\\Entity\\Goal::VIEW") %}
{% set user = app.user %}
{% set author = goal.author %}
{% set show = true %}

<div id="fb-root"></div>

<div class="inner-container">
    {% set cover = goal.getCoverPhotoDownloadLink %}
    {% set imgPath ='bundles/app/images/cover' ~ random(4) ~ '.png' %}
    <figure class="goal-image">
        <span class="overlay"></span>
        <img src="
        {% if cover %}
             {{ cover|blImageFilter('goal_bg') }}
        {% else %}
             {{ asset(imgPath)}}
        {% endif %}"
             alt="{{ goal.title }}" />
    </figure>

    <div class="goal-content">
        <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="quote">

                    <div class="ticker">
                        {% if aphorisms %}
                            <i class="icon-quote-left"></i>
                            <i class="icon-quote-right"></i>
                            <ul class="aphorism" data-delay-add-class>
                                {% for aphorism in aphorisms %}
                                    <li>{{ aphorism.content|length > 230 ? aphorism.content|slice(0, 230) ~ '...' : aphorism.content }}
                                        <span class="text-right">{{ aphorism.author }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if user and author and user.id == author.id %}
            {% set show = false %}
        {% endif %}

        <div class="row">
            <div class="col-sm-12">
                {% if author and author.isAdmin == false and show %}
                    <p class="goal-author">
                        {#<a class="bg-blue" href="">#}
                            <a href="{{ path('user_profile',  {'user': author.uId})}}" class="text-gray bg-blue">{{ 'by' ~ " " ~ author.showName }} </a>
                    </p>
                {% endif %}
                <h2 class="goal-inner-title {% if goal.title|length > 40 %}title-smaller{% endif %}">{{ goal.title }}</h2>
            </div>
        </div>

        <div class="inner-content">

            <div class="row no-gutter">
                <div class="col-md-8">

                    {% set images = goal.images %}
                    {% if images and images | length %}
                        <div id="main-slider" class="swiper-container">
                            <!-- Slides Container -->
                            <div {% if images| length > 1 %} class="swiper-wrapper" {% endif %}>
                                {% for key, image in images %}
                                    <div class="overlay swiper-slide">
                                        <a href="{{ image.downloadLink }}" class="swipebox" data-title="{{ goal.title }}">
                                            <img class="img-responsive" src="{{ image.downloadLink|blImageFilter('goal_bg') }}" alt="{{ goal.title }}"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Add Pagination -->
                            <div class="swiper-pagination swiper-pagination-white"></div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="goal-information">
                        <ul class="row goal-links" data-ng-init="added = true">

                            {% if page == inner %}
                                {% set xs = 6 %}
                                {% if is_granted('ROLE_SUPER_ADMIN', app.user) %}
                                    {% set xs = 3 %}
                                    <li class="col-xs-3">
                                        <a href="{{ path('add_goal', {'id': goal.id, 'clone' : true }) }}">
                                            <span class="glyphicon glyphicon-copy "></span>{{ 'clone'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {#{% if not isMyGoal(goal, app.user, "add") %}#}
                                {% if goal.isMyGoal == 0 %}
                                    <li class="col-xs-{{ xs }}" data-ng-init="added = false" data-ng-show="!added">
                                        <a href="javascript:void(0)"
                                           data-ng-click="added = true"
                                           data-ls-jquery-modal
                                           data-ls-identity="idea{{ goal.id }}"
                                           data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                                            <i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                            <span class="text">{{ 'add'|trans }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="col-xs-{{ xs }} transparent ng-hide" data-ng-show="{% if goal.isMyGoal %}true{% else %}false{% endif %} || added">
                                    <i class="icon-green-plus"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                    <span class="text">{{ 'added'|trans | upper}}</span>
                                </li>


                            {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
                                {% if goal.isMyGoal != 2 %}
                                    <li class="col-xs-6">
                                        <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                                            <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
                                            <span class="text">{{ 'done'|trans }}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="col-xs-6 transparent">
                                        <i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                        <span class="text">{{ 'completed'|trans | upper}}</span>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>

                        {% if goal.lat is not null and goal.lng is not null %}
                            <div data-ng-init="location=[{latitude: {{ goal.lat }}, longitude: {{ goal.lng }}, title: '{{ goal.title }}', id: 'deed'}]">
                                <div class="map-marker" data-ng-show="location"
                                     data-simple-map-marker
                                     data-zoom="14"
                                     data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"
                                     data-markers="location"

                                     style="width: 99.8%; height: 215px">
                                </div>
                            </div>
                        {% else %}
                            <hr />
                        {% endif %}
                        {% if page == inner %}
                            <ul>
                                <li>
                                    <ul class="row no-gutter">
                                        <li class="col-xs-5">
                                            {{ 'done_by'|trans | upper }}
                                            <p class="text-purple">{{ goal.stats.doneBy }}</p>
                                        </li>
                                        <li class="col-xs-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for doneByUser in doneByUsers %}
                                                    {% set nameOnImage = doneByUser.firstName|slice(0,1) ~ doneByUser.lastName|slice(0,1) %}
                                                    {% set className = "user-no" ~ random(4) %}
                                                    <li style="right: {{ left }}px">
                                                        {% if doneByUser.getPhotoLink  %}
                                                            <figure>
                                                                <img src="{{ doneByUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive" alt="{{ doneByUser.firstName }}">
                                                            </figure>
                                                        {% else %}
                                                            <p class="no-image {{ className }}">{{ nameOnImage | upper }}</p>
                                                        {% endif %}

                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-xs-3">
                                            {% if goal.stats.doneBy == 0 %}
                                                <i></i>
                                            {% else %}
                                                <a href="{{ path('done_users', {'slug': goal.slug}) }}"></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="row no-gutter">
                                        <li class="col-xs-5">
                                            {{ 'listed_by'|trans | upper }}
                                            <p class="text-purple">{{ goal.stats.listedBy }}</p>
                                        </li>
                                        <li class="col-xs-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for listedByUser in listedByUsers %}
                                                    {% set nameOnImage = listedByUser.firstName|slice(0,1) ~ listedByUser.lastName|slice(0,1) %}
                                                    {% set className = "user-no" ~ random(4) %}
                                                    <li style="right: {{ left }}px">
                                                        {% if listedByUser.getPhotoLink  %}
                                                            <figure>
                                                                <img src="{{ listedByUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive" alt="{{ listedByUser.firstName }}">
                                                            </figure>
                                                        {% else %}
                                                            <p class="no-image {{ className }}">{{ nameOnImage | upper}}</p>
                                                        {% endif %}
                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-xs-3">
                                            {% if goal.stats.listedBy == 0 %}
                                                <i></i>
                                            {% else %}
                                                <a href="{{ path('listed_users', {'slug': goal.slug}) }}"></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if page != view %}
                <div class="row padding-top bg-white">
                    <div class="col-xs-6 col-md-4">
                        <div class="fb-like"
                             data-href="{{ app.request.getSchemeAndHttpHost ~ goal.shareLink }}"
                             data-layout="button_count"
                             data-action="like"
                             data-show-faces="false"
                             data-share="false">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 text-right">
                        <div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ path('inner_goal', {'slug': goal.slug}) }}"></div>
                    </div>
                </div>
            {% endif %}

            <div class="inner bg-white">
                <div class="row">
                    <div class="col-md-8">
                        <hr/>
                        {% if goal.description and not goal.description == '' %}
                            <div class="text-dark-grey goal-info">{{ goal.description|removeTag|markdown }}</div>
                        {% endif %}

                        {% if goal.videoLink %}
                            {% if goal.videoLink and goal.videoLink|length %}

                                {% if goal.videoLink|length == 1 %}
                                    {% set v = goal.videoLink[0] %}
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <embed-video
                                                data-ng-init="mainSliderVideo='{{ v }}'"
                                                data-ng-href="[[ mainSliderVideo ]]"
                                                height="360px"
                                                width="100%">
                                            </embed-video>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div id="main-slider-video" class="swiper-container" style="position: relative; top: 0; left: 0">
                                            <!-- Slides Container -->
                                            <div class="swiper-wrapper">
                                                {% for k, video in goal.videoLink %}
                                                    {% if video %}
                                                        <div class="swiper-slide">
                                                            <embed-video u="image"
                                                               width="100%"
                                                               height="300px"
                                                               data-ng-init="mainSliderVideo[{{ k }}]='{{ video }}'"
                                                               data-ng-href="[[ mainSliderVideo[{{ k }}] ]]">
                                                            </embed-video>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            <div class="swiper-pagination swiper-pagination-white"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next swiper-button-white"></div>
                                            <div class="swiper-button-prev swiper-button-white"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if page == inner %}

                            {% set stories = goal.getSuccessStories %}

                            {% if stories|length > 0 %}
                                <br />
                                <h4 class="text-dark-gray">{{ 'success_stories'|trans }}</h4><hr />

                                {% if stories|length > 2 %}
                                    <div class="text-right">
                                        <a href="javascript:void(0)"
                                           data-ng-show="successStoryActiveIndex !== 0"
                                           data-ng-click="showMoreSuccessStory({{ stories|length }})"
                                           class="text-purple view-more-comments">
                                            Show More +5
                                        </a>
                                    </div>
                                {% endif %}

                                {% for key, story in stories %}

                                    {% set addedUser = story.user %}
                                    {% set files = story.files %}
                                    {% set videos = story.videoLink %}

                                    <div class="comment-place story-fade-in ng-hide"
                                         data-ng-show="successStoryShow[{{ key }}]"
                                         data-ng-init="successStoryShow[{{ key }}]={{ key > stories|length - 3 ? 'true':'false' }}">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1">
                                                {% set nameOnImage = addedUser.firstName|slice(0,1) ~ addedUser.lastName|slice(0,1) %}
                                                {% set className = "user-no" ~ random(4) %}

                                                {% if addedUser.getPhotoLink  %}
                                                    <figure class="user-image">
                                                        <img src="{{ addedUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive" alt="{{ addedUser.firstName }}">
                                                    </figure>
                                                {% else %}
                                                    <span class="{{ className }}">{{ nameOnImage | upper}}</span>
                                                {% endif %}

                                            </div>

                                            <div class="col-xs-10 col-sm-11">
                                                <p>{{ addedUser.showName }} </p>
                                                <span data-ng-cloak>
                                                    [[ dateToLocal('{{ story.updated | date('m/d/Y H:i O') }}') ]]
                                                </span>
                                                <p>{{ story.story }}</p>
                                            </div>

                                        </div>

                                        {% if files and files|length %}

                                            {% if files|length == 1 %}
                                                {% set file = files.first %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <figure>
                                                            <img src="{{ file.getDownloadLink|blImageFilter('goal_list_small') }}" alt="{{ file.fileName }}" height="360"/>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div id="story-slider-image{{ key }}" class="swiper-container story-slider image-slider">
                                                            <!-- Slides Container -->
                                                            <div class="swiper-wrapper">
                                                                {% for k,file in files %}
                                                                    <div class="swiper-slide">
                                                                        <a href="{{ file.downloadLink }}" class="swipebox">
                                                                            <img class="img-responsive" src="{{ file.downloadLink|blImageFilter('goal_list_small') }}" alt="{{ file.fileName }}"/>
                                                                        </a>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>

                                                            <div class="swiper-pagination swiper-pagination-white"></div>
                                                            <!-- Add Arrows -->
                                                            <div class="swiper-button-next swiper-button-white"></div>
                                                            <div class="swiper-button-prev swiper-button-white"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}

                                        {% if videos and videos|length %}

                                            {% if videos|length == 1 %}
                                                {% set v = videos[0] %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <figure>
                                                            {#<iframe src="{{ v }}" width="700" height="360"></iframe>#}
                                                            <embed-video
                                                                data-ng-href="[[ storySliderVideo[{{ key }}] ]]"
                                                                data-ng-init="storySliderVideo[{{ key }}]='{{ v }}'"
                                                                height="360px"
                                                                width="100%">
                                                            </embed-video >
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div id="story-slider-video{{ key }}" class="swiper-container story-slider video-slider">
                                                            <!-- Slides Container -->
                                                            <div class="swiper-wrapper">
                                                                {% for k,video in videos %}
                                                                    {% if video %}
                                                                        <div class="swiper-slide">
                                                                            <embed-video
                                                                                u="image"
                                                                                data-ng-init="storySliderVideo[{{ key }}][{{ k }}]='{{ video }}'"
                                                                                width="100%"
                                                                                height="360px"
                                                                                data-ng-href="[[ storySliderVideo[{{ key }}][{{ k }}] ]]">
                                                                            </embed-video>
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>

                                                            <div class="swiper-pagination swiper-pagination-white"></div>
                                                            <!-- Add Arrows -->
                                                            <div class="swiper-button-next swiper-button-white"></div>
                                                            <div class="swiper-button-prev swiper-button-white"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}

                            {% endif %}

                            <br />

                            {% if app.user %}
                                <h4>{{ 'comments'|trans }}</h4><hr />
                                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': goal.id} %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>