{% set inner = constant("AppBundle\\Entity\\Goal::INNER") %}
{% set view = constant("AppBundle\\Entity\\Goal::VIEW") %}

<div class="inner-container">
    {% set cover = goal.getCoverPhoto %}
    {% if cover %}
        <figure class="goal-image">
            <img  src="{{ cover.downloadLink }}" alt="{{ goal.title }}" />
        </figure>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="quote">

                    <div class="ticker">
                        <i class="icon quotel-icon"></i>
                        <i class="icon quoter-icon"></i>
                        {% if aphorisms %}
                            <ul>
                                {% for aphorism in aphorisms %}
                                    <li>{{ aphorism.content }} ({{ aphorism.author }})</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <h2 {% if goal.title|length > 30 %}class="title-smaller"{% endif %}>{{ goal.title }}</h2>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="inner-content">

            <div class="row">
                <div class="col-sm-7 col-md-9">
                    {% set images = goal.images %}
                    {% if images and images | length %}
                        <div id="main-slider" style="position: relative; top: 0; left: 0; width: 600px; height: 300px;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0; top: 0; width: 600px; height: 300px;">
                                {% for image in images %}
                                    <div>
                                        <img u="image" src="{{ image.downloadLink }}" alt="{{ goal.title }}"/>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Arrow Left -->
                            <span u="arrowleft" class="jssora13l"></span>
                            <!-- Arrow Right -->
                            <span u="arrowright" class="jssora13r"></span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-5 col-md-3">
                    <div class="goal-information">
                        <ul class="row  goal-links ">
                            {% if page == inner %}
                                {#{% if not isMyGoal(goal, app.user, "add") %}#}
                                {% if goal.isMyGoal == 0 %}
                                    <li class="col-sm-6">
                                        <a href="javascript:void(0)"
                                           data-ls-jquery-modal
                                           data-ls-identity="idea{{ goal.id }}"
                                           data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                                            <i class="icon plus-icon"></i>{{ 'add'|trans }}
                                        </a>
                                    </li>
                                {% endif %}

                                {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
                                {% if goal.isMyGoal != 2 %}
                                    <li class="col-sm-6">
                                        <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                                            <i class="icon ok-icon"></i>{{ 'done'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>

                        {% if page != view %}
                            <div>
                                <div data-simple-map-marker style="width: 99.8%; height: 204px"></div>
                            </div>
                        {% endif %}
                        {% if page == inner %}
                            <ul>
                                <li>
                                    <ul class="row no-gutter">
                                        <li class="col-sm-5">
                                            {{ 'done_by'|trans | upper }}
                                            <p class="purple">{{ goal.stats.doneBy }}</p>
                                        </li>
                                        <li class="col-sm-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for doneByUser in doneByUsers %}
                                                    <li style="right: {{ left }}px">
                                                        <figure>
                                                            <img src="{{ doneByUser.getPhotoLink }}" class="img-circle img-responsive">
                                                        </figure>
                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            {% if goal.stats.doneBy == 0 %}
                                                <i></i>
                                            {% else %}
                                                <a href="{{ path('done_users', {'id': goal.id}) }}"></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="row no-gutter">
                                        <li class="col-sm-5">
                                            {{ 'listed_by'|trans | upper }}
                                            <p class="purple">{{ goal.stats.listedBy }}</p>
                                        </li>
                                        <li class="col-sm-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for listedByUser in listedByUsers %}
                                                    <li style="right: {{ left }}px">
                                                        <figure>
                                                            <img src="{{ listedByUser.getPhotoLink }}" class="img-circle img-responsive">
                                                        </figure>
                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            {% if goal.stats.listedBy == 0 %}
                                                <i></i>
                                            {% else %}
                                                <a href="{{ path('listed_users', {'id': goal.id}) }}"></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if page != view %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ path('inner_goal', {'id': goal.id}) }}"></div>
                    </div>
                </div>
            {% endif %}

            <div class="inner">
                <div class="row">

                    <div class="col-sm-9">
                        <hr/>
                        <p class="text-gray">{{ goal.description }}</p>

                        {% if goal.videoLink %}
                            {% if goal.videoLink and goal.videoLink|length %}

                                {% if goal.videoLink|length == 1 %}
                                    {% set v = goal.videoLink.first %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <figure>
                                                {#<iframe src="{{ v }}" width="100%" height="360" frameborder="0" allowfullscreen></iframe>#}
                                                <youtube-video
                                                    data-ng-init="mainSliderVideo='{{ v }}'"
                                                    video-url="mainSliderVideo"
                                                    player-height="'360px'"
                                                    player-width="'100%'">
                                                </youtube-video>
                                            </figure>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">

                                        <div id="main-slider-video" style="position: relative; top: 0; left: 0; width: 710px; height: 300px;">
                                            <!-- Slides Container -->
                                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0; top: 0; width: 710px; height: 300px;">
                                                {% for k, video in goal.videoLink %}
                                                    {% if video %}
                                                        <div>
                                                            {#<iframe u="image" src="{{ video }}"></iframe>#}
                                                            <youtube-video u="image"
                                                               player-width="'100%'"
                                                               player-height="'200px'"
                                                               data-ng-init="mainSliderVideo[{{ k }}]='{{ video }}'"
                                                               video-url="mainSliderVideo[{{ k }}]">
                                                            </youtube-video>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <!-- Arrow Left -->
                                            <span u="arrowleft" class="story-slider-arrow jssora13l"></span>
                                            <!-- Arrow Right -->
                                            <span u="arrowright" class="story-slider-arrow jssora13r"></span>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if page == inner %}

                            {% set stories = goal.getSuccessStories %}

                            {% if stories|length > 0 %}
                                <h4 class="text-dark-gray">{{ 'success_stories'|trans }}</h4><hr />

                                {% for key, story in stories %}

                                    {% set addedUser = story.user %}
                                    {% set files = story.files %}
                                    {% set videos = story.videoLink %}

                                    <div class="comment-place">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <figure>
                                                    <img src="{{ addedUser.getPhotoLink }}" alt="" class="img-responsive img-circle"/>
                                                </figure>
                                            </div>

                                            <div class="col-sm-11">
                                                <p>{{ addedUser.showName }} </p>
                                                <span>{{ story.updated|date('F d, \\a\\t\\ h:i a') }} </span>
                                                <p>{{ story.story }} </p>
                                            </div>

                                        </div>

                                        {% if files and files|length %}

                                            {% if files|length == 1 %}
                                                {% set file = files.first %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <figure>
                                                            <img src="{{ file.getDownloadLink }}" alt="Image" height="360"/>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">

                                                    <div id="story-slider-image{{ key }}" class="story-slider">
                                                        <!-- Slides Container -->
                                                        <div u="slides">
                                                            {% for file in files %}
                                                                <div>
                                                                    <img u="image" src="{{ file.downloadLink }}"/>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- Arrow Left -->
                                                        <span u="arrowleft" class="story-slider-arrow jssora13l"></span>
                                                        <!-- Arrow Right -->
                                                        <span u="arrowright" class="story-slider-arrow jssora13r"></span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}

                                        {% if videos and videos|length %}

                                            {% if videos|length == 1 %}
                                                {% set v = videos.first %}
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <figure>
                                                            {#<iframe src="{{ v }}" width="700" height="360"></iframe>#}
                                                            <youtube-video
                                                                video-url="storySliderVideo[{{ key }}]"
                                                                data-ng-init="storySliderVideo[{{ key }}]='{{ v }}'"
                                                                player-height="'360px'"
                                                                player-width="'700px'">
                                                            </youtube-video>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">

                                                    <div id="story-slider-video{{ key }}" class="story-slider">
                                                        <!-- Slides Container -->
                                                        <div u="slides">
                                                            {% for k,video in videos %}
                                                                {% if video %}
                                                                    <div>
                                                                        {#<iframe u="image" src="{{ video }}"></iframe>#}
                                                                        <youtube-video
                                                                            u="image"
                                                                            data-ng-init="storySliderVideo[{{ key }}][{{ k }}]='{{ video }}'"
                                                                            player-width="'100%'"
                                                                            player-height="'200px'"
                                                                            video-url="storySliderVideo[{{ key }}][{{ k }}]">
                                                                        </youtube-video>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <!-- Arrow Left -->
                                                        <span u="arrowleft" class="story-slider-arrow jssora13l"></span>
                                                        <!-- Arrow Right -->
                                                        <span u="arrowright" class="story-slider-arrow jssora13r"></span>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if app.user %}
                                <h4>{{ 'comments'|trans }}</h4><hr />
                                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': goal.id} %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>