{% set inner = constant("AppBundle\\Entity\\Goal::INNER") %}
{% set view = constant("AppBundle\\Entity\\Goal::VIEW") %}

<div id="fb-root"></div>

<div class="inner-container">
    {% set cover = goal.getCoverPhotoDownloadLink %}
    {% set imgPath ='bundles/app/images/cover' ~ random(4) ~ '.png' %}
    <figure class="goal-image">
        <span class="overlay"></span>
        <img src="
        {% if cover %}
             {{ cover|blImageFilter('goal_cover') }}
        {% else %}
             {{ asset(imgPath)}}
        {% endif %}"
             alt="{{ goal.title }}" />
    </figure>

    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="quote">

                    <div class="ticker">
                        {% if aphorisms %}
                            <i class="icon-quote-left"></i>
                            <i class="icon-quote-right"></i>
                            <ul class="aphorism" data-delay-add-class>
                                {% for aphorism in aphorisms %}
                                    <li>{{ aphorism.content|length > 230 ? aphorism.content|slice(0, 230) ~ '...' : aphorism.content }}
                                        <span class="text-right">{{ aphorism.author }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <h2 {% if goal.title|length > 25 %}class="title-smaller"{% endif %}>{{ goal.title }}</h2>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="inner-content">

            <div class="row no-gutter">
                <div class="col-md-8 overflow">
                    {% set images = goal.images %}
                    {% if images and images | length %}
                        <div id="main-slider" style="position: relative; top: 0; left: 0; width: 600px; height: 335px;">
                            <!-- Slides Container -->
                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0; top: 0; width: 600px; height: 335px;">
                                {% for key, image in images %}
                                    <div class="overlay">
                                        <a href="{{ image.downloadLink }}" class="swipebox" data-title="{{ goal.title }}">
                                            <img u="image" src="{{ image.downloadLink|blImageFilter('goal_slider_image') }}" alt="{{ goal.title }}"/>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                            {% if images|length > 1 %}
                                <div u="navigator" class="jssorb14" style="position: absolute; bottom: 26px;left: 47%;top: initial;">
                                    <!-- bullet navigator item prototype -->
                                    <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
                                </div>

                                <!-- Arrow Left -->
                                <span u="arrowleft" class="jssora13l"></span>
                                <!-- Arrow Right -->
                                <span u="arrowright" class="jssora13r"></span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="goal-information">
                        <ul class="row goal-links">

                            {% if page == inner %}
                                {% set xs = 6 %}
                                {% if is_granted('ROLE_SUPER_ADMIN', app.user) %}
                                    {% set xs = 3 %}
                                    <li class="col-xs-3">
                                        <a href="{{ path('add_goal', {'id': goal.id, 'clone' : true }) }}">
                                            <span class="icon glyphicon glyphicon-copy "></span>{{ 'clone'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                {#{% if not isMyGoal(goal, app.user, "add") %}#}
                                {% if goal.isMyGoal == 0 %}
                                    <li class="col-xs-{{ xs }}">
                                        <a href="javascript:void(0)"
                                           data-ls-jquery-modal
                                           data-ls-identity="idea{{ goal.id }}"
                                           data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                                            <i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                            <bdi>{{ 'add'|trans }}</bdi>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="col-xs-{{ xs }} transparent">
                                        <i class="icon-green-plus"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        <bdi>{{ 'added'|trans | upper}}</bdi>
                                    </li>
                                {% endif %}

                            {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
                                {% if goal.isMyGoal != 2 %}
                                    <li class="col-xs-6">
                                        <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                                            <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
                                            <bdi>{{ 'done'|trans }}</bdi>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="col-xs-6 transparent">
                                        <i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                        <bdi>{{ 'completed'|trans | upper}}</bdi>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>

                        {% if goal.lat is not null and goal.lng is not null %}
                            <div data-ng-init="location=[{latitude: {{ goal.lat }}, longitude: {{ goal.lng }}, id: 'deed'}]">
                                <div data-ng-show="location"
                                     data-simple-map-marker
                                     data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"
                                     data-markers="location"
                                     style="width: 99.8%; height: 221px">
                                </div>
                            </div>
                        {% else %}
                            <hr />
                        {% endif %}
                        {% if page == inner %}
                            <ul>
                                <li>
                                    <ul class="row no-gutter">
                                        <li class="col-xs-5">
                                            {{ 'done_by'|trans | upper }}
                                            <p class="text-purple">{{ goal.stats.doneBy }}</p>
                                        </li>
                                        <li class="col-xs-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for doneByUser in doneByUsers %}
                                                    {% set nameOnImage = doneByUser.firstName|slice(0,1) ~ doneByUser.lastName|slice(0,1) %}
                                                    {% set className = "user-no" ~ random(4) %}
                                                    <li style="right: {{ left }}px">
                                                        {% if doneByUser.getPhotoLink  %}
                                                            <figure>
                                                                <img src="{{ doneByUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive">
                                                            </figure>
                                                        {% else %}
                                                            <p class="no-image {{ className }}">{{ nameOnImage | upper }}</p>
                                                        {% endif %}

                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-xs-3">
                                            {% if goal.stats.doneBy == 0 %}
                                                <i></i>
                                            {% else %}
                                                <a href="{{ path('done_users', {'slug': goal.slug}) }}"></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="row no-gutter">
                                        <li class="col-xs-5">
                                            {{ 'listed_by'|trans | upper }}
                                            <p class="text-purple">{{ goal.stats.listedBy }}</p>
                                        </li>
                                        <li class="col-xs-4">
                                            <ul class="users">
                                                {% set left = 0 %}
                                                {% for listedByUser in listedByUsers %}
                                                    {% set nameOnImage = listedByUser.firstName|slice(0,1) ~ listedByUser.lastName|slice(0,1) %}
                                                    {% set className = "user-no" ~ random(4) %}
                                                    <li style="right: {{ left }}px">
                                                        {% if listedByUser.getPhotoLink  %}
                                                            <figure>
                                                                <img src="{{ listedByUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive">
                                                            </figure>
                                                        {% else %}
                                                            <p class="no-image {{ className }}">{{ nameOnImage | upper}}</p>
                                                        {% endif %}
                                                    </li>
                                                    {% set left = left + 20 %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="col-xs-3">
                                            {% if goal.stats.listedBy == 0 %}
                                                <i></i>
                                            {% else %}
                                                <a href="{{ path('listed_users', {'slug': goal.slug}) }}"></a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if page != view %}
                <div class="row padding-top">
                    <div class="col-xs-6 col-md-4">
                        <div class="fb-like"
                             data-href="{{ app.request.getSchemeAndHttpHost ~ goal.shareLink }}"
                             data-layout="button_count"
                             data-action="like"
                             data-show-faces="false"
                             data-share="false">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4 text-right">
                        <div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ path('inner_goal', {'slug': goal.slug}) }}"></div>
                    </div>
                </div>
            {% endif %}

            <div class="inner">
                <div class="row">

                    <div class="col-md-8">
                        <hr/>
                        {% if goal.description and not goal.description == '' %}
                            <div class="text-gray">{{ replaceDescription(goal.description)|markdown }}</div>
                        {% endif %}

                        {% if goal.videoLink %}
                            {% if goal.videoLink and goal.videoLink|length %}

                                {% if goal.videoLink|length == 1 %}
                                    {% set v = goal.videoLink[0] %}
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <figure>
                                                {#<iframe src="{{ v }}" width="100%" height="360" frameborder="0" allowfullscreen></iframe>#}
                                                <youtube-video
                                                    data-ng-init="mainSliderVideo='{{ v }}'"
                                                    video-url="mainSliderVideo"
                                                    player-height="'360px'"
                                                    player-width="'100%'">
                                                </youtube-video>
                                            </figure>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="row">

                                        <div id="main-slider-video" style="position: relative; top: 0; left: 0; width: 710px; height: 300px;">
                                            <!-- Slides Container -->
                                            <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0; top: 0; width: 710px; height: 300px;">
                                                {% for k, video in goal.videoLink %}
                                                    {% if video %}
                                                        <div>
                                                            {#<iframe u="image" src="{{ video }}"></iframe>#}
                                                            <youtube-video u="image"
                                                               player-width="'100%'"
                                                               player-height="'300px'"
                                                               data-ng-init="mainSliderVideo[{{ k }}]='{{ video }}'"
                                                               video-url="mainSliderVideo[{{ k }}]">
                                                            </youtube-video>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>

                                            {% if goal.videoLink|length > 1 %}
                                                <div u="navigator" class="jssorb14" style="position: absolute; bottom: 26px;left: 47%;top: initial;">
                                                    <!-- bullet navigator item prototype -->
                                                    <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
                                                </div>

                                                <!-- Arrow Left -->
                                                <span u="arrowleft" class="jssora13l"></span>
                                                <!-- Arrow Right -->
                                                <span u="arrowright" class="jssora13r"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if page == inner %}

                            {% set stories = goal.getSuccessStories %}

                            {% if stories|length > 0 %}
                                <h4 class="text-dark-gray">{{ 'success_stories'|trans }}</h4><hr />

                                {% if stories|length > 2 %}
                                    <div class="text-right">
                                        <a href="javascript:void(0)"
                                           data-ng-show="successStoryActiveIndex !== 0"
                                           data-ng-click="showMoreSuccessStory({{ stories|length }})"
                                           class="text-purple view-more-comments">
                                            Show More +5
                                        </a>
                                    </div>
                                {% endif %}

                                {% for key, story in stories %}

                                    {% set addedUser = story.user %}
                                    {% set files = story.files %}
                                    {% set videos = story.videoLink %}

                                    <div class="comment-place story-fade-in ng-hide"
                                         data-ng-show="successStoryShow[{{ key }}]"
                                         data-ng-init="successStoryShow[{{ key }}]={{ key > stories|length - 3 ? 'true':'false' }}">
                                        <div class="row">
                                            <div class="col-xs-2 col-sm-1">
                                                {#<figure>#}
                                                    {#<img src="{{ addedUser.getPhotoLink }}" alt="" class="img-responsive img-circle"/>#}
                                                {#</figure>#}
                                                {##}
                                                {% set nameOnImage = addedUser.firstName|slice(0,1) ~ addedUser.lastName|slice(0,1) %}
                                                {% set className = "user-no" ~ random(4) %}

                                                {% if addedUser.getPhotoLink  %}
                                                    <figure>
                                                        <img src="{{ addedUser.getPhotoLink|blImageFilter('user_icon') }}" class="img-circle img-responsive">
                                                    </figure>
                                                {% else %}
                                                    <bdi class="{{ className }}">{{ nameOnImage | upper}}</bdi>
                                                {% endif %}

                                            </div>

                                            <div class="col-xs-10 col-sm-11">
                                                <p>{{ addedUser.showName }} </p>
                                                <span data-ng-cloak>
                                                    [[ dateToLocal('{{ story.updated | date('m/d/Y H:i O') }}') ]]
                                                </span>
                                                <p>{{ story.story }}</p>
                                            </div>

                                        </div>

                                        {% if files and files|length %}

                                            {% if files|length == 1 %}
                                                {% set file = files.first %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <figure>
                                                            <img src="{{ file.getDownloadLink|blImageFilter('goal_list_small') }}" alt="Image" height="360"/>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">

                                                    <div id="story-slider-image{{ key }}" class="story-slider image-slider">
                                                        <!-- Slides Container -->
                                                        <div u="slides">
                                                            {% for k,file in files %}
                                                                <div>
                                                                    <a href="{{ file.downloadLink }}" class="swipebox">
                                                                        <img u="image" src="{{ file.downloadLink|blImageFilter('goal_list_small') }}"/>
                                                                    </a>
                                                                </div>
                                                            {% endfor %}
                                                        </div>

                                                        {% if files|length > 2 %}
                                                            <div u="navigator" class="jssorb14" style="position: absolute; bottom: 36px;left: 47%;top: initial;">
                                                                <!-- bullet navigator item prototype -->
                                                                <div u="prototype" style="position: absolute; width: 19px; height: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
                                                            </div>

                                                            <!-- Arrow Left -->
                                                            <span u="arrowleft" class="story-slider-arrow jssora13l"></span>
                                                            <!-- Arrow Right -->
                                                            <span u="arrowright" class="story-slider-arrow jssora13r"></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}

                                        {% if videos and videos|length %}

                                            {% if videos|length == 1 %}
                                                {% set v = videos[0] %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <figure>
                                                            {#<iframe src="{{ v }}" width="700" height="360"></iframe>#}
                                                            <youtube-video
                                                                video-url="storySliderVideo[{{ key }}]"
                                                                data-ng-init="storySliderVideo[{{ key }}]='{{ v }}'"
                                                                player-height="'360px'"
                                                                player-width="'700px'">
                                                            </youtube-video>
                                                        </figure>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="row">

                                                    <div id="story-slider-video{{ key }}" class="story-slider video-slider">
                                                        <!-- Slides Container -->
                                                        <div u="slides">
                                                            {% for k,video in videos %}
                                                                {% if video %}
                                                                    <div>
                                                                        {#<iframe u="image" src="{{ video }}"></iframe>#}
                                                                        <youtube-video
                                                                            u="image"
                                                                            data-ng-init="storySliderVideo[{{ key }}][{{ k }}]='{{ video }}'"
                                                                            player-width="'100%'"
                                                                            player-height="'350px'"
                                                                            video-url="storySliderVideo[{{ key }}][{{ k }}]">
                                                                        </youtube-video>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>

                                                        {% if videos|length > 1 %}
                                                            <div u="navigator" class="jssorb14" style="position: absolute; bottom: 36px;left: 47%;top: initial;">
                                                                <!-- bullet navigator item prototype -->
                                                                <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
                                                            </div>

                                                            <!-- Arrow Left -->
                                                            <span u="arrowleft" class="jssora13l"></span>
                                                            <!-- Arrow Right -->
                                                            <span u="arrowright" class="jssora13r"></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}

                            {% endif %}

                            {% if app.user %}
                                <h4>{{ 'comments'|trans }}</h4><hr />
                                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': goal.id} %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>