{# If goal exists, uses that, if not, then will use the goal parents scopes goal #}
<ul data-ng-controller="goalFooter" class="row no-gutter{% if inner is defined %} goal-links{% endif %}"
    {% if goal is defined %} data-ng-init="completed=true;goal.is_my_goal={{ goal.isMyGoal|default(0) }};goal.id={{ goal.id }}" {% endif %} data-ng-cloak>

    <li class="col-xs-4 ng-hide" data-ng-show="!goal.is_my_goal && completed">
        <a href="javascript:void(0)"
           data-ls-jquery-modal
           data-ng-click="goal.is_my_goal = 1"
           data-ls-identity="idea[[ goal.id ]]"
           data-ls-template-url="{{ app.debug ? '/app_dev.php' : '' }}/goal/add-to-me/[[ goal.id ]]">
           <i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
           <span class="text">{{ 'add'|trans | capitalize}}</span>
        </a>
    </li>
    <li class="col-xs-4 transparent ng-hide" data-ng-show="(goal.is_my_goal && goal.is_my_goal !== 0)|| !completed ">
        <i class="icon-green-plus"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
        <span class="text">{{ 'added'|trans | capitalize}}</span>
    </li>


    <li class="col-xs-4 ng-hide" data-ng-show="goal.is_my_goal !== 2 && completed">
        <a {% if app.user %}href="javascript:void(0)" data-ng-click="addDone('{{ app.debug ? '/app_dev.php':'' }}/goal/done/'+goal.id, 'addSuccesstory'+goal.id)"
                {% else %}data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/goal/done/[[ goal.id ]]"{% endif %}>
            <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
            <span class="text">{{ 'done'|trans | capitalize}}</span>
        </a>
        <a  href="javascript:void(0)"
            data-ng-show="false"
            data-ls-jquery-modal
            data-ls-template-url="{{ app.debug ? '/app_dev.php':'' }}/goal/add-story/[[ goal.id ]]"
            data-ls-identity="goalAddSuccessStoryModal[[ goal.id ]]"
            id="addSuccesstory[[ goal.id ]]">
        </a>
    </li>
    <li class="col-xs-4 transparent ng-hide" data-ng-show="(goal.is_my_goal && goal.is_my_goal === 2 )|| !completed">
        <i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
        <span class="text">{{ 'completed'|trans | capitalize}}</span>
    </li>

    {#{% if inner is not defined %}#}

        <li class="col-xs-4">
            <div class="addthis_native_toolbox"
                 data-url="{{ app.request.getSchemeAndHttpHost }}{{ app.debug ? '/app_dev.php' : '' }}/goal/[[ goal.slug ]]"
                 data-title="[[ goal.title ]]"
                 data-description="[[ goal.description ? goal.description: '{{ 'goal.view_description'|trans }}' ]]"></div>
        </li>
    {#{% endif %}#}
</ul>
