<ul class="row {% if inner is defined %} goal-links{% endif %} ">
    {#{% if is_granted("ROLE_USER") %}#}

        {#{% if not isMyGoal(goal, app.user, "add") %}#}
        {% if goal.isMyGoal == 0 %}
            <li class="col-xs-4">
                <a href="javascript:void(0)"
                   data-ls-jquery-modal
                   data-ls-identity="idea{{ goal.id }}"
                   data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                    <i class="icon plus-icon"></i>{{ 'add'|trans }}
                </a>
                {#<bdi>#}
                    {#<i class="icon plus-icon-green"></i>{{ 'added'|trans | upper}}#}
                {#</bdi>#}
            </li>
        {% endif %}

        {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
        {% if  goal.isMyGoal != 2 %}
            <li class="col-xs-6">
                <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                    <i class="icon ok-icon"></i>{{ 'done'|trans }}
                </a>

                {#<bdi>#}
                    {#<i class="icon green-ok-icon"></i>{{ 'completed'|trans | upper}}#}
                {#</bdi>#}
            </li>
        {% endif %}
    {#{% endif %}#}

    {% if inner is not defined %}
        <li class="col-xs-2">
            <div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ path('inner_goal', {'id': goal.id}) }}"></div>
        </li>
    {% endif %}
</ul>
