{% if user is defined %}
    <div class="bg-white">
        <h4 style="padding:20px 20px 0"><i class="glyphicon glyphicon-th-list"></i>{{ 'my_bucketlist'|trans }}</h4>
        <hr/>

        {% set stats = user.getStats %}

        <ul class="horizontal-menu">
            <li>
                <span>{{ 'user_goal.active'|trans }}</span>
                <span>{{ stats.active }}</span>
            </li>

            <li>
                <span>{{ 'listed_by'|trans }}</span>
                <span>{{ stats.listedBy }}</span>
            </li>

            <li>
                <span>{{ 'done'|trans |capitalize }}</span>
                <span>{{ stats.doneBy }}</span>
            </li>
        </ul>
    </div>
{% endif %}