<ul class="row {% if inner is defined %} goal-links {% endif %} news-footer">
    {#{% if is_granted("ROLE_USER") %}#}

        {#{% if not isMyGoal(goal, app.user, "add") %}#}
        {% if goal.isMyGoal == 0 %}
            <li class="col-sm-4">
                <a href="javascript:void(0)"
                   data-ls-jquery-modal
                   data-ls-identity="activity{{ goal.id }}"
                   data-ls-template-url="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                    <span class="icon plus-icon"></span>{{ 'add'|trans }}
                </a>
            </li>
        {% else %}
            <li class="col-sm-4">
                {#<span class="label label-success">{{ 'added'|trans }}</span>#}
                <strong>
                    <span class="plus-icon-green"></span>{{ 'added'|trans |upper}}
                </strong>
            </li>

        {% endif %}

        {#{% if  not isMyGoal(goal, app.user, 'done') %}#}
        {% if  goal.isMyGoal != 2 %}
            <li class="col-sm-4">
                <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                    <span class="icon ok-icon"></span>{{ 'done'|trans }}
                </a>
            </li>
        {% else %}
            <li class="col-sm-4">
                {#<span class="label label-success">{{ 'completed'|trans }}</span>#}
                <strong>
                    <span class="green-ok-icon"></span>{{ 'completed'|trans |upper}}
                </strong>
            </li>
        {% endif %}
    {#{% endif %}#}

    {% if inner is not defined %}
        <li class="col-sm-4">
            {#<a href="#">#}
                {#<span class="glyphicon glyphicon-share-alt">#}
                    <div class="addthis_native_toolbox"></div>
                {#</span>#}
            {#</a>#}
        </li>
    {% endif %}
</ul>
