{% if user is defined and count is defined%}
    {% set popularGoals = popularGoals(user, count) %}
    {% if popularGoals %}
        {% for popularGoal in popularGoals %}

        <div class="col-sm-6 col-md-12 idea-item">
            <div class="ideas">

            <figure>

                <h3>
                    <a href="{{ path('inner_goal', {'slug': popularGoal.slug }) }}">{{ popularGoal.title }}</a>
                </h3>

                {% set imageDownloadLink = popularGoal.listPhotoDownloadLink %}

                {#{% if image %}#}
                {#{% set image = popularGoal.getListPhoto %}#}
                {#{% endif %}#}

                <a href="{{ path('inner_goal', {'slug': popularGoal.slug }) }}" id="goalTitle">
                    <span class="overlay"></span>
                    <img src="{% if imageDownloadLink %}{{ imageDownloadLink|blImageFilter('goal_list_small')  }} {% endif %}" alt="{{ popularGoal.title }}"/>
                </a>

                <div class="absolute">
                    <ul>
                        <li>
                            {% if popularGoal.stats.listedBy > 0 %}
                                <a href="{{ path('listed_users', {'slug': popularGoal.slug }) }}">
                                    <span>
                                        {{ 'home_listed_by'|trans({},'messages') }}
                                        {{ popularGoal.stats.listedBy }}
                                    </span>
                                    <i class="icon-user-small"></i>
                                </a>
                            {% else %}
                                <span class="text-white">
                                    {{ 'home_listed_by'|trans({},'messages') }}
                                    {{ popularGoal.stats.listedBy }}
                                </span>
                                <i class="icon-user-small"></i>
                            {% endif %}
                        </li>
                        <li>
                            {% if popularGoal.stats.doneBy > 0 %}
                                <a href="{{ path('done_users', {'slug': popularGoal.slug} ) }}">
                                    <span>
                                        {{ 'home_complete'|trans({},'messages') }}
                                        {{ popularGoal.stats.doneBy }}
                                    </span>
                                    <i class="icon-user-small"></i>
                                </a>
                            {% else %}
                                <span class="text-white">
                                    {{ 'home_complete'|trans({},'messages') }}
                                    {{ popularGoal.stats.doneBy }}
                                </span>
                                <i class="icon-user-small"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>

                <figcaption>
                    {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : popularGoal }  %}
                </figcaption>
            </figure>
            </div>
        </div>

        {% endfor %}
    {% endif %}
{% endif %}
