<div class="col-md-4">
    <ul class="right-block">
        <li class="clearfix">
            <a href="{{ path('add_goal') }}">{{ 'right_menu.create'|trans }}</a>
            <a href="{{ path('goal_drafts') }}">{{ 'right_menu.draft'|trans }}
                <span>{{ draftsCount }}</span>
            </a>
        </li>
        <li class="clearfix">
            <span>{{ 'right_menu.ideas'|trans }}</span>
            <a href="{{ path("goals_list") }}">{{ 'right_menu.show'|trans }}</a>
        </li>
        <li>
            {% if popularGoals %}
                {% for popularGoal in popularGoals %}
                    <figure>

                        <h3>{{ popularGoal.title }}</h3>

                        <img src="{{ popularGoal.getListPhoto ? popularGoal.getListPhoto.getDownloadLink : null }}" alt= "{{ popularGoal.title }}" class="img-responsive" />
                        <figcaption>
                            {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : popularGoal }  %}
                        </figcaption>
                    </figure>
                    <br />
                {% endfor %}
            {% endif %}
        </li>
    </ul>
</div>