<div class="modal-top">
    <figure>
        <img src="{{ goal.getListPhoto ? goal.getListPhoto.getDownloadLink : null }}" alt= "{{ goal.title }}" class="img-responsive" />
    </figure>


        <div class="row no-gutter">

            <div class="col-md-8">

                <h2 {% if goal.title|length > 40 %}class="title-smaller"{% endif %}>{{ goal.title }}</h2>
                {% if goal.author.showName is not defined %}
                     <p>{{ goal.author.showName }}</p>
                {% endif %}

                <ul>
                    <li>
                        <a href="#">
                            {{ 'block_listed'|trans | upper }}
                            <span>{{ goal.getUsedCount.listedBy }}</span>
                            <span class="icon user-icon"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ 'block_completed'|trans | upper }}
                            <span>{{ goal.getUsedCount.doneBy }}</span>
                            <span class="icon user-icon"></span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 text-right">
                <a data-ng-click="showDetails = ! showDetails" href="#" class="btn btn-transparent forget">
                    <i class="icon trash-icon"></i>
                    {{ 'forget'|trans | upper }}
                </a>
            </div>

            <div data-ng-show="showDetails" class="relative">
                <div class="delete-message">
                    <h3>{{ 'delete_message'|trans|upper|raw }}</h3>
                    <a href="{{ path('remove_goal', {'goal' : goal.getId , 'user': user.getId }) }}" class="btn btn-transparent">{{ 'btn_delete'|trans | upper }}</a>
                    <a data-ng-click="showDetails = ! showDetails" href="#" class="btn btn-purple">{{ 'btn_cancel'|trans | upper }}</a>
                </div>
            </div>

        </div>
</div>