<ul class="user-menu">

    <li class="divider"></li>

    <li>
        <a href="{{ path('user_profile') }}">
            <i class="icon-list-icon"></i>{{ 'my_bucketlist'|trans }}
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="{{ path('add_goal') }}">
            <i class="icon-creat-icon">
                {#<span class="path1"></span>#}
                {#<span class="path2"></span>#}
                {#<span class="path3"></span>#}
            </i>
            {{ 'create_goal'|trans }}
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a onclick="openSettingsModal()" href="javascript:void(0)" data-url="{{ path("settings") }}">
            <i class="icon-settings-icon"></i>{{ 'settings'|trans }}
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="{{ path("fos_user_security_logout") }}">
            <i class="icon-logout"></i>{{ 'logout'|trans }}
        </a>
    </li>
</ul>