<ul class="user-menu">
    <li>
        <a href="{{ path('my_list') }}">
            <i class="glyphicon glyphicon-pencil"></i>{{ 'my_bucketlist'|trans }}
        </a>
    </li>

    <li>
        <a href="{{ path('add_goal') }}">
            <i class="glyphicon glyphicon-pencil"></i>{{ 'create_goal'|trans }}
        </a>
    </li>

    <li>
        <a href="{{ path("settings") }}">
            <i class="glyphicon glyphicon-cog"></i>{{ 'settings'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path("fos_user_security_logout") }}">
           <i class="glyphicon glyphicon-off"></i>{{ 'logout'|trans }}
        </a>
    </li>
</ul>