<ul class="user-menu">

    <li class="divider"></li>

    <li>
        <a href="{{ path('user_profile') }}">
            <i></i>{{ 'my_bucketlist'|trans }}
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="{{ path('add_goal') }}">
            <i></i>{{ 'create_goal'|trans }}
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a onclick="openSettingsModal()" href="javascript:void(0)" data-url="{{ path("settings") }}">
            <i></i>{{ 'settings'|trans }}
        </a>
    </li>

    <li class="divider"></li>

    <li>
        <a href="{{ path("fos_user_security_logout") }}">
           <i></i>{{ 'logout'|trans }}
        </a>
    </li>
</ul>