<div class="slide calendar-place ng-hide"
     data-ng-if="showCalendar"
     data-ng-cloak
     data-ng-controller="calendarController"
     data-ng-show="initialization">

    <div class="container">

        <div class="row">
            <div class="col-sm-5">
                <section>
                    <md-button class="groupX left" data-ng-class="{'md-active': type == 'month'}" data-ng-click="type = 'month'">Month</md-button>
                    <md-button class="groupX middle" data-ng-class="{'md-active': type == 'year'}" data-ng-click="type = 'year'">Year</md-button>
                    <md-button class="groupX right" data-ng-class="{'md-active': type == 'all'}" data-ng-click="type = 'all'">All</md-button>
                </section>
            </div>
            <div class="col-xs-9 col-sm-4">
                <h3 class="ng-hide" data-ng-show="type == 'month'">[[ dateByFormat(currentYear, currentMonth, 1, 'MMMM YYYY')]]</h3>
                <h3 class="ng-hide year" data-ng-show="type == 'year'">Years</h3>
                <h3 class="ng-hide" data-ng-show="type == 'all'">Lifetime</h3>
            </div>
            <div class="col-xs-3 col-sm-3 text-right">

                <a href="#" data-ng-click="prev()">
                    <i class="icon-arrow-left"><span class="path1"></span><span class="path2"></span></i>
                </a>

                <a href="#" data-ng-click="next()">
                    <i class="icon-arrow-right"></i>
                </a>

            </div>
        </div>

        <div class="table-responsive ng-hide" data-ng-show="type == 'month'">
            <table class="table table-bordered month-calendar">
                <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                </thead>

                <tbody>
                <tr data-ng-repeat="1 in arrayBySize(6) track by $index" data-ng-hide="($index == 5 && noShowLast)">
                    <td data-ng-repeat="1 in arrayBySize(7) track by $index">
                        <span data-ng-class="{'text-gray': (days[(7 * $parent.$index + $index + 1)].status == 'inActive'), 'text-gray-dark': (days[(7 * $parent.$index + $index + 1)].status == 'active')}">
                            <sup>[[days[7 * $parent.$index + $index + 1].day ]]</sup>
                        </span>

                        <span data-ng-class="{'absolute': !isMobile}">
                        <span class="goal-count bg-green ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.completed'|trans }}" data-tooltip-side="top" data-ng-show="myDays[currentYear][currentMonth][days[7 * $parent.$index + $index + 1].day].complete > 0">[[myDays[currentYear][currentMonth][days[7 * $parent.$index + $index + 1].day].complete ]]</span>
                        <span class="goal-count bg-gradinet ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.deadline'|trans }}" data-tooltip-side="top" data-ng-show="myDays[currentYear][currentMonth][days[7 * $parent.$index + $index + 1].day].deadline > 0">[[myDays[currentYear][currentMonth][days[7 * $parent.$index + $index + 1].day].deadline ]]</span>
                        <span class="goal-count bg-purple ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.active'|trans }}" data-tooltip-side="top" data-ng-show="myDays[currentYear][currentMonth][days[7 * $parent.$index + $index + 1].day].current > 0">[[myDays[currentYear][currentMonth][days[7 * $parent.$index + $index + 1].day].current ]]</span>
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        {# start year calendar#}
        <div class="row ng-hide" data-ng-show="type == 'year'">
            <div class="col-sm-6"
                 data-ng-cloak
                 data-ng-repeat="1 in arrayBySize(2) track by $index">
                <div class="table-responsive">
                    <table class="table table-bordered year-calendar">
                        <caption class="text-center">[[ +currentYear + $index ]]</caption>
                        <tbody>

                        <tr data-ng-repeat="1 in arrayBySize(4) track by $index">
                            <td data-ng-repeat="1 in arrayBySize(3) track by $index">
                                <span>
                                    <sup>[[ dateByFormat(currentYear, 3 * $parent.$index + $index + 1, 1, 'MMM')]]</sup>
                                </span>
                                <span class="absolute">
                                    <span class="goal-count bg-green ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.completed'|trans }}" data-tooltip-side="top" data-ng-show="myYAMonths[+currentYear + $parent.$parent.$index ][3 * $parent.$index + $index + 1].complete > 0">[[ myYAMonths[+currentYear + $parent.$parent.$index][3 * $parent.$index + $index + 1].complete ]]</span>
                                    <span class="goal-count bg-gradinet ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.deadline'|trans }}" data-tooltip-side="top" data-ng-show="myYAMonths[+currentYear + $parent.$parent.$index][3 * $parent.$index + $index + 1].deadline > 0">[[ myYAMonths[+currentYear + $parent.$parent.$index][3 * $parent.$index + $index + 1].deadline ]]</span>
                                    <span class="goal-count bg-purple ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.active'|trans }}" data-tooltip-side="top" data-ng-show="myYAMonths[+currentYear + $parent.$parent.$index][3 * $parent.$index + $index + 1].current > 0">[[ myYAMonths[+currentYear + $parent.$parent.$index][3 * $parent.$index + $index + 1].current ]]</span>
                                </span>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {# end year calendar#}

        <div class="row ng-hide" data-ng-show="type == 'all'">
            <div class="col-xs-6 col-sm-3 col-md-2" data-ng-repeat="1 in arrayBySize(12) track by $index">
                <div class="lifetime bg-white">
                    <span class="text-grey-dark">
                       <sup>Year [[ +currentYear + $index]]</sup>
                    </span>

                    <span class="absolute">
                        <span class="goal-count bg-green ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.completed'|trans }}" data-tooltip-side="top" data-ng-show="myYears[+currentYear + $index ].complete > 0">[[ myYears[+currentYear + $index ].complete ]]</span>
                        <span class="goal-count bg-gradinet ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.deadline'|trans }}" data-tooltip-side="top" data-ng-show="myYears[+currentYear + $index ].deadline > 0">[[ myYears[+currentYear + $index ].deadline ]]</span>
                        <span class="goal-count bg-purple ng-hide" data-tooltips data-tooltip-template="{{ 'my_bucket_list.calendar.active'|trans }}" data-tooltip-side="top" data-ng-show="myYears[+currentYear + $index ].current > 0">[[ myYears[+currentYear + $index ].current ]]</span>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>