<div class="col-xs-6 col-sm-3 col-md-2">
    <div class="lifetime bg-white">
        <span class="text-grey-dark">
           <sup>Year [[ +currentYear + {{ index }} ]]</sup>
        </span>

        <span class="absolute">
            <span class="goal-count bg-green ng-hide"
                  title="[[ myYears[+currentYear + {{ index }} ].complete ]] {{ 'my_bucket_list.calendar.completed'|trans }}"
                  data-ng-show="myYears[+currentYear + {{ index }} ].complete > 0">
                [[ myYears[+currentYear + {{ index }} ].complete ]]
            </span>
            <span class="goal-count bg-gradinet ng-hide"
                  title="[[ myYears[+currentYear + {{ index }} ].deadline ]] {{ 'my_bucket_list.calendar.deadline'|trans }}"
                  data-ng-show="myYears[+currentYear + {{ index }} ].deadline > 0">
                [[ myYears[+currentYear + {{ index }} ].deadline ]]
            </span>
            <span class="goal-count bg-purple ng-hide"
                  title="[[ myYears[+currentYear + {{ index }} ].current ]] {{ 'my_bucket_list.calendar.active'|trans }}"
                  data-ng-show="myYears[+currentYear + {{ index }} ].current > 0">
                [[ myYears[+currentYear + {{ index }} ].current ]]
            </span>
        </span>
    </div>
</div>