{% extends "AppBundle:BucketList:base.html.twig" %}

{% block content_container%}
    <div class="container">

        <ul class="nav nav-tabs">

            <li role="presentation" class="active">
                <a href="#">Home</a>
            </li>

            <li role="presentation">
                <a href="#">Profile</a>
            </li>
            <li role="presentation">
                <a href="#">Messages</a>
            </li>
        </ul>

        <form class="form-inline">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> {{ 'filter.dream'|trans }}
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> {{ 'filter.import_urgent'|trans }}
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">{{ 'filter.not_import_urgent'|trans }}
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4"> {{ 'filter.import_not_urgent'|trans }}
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">{{ 'filter.not_import_not_urgent'|trans }}
            </label>
        </form>

    </div>


{% endblock %}