{% extends "AppBundle:BucketList:baseList.html.twig" %}

{% block content_container %}
    <div class="slide map-marker ng-hide" data-ng-cloak data-ng-hide="!showMap">
        <div data-simple-map-marker
             data-markers="{{ locations(userGoals.getItems()) | json_encode }}"
             {#data-on-marker-click="onMarkerClick(goal)"#}
             data-is-bounded="true"
             data-item-page-url="{{ env_prefix  }}/goal/"
             {#data-active-marker-icon="{{ asset('bundles/app/images/map-marker-white.png') }}"#}
             data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"
             data-refresh="showMap"
             class="google-map "
             style="width: 100%; height: 300px">
        </div>
    </div>

    <div class="bucketlist">
        <div class="container">
            <div class="row">
                <ul class="menu">
                    {% set dream = app.request.get('d') %}
                    {% set activeGoals = profileUser.getStats.active %}
                    {% set my_router_params =  app.request.query.all %}
                    {% set userUId = {} %}
                    {% set routeName = 'user_profile_single' %}
                    {% if profileUser.id != app.user.id %}
                        {% set userUId = {'user' : profileUser.uId} %}
                        {% set routeName = 'user_profile' %}
                    {% endif %}

                    <li {% if status == all %} class="active" {% endif %} >
                        <a  href="{{ path(routeName, my_router_params|merge(userUId)|merge({'status' : all})) }}">{{ 'menu.bucket'|trans }}</a>
                    </li>
                    <li {% if status == active %} class="active" {% endif %}>
                        <a  href="{{ path(routeName, my_router_params|merge(userUId)|merge({'status' : active})) }}">{{ 'menu.active'|trans }}</a>
                    </li>
                    <li {% if status == completed %} class="active" {% endif %}>
                        <a href="{{ path(routeName, my_router_params|merge(userUId)|merge({'status' : completed })) }}">{{ 'menu.completed'|trans }}</a>
                    </li>
                    <li class="pull-right">
                        <a href="javascript:void(0)" data-ng-class="{'text-purple': showMap}" data-ng-click="showMap=!showMap; triggerMap('.google-map')"> {{ 'menu.map'|trans }}
                            <i class="icon-icon-up" data-ng-hide="showMap"><span class="path1"></span><span class="path2"></span></i>
                            <i class="icon-scroll-down ng-hide" data-ng-show="showMap"><span class="path1"></span><span class="path2"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <form class="form-inline" action="#">
                        {# dream filter #}
                        <label class="radio-inline {% if dream %}checked-label {% endif %}">
                            <input {% if dream %} checked {% endif %} onchange="submit()" type="checkbox" name="d" value="1"> {{ 'filter.dream'|trans }}
                        </label>

                        {# other filters #}
                        {% for id, name in filters %}
                            {% set queryParameterName = "f_" ~ id %}
                            <label class="radio-inline {% if app.request.get(queryParameterName) %}checked-label {% endif %}">
                                <input {% if app.request.get(queryParameterName) %} checked {% endif %} onchange="submit()" type="checkbox" name="f_{{ id }}"> {{ name|trans }}
                            </label>
                        {% endfor %}
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 goals-information">
                {% if userGoals.items %}

                    {% for userGoal in userGoals %}
                        {% set goal = userGoal.goal %}
                        {% set status = userGoal.status %}

                        {% set lastIndex = userGoals|length - 1 %}

                        {% if profileUser.id == app.user.id or userGoal.isVisible %}

                            <div class="row{% if status !=  constant("AppBundle\\Entity\\UserGoal::COMPLETED") and userGoal.doDate is not null %} active-idea{% endif %} goal{{ goal.id }}">
                                <div class="col-sm-2 no-right">
                                    <div class="date-left hidden-xs" data-ng-init="change{{ goal.id }} = 0;doDate{{ goal.id }} = null">
                                        <div class="img-circle" data-ng-if="change{{ goal.id }} == 0">
                                            {% if userGoal.doDate is not null and status !=  constant("AppBundle\\Entity\\UserGoal::COMPLETED")%}
                                                {{ userGoal.doDate|date('d') }}
                                            {% elseif userGoal.completionDate is not null%}
                                                {{ userGoal.completionDate|date('d') }}
                                            {% else %}
                                                <i class="dreaming">
                                                    <i class="icon-dreaming"></i>
                                                </i>
                                            {% endif %}
                                        </div>
                                        <div class="img-circle" data-ng-cloak data-ng-if="change{{ goal.id }} == 1">
                                            <i class="dreaming">
                                                <i class="icon-dreaming"></i>
                                            </i>
                                        </div>
                                        <div class="img-circle" data-ng-cloak data-ng-if="change{{ goal.id }} == 2">
                                            [[ doDate{{ goal.id }} | date:'dd']]
                                        </div>

                                        {% if userGoals[lastIndex].id == userGoal.id %}
                                            <span></span>
                                        {% endif %}
                                        <div class="elipse">
                                            <div class="text-gray" data-ng-if="change{{ goal.id }} == 0">
                                                {% if userGoal.doDate is not null %}
                                                    {{ userGoal.doDate|date('M, Y') }}
                                                {% elseif userGoal.completionDate is not null%}
                                                    {{ userGoal.completionDate|date('M, Y') }}
                                                {% else %}
                                                    {{ 'dreaming'|trans }}
                                                {% endif %}
                                            </div>
                                            <div class="text-gray" data-ng-if="change{{ goal.id }} === 1">
                                                {{ 'dreaming'|trans }}
                                            </div>
                                            <div class="text-gray" data-ng-if="change{{ goal.id }} === 2" >
                                                [[ doDate{{ goal.id }} | date:'MMM, yyyy' ]]
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-10 bg-white no-left">
                                    <div class="row">
                                        <div class="col-sm-6 no-right">
                                            <figure>

                                                <div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ path('inner_goal', {'slug': goal.slug}) }}"></div>

                                                <a href="{{ path('inner_goal', {'slug' : goal.slug }) }}">
                                                    <span class="overlay"></span>

                                                    {% if goal.getListPhotoDownloadLink() %}
                                                        <img src="{{ goal.getListPhoto.getDownloadLink|blImageFilter('goal_bucketlist') }}" alt= "{{ goal.title }}" />
                                                    {% endif %}

                                                </a>

                                                <figcaption>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            {% if goal.stats.listedBy > 0 %}
                                                                <a href="{{ path('listed_users', {'slug': goal.slug }) }}">
                                                                    <span>{{ 'block_listed'|trans | capitalize }} {{ goal.stats.listedBy }}</span>
                                                                    <i class="icon-user-small"></i>
                                                                </a>
                                                            {% else %}
                                                                <span class="text-white">
                                                                    <span>{{ 'block_listed'|trans | capitalize }} {{ goal.stats.listedBy }}</span>
                                                                    <i class="icon-user-small"></i>
                                                                </span>
                                                            {% endif %}
                                                        </div>

                                                        <div class="col-xs-6">
                                                            {% if goal.stats.doneBy > 0 %}
                                                                <a href="{{ path('done_users', {'slug': goal.slug} ) }}">
                                                                    <span>{{ 'block_completed'|trans | capitalize }} {{ goal.stats.doneBy }}</span>
                                                                    <i class="icon-user-small"></i>
                                                                </a>
                                                            {% else %}
                                                                <span class="text-white">
                                                                    <span>{{ 'block_completed'|trans | capitalize }} {{ goal.stats.doneBy }}</span>
                                                                    <i class="icon-user-small"></i>
                                                                </span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-sm-6">
                                            <article class="information">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h3>
                                                            <a href="{{ path('inner_goal', {'slug' : goal.slug }) }}" class="text-dark-gray">
                                                                <strong>{{ goal.title }}</strong>
                                                            </a>
                                                        </h3>
                                                    </div>
                                                </div>

                                                <ul class="clearfix">
                                                    {% if userGoal.steps is not null and userGoal.steps|length > 0 %}
                                                        <li>
                                                            <i title="{{ 'my_bucket_list.notes'|trans }}"  class="icon-step-list"></i>
                                                        </li>
                                                        <li>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-striped"
                                                                     role="progressbar"
                                                                     aria-valuenow="45"
                                                                     aria-valuemin="0"
                                                                     aria-valuemax="100"
                                                                     style="width: {{ userGoal.getCompleted|round(1, 'floor') }}%">
                                                                    {{ userGoal.getCompleted|round(1, 'floor') }}%
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endif %}

                                                    {% if goal.author and goal.author.id == profileUser.id %}
                                                        <li>
                                                            <i title="{{ 'my_bucket_list.steps'|trans }}" class="icon-pencil"></i>
                                                        </li>
                                                    {% endif %}

                                                    {% if goal.author and goal.author.id == profileUser.id and goal.status == constant('AppBundle\\Entity\\Goal::PRIVATE_PRIVACY') %}
                                                        <li>
                                                            <i title="{{ 'my_bucket_list.private'|trans }}"  class="icon-lock-white"></i>
                                                        </li>
                                                    {% endif %}


                                                    {# invisible #}
                                                    {% if not userGoal.isVisible %}
                                                        <li>
                                                            <i title="{{ 'my_bucket_list.invisible'|trans }}" class="icon-eye"></i>
                                                        </li>
                                                    {% endif %}

                                                    {# Missed deadline #}
                                                    {% if userGoal.doDate is not null and userGoal.doDate|date("m/d/Y") < "now"|date("m/d/Y") %}
                                                        <li>
                                                            <i title="{{ 'my_bucket_list.missed_deadline'|trans }}"  class="icon-info"></i>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                                {% if profileUser.id == app.user.id %}
                                                    <div class="row">
                                                        <div class="col-xs-5">
                                                            <a href="javascript:void(0)"
                                                               data-ng-cloak
                                                               data-ls-type="manage"
                                                               data-ls-goal-id="{{ goal.id }}"
                                                               data-ls-goal-manage
                                                               class="text-gray manage-modal">
                                                                <i class="icon-manage"></i>
                                                                <span>{{ 'manage'|trans | capitalize }}</span>
                                                            </a>

                                                        </div>

                                                        <div class="col-xs-7 text-right">
                                                            {% set  goalStatus = status == constant("AppBundle\\Entity\\UserGoal::COMPLETED") %}
                                                            <div class="check_status" data-ng-init="success{{ goal.id }} = '{{ goalStatus }}'">
                                                                <a href="javascript:void(0)"
                                                                   data-ng-cloak
                                                                   data-ng-show="!success{{ goal.id }}"
                                                                   data-ng-click="goalId = '{{ goal.id }}'; addDone('{{ path("done_goal", {'id' : goal.id }) }}', 'success{{ goal.id }}')"
                                                                   class="btn btn-transparent ng-hide"
                                                                   id="done{{ goal.id }}">
                                                                    <i class="icon done-icon"></i>
                                                                    {{ 'done'|trans | capitalize }}
                                                                </a>
                                                                <a  href="javascript:void(0)"
                                                                    data-ng-show="success{{ goal.id }}"
                                                                    data-ls-jquery-modal
                                                                    data-ng-cloak
                                                                    data-ls-template-url="{{ path("add_story", { 'id' : goal.id }) }}"
                                                                    data-ls-identity="goalAddSuccessStoryModal{{ goal.id }}"
                                                                    class="btn btn-transparent successtory ng-hide"
                                                                    id="success{{ goal.id }}">
                                                                    <i class="icon ok-icon-green"></i>
                                                                    {{ 'successtory'|trans | capitalize }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}

                    <p class="empty-text">

                        {% if activeGoals == 0 %}
                            {% set link = path('goals_list') %}
                        {% else %}
                            {% set link = path('user_profile_single', {'status': active }) %}
                        {% endif %}

                        {% if dream %}
                            {{ 'dream'|trans }}
                        {% elseif app.request.get('f_1') or app.request.get('f_2') or app.request.get('f_3') or app.request.get('f_4') %}
                            {{ 'my_bucket_list.filter'|trans }}
                        {% elseif status == completed %}
                            {{ 'my_bucket_list.complete'|trans }} <a href="{{ link }}" class="text-purple">{{ 'my_bucket_list.some_goal'|trans }}</a>
                        {% elseif status == active %}
                            {{ 'my_bucket_list.need_goal'|trans }} <a href="{{ path('goals_list') }}" class="text-purple">{{ 'my_bucket_list.add_some'|trans }}</a>
                        {% else %}
                            {{ 'my_bucket_list.doing_here'|trans }} <a href="{{ path('goals_list') }}" class="text-purple">{{ 'my_bucket_list.add_goal'|trans }}</a>
                        {% endif %}
                    </p>

                {% endif %}

                <div class="navigation">
                    {{ knp_pagination_render(userGoals) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="right-block">
                    <div class="right-menu">
                        <div class="row">
                            <div class="col-xs-7">
                                <i class="icon-creat-icon"></i>
                                <a href="{{ path('add_goal') }}">{{ 'right_menu.create'|trans }}</a>
                            </div>
                            <div class="col-xs-5 text-right">
                                {% if profileUser.id == app.user.id %}
                                    <a href="{{ path('my_ideas') }}">{{ 'right_menu.my_ideas'|trans }} {{ myIdeasCount }}</a>
                                {% endif %}
                            </div>
                        </div>
                        <hr/>

                        <div class="row padding-top">
                            <div class="col-xs-10">
                                <span>
                                    <i class="icon-suggest-icon"></i>
                                    <a href="{{ path("goals_list") }}"> {{ 'right_menu.suggested'|trans }}</a>
                                </span>
                            </div>

                            <div class="col-xs-2 text-right">
                                <a href="#" class="load" id="popularLoad" data-ng-class="{'load-animate': load}" data-ng-click="load=!load"></a>
                            </div>
                        </div>

                        <hr/>
                    </div>
                    <div class="row">
                        {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': user, 'count': 2}  %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
