{% extends "AppBundle:BucketList:baseList.html.twig" %}

{% block content_container %}

    <div
        class="bucketlist"
        data-ng-init="
        profile.status = '{{ status }}';
        profile.condition = '{{ status? (status == 'completed-goals')? 2: 1: 0}}';
        profile.isDream = '{{ app.request.get('d')? 'true': 'false' }}';
        profile.f_1 = '{{ app.request.get('f_1')? 'true': 'false'}}';
        profile.f_2 = '{{ app.request.get('f_2')? 'true': 'false' }}';
        profile.f_3 = '{{ app.request.get('f_3')? 'true': 'false' }}';
        profile.f_4 = '{{ app.request.get('f_4')? 'true': 'false' }}';
        profile.userId = '{{ profileUser.id }}';
        activeGoals = '{{ profileUser.getStats.active }}';
        ">
        <div class="container">
            <div class="row">
                <ul class="menu">
                    {% set myProfile = true %}
                    {% set my_router_params =  app.request.query.all %}
                    {% set routeName = 'user_profile_single' %}
                    {% if profileUser.id != app.user.id %}
                        {% set myProfile = false %}
                        {% set routeName = 'user_profile' %}
                    {% endif %}

                    <li data-ng-class="{'active': profile.status == '{{ all }}' }">
                        <a href="#" data-ng-click="goTo(0); profile.status = '{{ all }}'">
                            {% if myProfile %}{{ 'menu.bucket'|trans }}{% else %}{{ 'right_menu.show'|trans }}{% endif %}
                        </a>
                    </li>
                    <li data-ng-class="{'active': profile.status == '{{ active }}' }">
                        <a href="#" data-ng-click="goTo(1); profile.status = '{{ active }}'">
                            {{ 'menu.active'|trans }}
                        </a>
                    </li>
                    <li data-ng-class="{'active': profile.status == '{{ completed }}' }">
                        <a href="#" data-ng-click="goTo(2); profile.status = '{{ completed }}'">
                            {{ 'menu.completed'|trans }}
                        </a>
                    </li>
                    {% if not  myProfile%}
                        <li data-ng-class="{'active': profile.status == '{{ common }}' }">
                            <a href="#" data-ng-click="goTo(3); profile.status = '{{ common }}'">
                                {{ 'menu.common'|trans }}
                            </a>
                        </li>
                    {% endif %}
                    <li class="pull-right">
                        <a href="#" data-ng-class="{'map-marker-active': showMap}"
                           data-ng-click="showMap=!showMap; triggerMap('.google-map')" class="map-marker-new">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="slide map-marker ng-hide" data-ng-cloak data-ng-hide="!showMap">
            <div data-simple-map-marker
                 data-markers="locations"
                 data-on-marker-click="onMarkerClick(goal)"
                 data-is-bounded="true"
                 data-item-page-url="{{ env_prefix  }}/goal/"
                 data-active-marker-icon="{{ asset('bundles/app/images/map-marker-white.png') }}"
                 data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"
                 data-refresh="showMap"
                 class="google-map "
                 style="width: 100%; height: 300px">
            </div>
        </div>

        <hr/>
    {% if myProfile %}

        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <form class="form-inline" action="#">
                        {# dream filter #}
                        <label class="radio-inline" data-ng-class="{'checked-label': (profile.isDream === 'true')}">
                            <input data-ng-model="profile.isDream" type="checkbox" name="d" data-ng-true-value="'true'"
                                   data-ng-false-value="'false'">
                            {{ 'filter.dream'|trans }}
                        </label>

                        {# other filters #}
                        {% for id, name in filters %}
                            {% set queryParameterName = "f_" ~ id %}
                            <label data-ng-class="{'checked-label': (profile['{{ queryParameterName }}'] === 'true') }" class="radio-inline">
                                <input data-ng-model="profile['{{ queryParameterName }}']"
                                       type="checkbox"
                                       name="f_{{ id }}"
                                       data-ng-true-value="'true'"
                                       data-ng-false-value="'false'">
                                {{ name|trans }}
                            </label>
                        {% endfor %}
                    </form>
                </div>

            </div>
        </div>
    {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 {% if myProfile %} goals-information{% endif %}"
                 data-ng-cloak
                 data-infinite-scroll='ProfileItems.nextPage(profile)'
                 data-infinite-scroll-disabled='ProfileItems.noItem || ProfileItems.busy'>
                <div class="ng-hide" data-ng-show="ProfileItems.userGoals.length">
                    {% if myProfile %}
                        <div data-ng-class="{'active-idea': ((status != '{{ constant("AppBundle\\Entity\\UserGoal::COMPLETED") }}') && userGoal.do_date)}" class="row goal[[ goal.id ]] goals-animate"
                            data-ng-cloak
                            data-ng-repeat="userGoal in ProfileItems.userGoals"
                            data-ng-init="goal = userGoal.goal; status = userGoal.status">
                            <div class="col-sm-2 no-right" data-ng-cloak data-ng-class="{'no-left' : isMobile}">
                                <div class="date-left"
                                     data-ng-init="
                                        change[[ goal.id]] = 0;
                                        doDate[[ goal.id ]] = null;
                                        goalDate[ goal.id ] = ((userGoal.do_date && status != '{{ constant("AppBundle\\Entity\\UserGoal::COMPLETED") }}')? userGoal.do_date: (userGoal.completion_date? userGoal.completion_date: 'dreaming'))">

                                    <p data-ng-if="isMobile && !$index" >
                                        <span class="hidden-sm hidden-mg hidden-lg space"></span>
                                    </p>

                                    <div class="img-circle hidden-xs ng-hide" data-ng-cloak data-ng-show="goalDate[ goal.id ] != 'dreaming' ">
                                        [[ goalDate[goal.id] | date:'dd' ]]
                                    </div>

                                    <div class="img-circle hidden-xs ng-hide" data-ng-cloak data-ng-show="goalDate[ goal.id ] == 'dreaming' ">
                                        <i class="dreaming">
                                            <i class="icon-dreaming"></i>
                                        </i>
                                    </div>

                                    {#todo mobile is crush#}
                                    <div class="data-mobile ng-hide" data-ng-show="isMobile">

                                        <div></div>
                                        <div data-ng-cloak>
                                            {% if isMobile() %}
                                                <p data-ng-show="goalDate[ goal.id ] != 'dreaming'" class="ng-hide">[[ goalDate[ goal.id ]| date:'dd MMMM yyyy' ]]</p>
                                                <p data-ng-show="goalDate[ goal.id ] == 'dreaming'" class="ng-hide">
                                                    <i class="dreaming-mobile">
                                                        <i class="icon-dreaming text-purple"></i>
                                                    </i>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <span class="hidden-xs" data-ng-if="$index == ProfileItems.userGoals.length -1"></span>

                                    <div class="elipse" data-ng-cloak>

                                        <div data-ng-cloak data-ng-show="!isMobile && goalDate[ goal.id ] != 'dreaming' " class="text-gray ng-hide">
                                            [[ goalDate[goal.id] | date:'MMM, yyyy' ]]
                                        </div>

                                        <div data-ng-cloak data-ng-show="!isMobile && goalDate[ goal.id ] == 'dreaming' " class="text-gray ng-hide">
                                                {{ 'dreaming'|trans }}
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-10 bg-white no-left">
                                <div class="row">
                                    <div class="col-sm-6 no-right">
                                        <figure  data-ng-init="innerPath = (goal.publish || (goal.author && goal.author.id == '{{ user.id }}'))? '{{ env_prefix  }}/goal/' + goal.slug: '#'">

                                            <div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ env_prefix  }}/goal/[[ ::goal.slug ]]"></div>


                                            <a data-ng-href="[[ innerPath]]">
                                                <span class="overlay"></span>
                                                <img data-ng-if="goal.cached_image" data-ng-src="[[ ::goal.cached_image ]]" alt= "[[ ::goal.title ]]" />
                                            </a>


                                            <figcaption>
                                                <div class="row" data-ng-cloak>
                                                    <div class="col-xs-6">
                                                        <a ls-goal-users
                                                           href="javascript:void(0)"
                                                           ls-goal-id="[[ ::goal.id ]]"
                                                           ls-category="listed"
                                                           data-ng-show="castInt(goal.stats.listedBy)">
                                                            <span>
                                                                {{ 'block_listed'|trans | capitalize }}
                                                                [[ ::goal.stats.listedBy ]]
                                                            </span>
                                                            <i class="icon-user-small"></i>
                                                        </a>
                                                        <span class="text-white ng-hide" data-ng-hide="castInt(goal.stats.listedBy)">
                                                            <span>{{ 'block_listed'|trans | capitalize }} [[ ::goal.stats.listedBy ]]</span>
                                                            <i class="icon-user-small"></i>
                                                        </span>
                                                    </div>

                                                    <div class="col-xs-6">
                                                        <a ls-goal-users
                                                           href="javascript:void(0)"
                                                           ls-goal-id="[[ ::goal.id ]]"
                                                           data-ng-show="castInt(goal.stats.doneBy)">
                                                            <span>
                                                                {{ 'block_completed'|trans | capitalize }}
                                                                [[ ::goal.stats.doneBy ]]
                                                            </span>
                                                            <i class="icon-user-small"></i>
                                                        </a>

                                                        <span class="text-white ng-hide" data-ng-hide="castInt(goal.stats.doneBy)">
                                                            <span>{{ 'block_completed'|trans | capitalize }} [[ ::goal.stats.doneBy ]]</span>
                                                            <i class="icon-user-small"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-sm-6">
                                        <article class="information">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h3>
                                                        <a data-ng-href="[[ innerPath]]" class="text-dark-gray">
                                                            <strong>[[ goal.title ]]</strong>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>

                                            <ul class="clearfix">

                                                <li data-ng-if="!isEmpty(userGoal.steps)">
                                                    <i title="{{ 'my_bucket_list.notes'|trans }}"  class="icon-step-list"></i>
                                                </li>
                                                
                                                <li data-ng-if="!isEmpty(userGoal.steps)">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped"
                                                        role="progressbar"
                                                        aria-valuenow="45"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                        style="width: [[ Math.round(userGoal.completed) ]]%">
                                                        [[ Math.round(userGoal.completed) ]]%
                                                        </div>
                                                    </div>
                                                </li>

                                                <li data-ng-if="goal.author && goal.author.id == '{{ profileUser.id }}'">
                                                    <i title="{{ 'my_bucket_list.steps'|trans }}" class="icon-pencil"></i>
                                                </li>

                                                <li data-ng-if="goal.author && goal.author.id == '{{ profileUser.id }}' && goal.status == '{{ constant('AppBundle\\Entity\\Goal::PRIVATE_PRIVACY') }}'">
                                                    <i title="{{ 'my_bucket_list.private'|trans }}"  class="icon-lock-white"></i>
                                                </li>

                                                {# invisible #}
                                                <li data-ng-if="!userGoal.is_visible">
                                                    <i title="{{ 'my_bucket_list.invisible'|trans }}" class="icon-eye"></i>
                                                </li>

                                                {# Missed deadline #}
                                                <li data-ng-if="isLate(userGoal.do_date)">
                                                    <i title="{{ 'my_bucket_list.missed_deadline'|trans }}"  class="icon-info"></i>
                                                </li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <a href="javascript:void(0)"
                                                       data-ng-cloak
                                                       data-ls-type="manage"
                                                       data-ls-goal-id="[[ goal.id ]]"
                                                       data-ls-goal-manage
                                                       class="text-gray manage-modal">
                                                        <i class="icon-manage"></i>
                                                        <span>{{ 'manage'|trans | capitalize }}</span>
                                                    </a>

                                                </div>

                                                <div class="col-xs-7 text-right"
                                                    data-ng-init="goalStatus = (status == '{{ constant("AppBundle\\Entity\\UserGoal::COMPLETED") }}')">
                                                    <div class="check_status" data-ng-init="success[ goal.id ] = goalStatus">
                                                        <a href="javascript:void(0)"
                                                           data-ng-cloak
                                                           data-ng-show="!success[ goal.id ]"
                                                           data-ng-click="goalId = [[ goal.id ]];success[ goal.id ] = true"
                                                           data-ls-goal-id="[[ goal.id ]]"
                                                           data-ls-user-goal-manage
                                                           id="done[[ goal.id ]]"
                                                           class="btn btn-transparent ng-hide">
                                                            <i class="icon done-icon"></i>
                                                            {{ 'done'|trans | capitalize }}
                                                        </a>
                                                        <a  href="javascript:void(0)"
                                                            data-ng-show="success[ goal.id ]"
                                                            data-ls-user-goal-manage
                                                            data-ls-type="manage"
                                                            data-ng-cloak
                                                            data-ls-goal-id="[[ goal.id ]]"
                                                            class="btn btn-transparent successtory ng-hide"
                                                            id="success[[ goal.id ]]">
                                                            <i class="icon ok-icon-green"></i>
                                                            {{ 'successtory'|trans | capitalize }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else%}
                    <div class="row goals-animate"
                         data-ng-cloak
                         data-ng-repeat="userGoal in ProfileItems.userGoals"
                         {#data-ng-show="userGoal.is_visible"#}
                         data-ng-init="singleGoal = userGoal.goal? userGoal.goal: userGoal">

                        <div class="col-sm-12">
                            <div class="bg-white round">
                                <div class="idea-item">

                                    <figure>
                                        <h3>
                                            <a data-ng-href="[[ singleGoal.publish? '{{ env_prefix }}/goal/' + singleGoal.slug : '#' ]]">[[ singleGoal.title ]]</a>
                                        </h3>

                                        <a data-ng-href="[[ singleGoal.publish? '{{ env_prefix }}/goal/' + singleGoal.slug : '#' ]]"
                                           class="goalTitle">
                                            <span class="overlay"></span>
                                            <img data-ng-src="[[ ::singleGoal.cached_image ]]" alt="[[ ::singleGoal.title ]]" data-ng-if="singleGoal.cached_image"/>
                                        </a>

                                        <div class="absolute" data-ng-show="singleGoal.stats.listedBy">
                                            <ul>
                                                <li>
                                                    <a ls-goal-users
                                                       href="javascript:void(0)"
                                                       ls-goal-id="[[ ::singleGoal.id ]]"
                                                       ls-category="listed"
                                                       data-ng-show="castInt(singleGoal.stats.listedBy)">
                                                            <span>
                                                                {{ 'home_listed_by'|trans({},'messages') | capitalize }}
                                                                [[ singleGoal.stats.listedBy ]]
                                                            </span>
                                                        <i class="icon-user-small"></i>
                                                    </a>
                                                    <span class="text-white" data-ng-hide="castInt(singleGoal.stats.listedBy)">
                                                            {{ 'home_listed_by'|trans({},'messages') }}
                                                        [[ ::singleGoal.stats.listedBy ]]
                                                    </span>
                                                    <i class="icon-user-small" data-ng-hide="castInt(singleGoal.stats.listedBy)"></i>
                                                </li>

                                                <li>
                                                    <a ls-goal-users
                                                       href="javascript:void(0)"
                                                       ls-goal-id="[[ ::singleGoal.id ]]"
                                                       data-ng-show="castInt(singleGoal.stats.doneBy)">
                                                        <span>
                                                            {{ 'home_complete'|trans({},'messages') | capitalize }}
                                                            [[ singleGoal.stats.doneBy ]]
                                                        </span>
                                                        <i class="icon-user-small"></i>
                                                    </a>
                                                    <span class="text-white" data-ng-hide="castInt(singleGoal.stats.doneBy)">
                                                            {{ 'home_complete'|trans({},'messages') }}
                                                        [[ ::singleGoal.stats.doneBy ]]
                                                        </span>
                                                    <i class="icon-user-small" data-ng-hide="castInt(singleGoal.stats.doneBy)"></i>
                                                </li>
                                            </ul>
                                        </div>

                                        <figcaption>
                                            {%  include "AppBundle:Blocks:newsFeedGoalFooter.html.twig"  %}
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% endif %}
                </div>

                <p class="empty-text ng-hide"
                    data-ng-show="!ProfileItems.userGoals.length && ProfileItems.noItem"
                    data-ng-init="link = (activeGoals? '{{ path('user_profile_single', {'status': active }) }}': '{{ path('goals_list') }}')"
                    data-ng-cloak>

                {% if myProfile %}
                    <span data-ng-show="profile.isDream == 'true'">
                        {{ 'dream'|trans }}
                    </span>
                    <span data-ng-show="(profile.isDream == 'false') && (profile.f_1 == 'true' || profile.f_2 == 'true' || profile.f_3  == 'true' || profile.f_4 == 'true')">
                        {{ 'my_bucket_list.filter'|trans }}
                    </span>
                    <span data-ng-show="(profile.isDream == 'false') && !(profile.f_1 == 'true' || profile.f_2 == 'true' || profile.f_3 == 'true' || profile.f_4 == 'true') && profile.status == '{{ completed }}'">
                        {{ 'my_bucket_list.complete'|trans }} <a data-ng-href="[[ link ]]" class="text-purple">{{ 'my_bucket_list.some_goal'|trans }}</a>
                    </span>
                    <span data-ng-show="(profile.isDream == 'false') && !(profile.f_1 == 'true' || profile.f_2 == 'true' || profile.f_3 == 'true' || profile.f_4 == 'true') && profile.status == '{{ active }}'">
                        {{ 'my_bucket_list.need_goal'|trans }} <a href="{{ path('goals_list') }}" class="text-purple">{{ 'my_bucket_list.add_some'|trans }}</a>
                    </span>
                    <span data-ng-show="(profile.isDream == 'false') && !(profile.f_1 == 'true' || profile.f_2 == 'true' || profile.f_3 == 'true' || profile.f_4 == 'true') && profile.status == '{{ all }}'">
                        {{ 'my_bucket_list.doing_here'|trans }} <a href="{{ path('goals_list') }}" class="text-purple">{{ 'my_bucket_list.add_goal'|trans }}</a>
                    </span>
                {% endif %}
                </p>
            </div>

            <div class="col-md-4" data-ng-cloack>
                {%  include "AppBundle:Blocks:popularGoals.html.twig" with {'user': user, 'count': 2, 'isProfile': true}  %}
                {%  include "AppBundle:Blocks:featureGoals.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
