

    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>

    <div id="signin">
        <div class="divider"></div>
        <form action="{{ path("fos_user_security_check") }}" method="post">

            <div class="form-group">
                <input type="email" class="form-control" id="username" name="_username" required="required" placeholder="{{ 'security.login.email'|trans({}, 'FOSUserBundle') }}" />
            </div>

            <div class="form-group">
                <input type="password"  class="form-control"  id="password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" name="_password" required="required" />
            </div>

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }} error-message">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            <a href="{{ path("fos_user_resetting_check_email") }}">{{ 'security.login.forgot_password'|trans({}, 'FOSUserBundle') }}</a>

            <div class="form-group">
                <button type="submit" class="btn btn-purple">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') | upper }}</button>
            </div>

        </form>

        <div class="divider"></div>

        <a href="{{ path("fos_user_registration_register") }}" class="sign-up">
            <span></span>{{ 'security.login.sign_up'|trans({}, 'FOSUserBundle') | upper}}
        </a>
        <div class="divider"></div>

        <h4>{{ 'security.login.connect'|trans({}, 'FOSUserBundle') }}</h4>
        <ul class="social">
            {{ include('HWIOAuthBundle:Connect:login.html.twig' ) }}
        </ul>
    </div>
