{% block bl_multiple_email_widget %}
    <div class="form-group clearfix">

        <ul class="images col-sm-6 control-label" data-prototype="{{ _self.multiple_prototype(form.vars.prototype)|e }}">
            {% set count = 0 %}
            {% for child in form %}

                {% set primaryHiddenId = child.primary.vars.id %}
                {% set primaryId =  'primary_show_id' %}
                {% set primaryName =  'primary_show_name' %}

                {% if  child.vars.value.userEmails is not null %}

                    <li>
                        {{ form_label(child.userEmails, 'Primary Email') }}
                        {{ form_widget(child.userEmails) }}
                    </li>
                    <li>
                        <input onclick="toHiddenPrimary('{{ primaryHiddenId }}' )" class="bl-radio" type="radio" id="{{ primaryId }}" name="{{ primaryName }}"
                               value="1"
                                {#{% if child.primary.vars.value == 1 %} checked {% endif %}#}
                                />

                        <a class="delete-link" href="{{ path('remove_email', {'email' : child.userEmails.vars.value } ) }}">{{ 'btn_delete'|trans }}</a>
                    </li>

                    <div class="error-message">{{ form_errors(child.userEmails) }}</div>

                {% endif %}

                {{ form_widget(child.primary, {'attr': {'class' : 'bl_list_hidden'} } ) }}

                {% set count = count + 1 %}

            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% macro multiple_prototype(form) %}

    {% set primaryHiddenId = form.primary.vars.id %}
    {% set primaryId =  'primary_show_id' %}
    {% set primaryName =  'primary_show_name' %}

    {{ form_label(form.userEmails, 'Primary Email') }}
    {{ form_widget(form.userEmails) }}
    <input onclick="toHiddenPrimary('{{ primaryHiddenId }}' )" class="bl-radio" type="radio" id="{{ primaryId }}" name="{{ primaryName }}"
           value="1"
            />
    {{ form_widget(form.primary, {'attr': {'class' : 'bl_list_hidden'} } ) }}
{% endmacro %}
