{% block bl_multiple_email_widget %}
    <div class="form-group clearfix">

        <ul class="images col-sm-6 control-label" data-prototype="{{ _self.multiple_prototype(form.vars.prototype)|e }}">
            {% set count = 0 %}
            {% for child in form %}

                {% set primaryHiddenId = child.primary.vars.id %}
                {% set primaryId =  'primary_show_id' %}
                {% set primaryName =  'primary_show_name' %}

                {% set user = app.user %}
                {% set emailToken = user.getActivationEmailToken() %}

                {% if child.vars.value.userEmails is not null %}

                    <li>
                        {{ form_widget(child.userEmails) }}
                    </li>

                    {% if emailToken is null %}
                        <li>
                            <input onclick="toHiddenPrimary('{{ primaryHiddenId }}' )" class="bl-radio" type="radio" id="{{ primaryId }}" name="{{ primaryName }}"
                                   value="1"/>
                        </li>
                    {% endif %}

                {% endif %}

                <a class="delete-link" href="{{ path('remove_email', {'email' : child.userEmails.vars.value } ) }}">{{ 'btn_delete'|trans }}</a>

                {% if emailToken is null %}
                    {{ form_widget(child.primary, {'attr': {'class' : 'bl_list_hidden'} } ) }}
                {% endif %}

                {% set count = count + 1 %}

            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% macro multiple_prototype(form) %}

    {% set primaryHiddenId = form.primary.vars.id %}
    {% set primaryId =  'primary_show_id' %}
    {% set primaryName =  'primary_show_name' %}
    {% set user = app.user %}
    {% set emailToken = user.getActivationEmailToken() %}

    {{ form_widget(form.userEmails) }}

    {% if emailToken is null %}
        <input onclick="toHiddenPrimary('{{ primaryHiddenId }}' )" class="bl-radio" type="radio" id="{{ primaryId }}" name="{{ primaryName }}"
               value="1"/>

        {{ form_widget(form.primary, {'attr': {'class' : 'bl_list_hidden'} } ) }}
    {% endif %}
{% endmacro %}
