{% extends "AppBundle::layout.html.twig" %}

{% block javascripts %}

    {{ parent() }}
    {# todo:: add jquery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/images.js') }}"></script>

{% endblock %}


 {% block body %}

     <form method="post" action="#" enctype="multipart/form-data">

         {{ form_errors(form) }}

         {% set formGoal = form.goal %}

         {{ form_row(formGoal.category) }}
         {{ form_row(formGoal.description) }}


         {{ form_row(form.quality) }}
         {{ form_row(form.privacy) }}

         <ul class="images" data-prototype="{{ form_widget(formGoal.images.vars.prototype.file)|e }}">
             {% if formGoal.images.vars.value is null %}
                 {{ form_widget(formGoal.images) }}
             {% else %}
                 {% if formGoal.vars.value.images|length > 0 %}
                     <ul class="file-list">
                         {% for images in formGoal.vars.value.images %}
                             <li>
                                 <a class="delete-link" href="#" > Delete </a>
                                 <a href="{{ images.downloadLink }}"
                                    target="_blank">{{ images.fileOriginalName | default(images.file ? images.file.getClientOriginalName) }}</a>
                             </li>
                         {% endfor %}
                     </ul>
                 {% endif %}
             {% endif %}
         </ul>

         {{ form_widget(form._token) }}

         <input type="submit" value="Save">

     </form>

 {% endblock %}
