<div id="story-modal" data-ng-controller="goalDone">
    <div data-ng-if="newAdded" class="email">{{ "message_on_top_of_the_page" | trans }}</div>
    <div class="modal-top">
        <figure data-ng-if="userGoal.goal.cached_image">
            <img data-ng-src="[[ userGoal.goal.cached_image]]" alt="[[ userGoal.goal.title ]]" class="img-responsive"/>
        </figure>

        <span class="overlay"></span>

        <div>
            <h2 data-ng-class="{'title-smaller': userGoal.goal.title.length > 35, 'title-top': !userGoal.goal.author.show_name}">
                <span>[[ userGoal.goal.title ]]</span>
            </h2>
            {% if app.user %}
                <p data-ng-if="userGoal.goal.author && !userGoal.goal.author.is_admin && userGoal.goal.author.id == {{ app.user.id }}">
                    [[ userGoal.goal.author.show_name ]]
                </p>
            {% endif %}
            <ul>
                <li>
                    <a href="javascript:void(0)">
                        {{ 'block_listed'|trans | capitalize }}
                        <span>[[ userGoal.goal.stats.listedBy | number ]]</span>
                        <i class="icon-user-small"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        {{ 'block_completed'|trans | capitalize }}
                        <span>[[ userGoal.goal.stats.doneBy | number ]]</span>
                        <i class="icon-user-small"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="fb-root"></div>
    <div class="row bg-grey">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="text-dark-gray">{{ 'share_title'|trans }}</h2>
                </div>
                <div class="col-sm-4" data-ng-cloak>
                    <div fb-share class="fb-share-button"
                         data-fb-name="userGoal.goal.slug"
                         data-fb-link="goalLink"
                         data-fb-caption="BUCKETLIST127.COM"
                         data-fb-picture="userGoal.goal.cached_image"
                         data-fb-message="{{ 'facebook_post_text'|trans }}"
                         data-fb-description="userGoal.goal.description">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-show="newAdded" class="ng-hide">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ "success_story.completion_date"|trans }}</h3>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4 date">
                <select name="year" data-ng-model="year">
                    <option value="">{{ 'form.birth_date_year'|trans({}, 'FOSUserBundle') }}</option>
                    {% set maxYear = "now"|date_modify("+50 year")|date("Y") %}
                    {#todo true date #}
                    {% for year in maxYear..1966 %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-sm-4 date">

                {% set arrayMonth = {
                1:'form.month_january'|trans({}, 'FOSUserBundle'),
                2:'form.month_february'|trans({}, 'FOSUserBundle'),
                3:'form.month_march'|trans({}, 'FOSUserBundle'),
                4:'form.month_april'|trans({}, 'FOSUserBundle'),
                5:'form.month_may'|trans({}, 'FOSUserBundle'),
                6:'form.month_june'|trans({}, 'FOSUserBundle'),
                7:'form.month_july'|trans({}, 'FOSUserBundle'),
                8:'form.month_august'|trans({}, 'FOSUserBundle'),
                9:'form.month_september'|trans({}, 'FOSUserBundle'),
                10:'form.month_october'|trans({}, 'FOSUserBundle'),
                11:'form.month_november'|trans({}, 'FOSUserBundle'),
                12:'form.month_december'|trans({}, 'FOSUserBundle') }
                %}

                <select name="months" data-ng-model="month">
                    <option value="">{{ 'form.birth_date_month'|trans({}, 'FOSUserBundle') }}</option>
                    {% for key, month in arrayMonth %}
                        <option value="{{ key }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-4 date">

                <select name="days" data-ng-model="day">

                    <option value="">{{ 'form.birth_date_day'|trans({}, 'FOSUserBundle') }}</option>

                    {% for day in 1..31 %}
                        <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row form-group">
            <label class="col-xs-10 col-xs-offset-1">
                <span class="small-size">{{ "success_story.complete_edit_text"|trans }}</span>
            </label>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3 class="story-title">{{ 'success_story.title'|trans }}</h3>

            <div>
                {#{{ form_errors(form) }}#}

                <form id="goal-done-form" action="#">

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <i class="icon-pencil"></i>
                            <textarea required="required" name="story" data-ng-model="userGoal.story.story" class="form-control" placeholder="Success story ..." rows="4"></textarea>
                        </div>
                    </div>

                    <div class="text-center" data-ng-init="initDropzone('{{ path('add_goal_success_story_images') }}')">
                        <div class="dropzone" id="goalDropzone">
                            <div class="dz-message">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <h3 class="text-dark-gray">
                                            <i class="icon-cloud"></i>{{ 'drag_drop'|trans }}
                                        </h3>
                                    </div>
                                </div>

                                <p class="text-gray">{{ 'upload'|trans | raw}}</p>
                            </div>
                        </div>
                    </div>

                    {#{{ form_widget(form.files, {'attr': { "value" : "[[ files ]]" } }) }}#}

                    <div class="form-group">
                        <label class="text-dark-gray">Video</label>
                        <video-link data-ng-repeat="(k, video) in userGoal.videos_array"
                            data-key="k"
                            data-limit="3"
                            data-link="video.link"
                            data-array="userGoal.videos_array">
                        </video-link>
                    </div>

                    <div class="form-group text-center bottom">
                        <a href="javascript:void(0)" data-ng-click="save()" class="btn btn-purple button-lg">{{ 'btn_save'|trans }}</a>
                        <a href="javascript:void(0)" rel="modal:close" id="cancel" class="btn btn-transparent button-lg">{{ 'btn_cancel'|trans }}</a>
                    </div>

                </form>
            </div>
        </div>
     </div>
</div>