<div class="modal" id="goal-modal" data-ng-controller="goalEnd">
    <div class="goal-container">
        {% if newAdded %}
            <div class="email">{{ "goal.create_goal"|trans }}</div>
        {% endif %}

        {% set goal = data.goal %}
        {% set completed = false %}
        {% set user = app.user %}

        {% include "AppBundle:Blocks:topBlock.html.twig" %}

        <form class="form-horizontal" action="{{ app.request.requestUri }}" method="post"
              data-ng-init="initSteps({{ data.getStepsJson }})">

            <div class="goal-end">

                {# edit goal status #}
                {% if data.id is not null %}

                    {% set completed = data.status == constant("AppBundle\\Entity\\UserGoal::COMPLETED") %}

                    <div class="clearfix">
                        <div class="form-group row no-marginb">

                            <label class="col-xs-8 col-sm-10 control-label text-left text-purple" data-ng-init="complete.switch={{ completed|default("0") }}">
                                <span data-ng-show="complete.switch">{{ "goal.is_completed"|trans }}</span>
                                <span data-ng-hide="complete.switch">{{ "goal.is_active"|trans }}</span>
                            </label>

                            <div class="col-xs-4 col-sm-2">
                                <div class="onoffswitch">
                                    <input type="checkbox"
                                       name="goal_status"
                                       data-ng-model="complete.switch"
                                       data-ls-checked="complete.switch"
                                       class="onoffswitch-checkbox"
                                       id="myonoffswitch"
                                       data-ng-init="complete.switch={{ data.status == constant('AppBundle\\Entity\\UserGoal::ACTIVE') ? 0 : 1 }}">

                                    <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label class="col-sm-12 control-label text-left">
                                <span data-ng-show="complete.switch" class="small-size">{{ "goal.completed_text"|trans }}</span>
                                <span data-ng-hide="complete.switch" class="small-size">{{ "goal.active_text"|trans }}</span>
                            </label>
                        </div>

                    </div>

                    <div class="clearfix" data-ng-show="complete.switch">
                        <strong class="text-dark-gray">{{ "goal.completion_date"|trans | upper}} {{ "now"|date('d M Y') | upper}}</strong> &nbsp;
                        {% if data.doDate %}
                            <span class="text-gray">{{ "goal.scheduled_date"|trans | upper}} {{ data.doDate|date('d M Y') | upper }}</span>
                        {% endif %}
                    </div>
                    <hr/>

                {% endif %}

                <h4 data-ng-hide="datepicker_title || complete.switch" class="text-center">{{ "dream"|trans }}</h4>

                <div id="datepicker"
                     data-ng-hide="complete.switch"
                     data-date="{{ data.doDate ? data.doDate|date("m/d/Y") : "now"|date("m/d/Y") }}"
                     style="color: black"></div>

                {% if data.id is not null and data.doDate is not null and data.doDate|date("m/d/Y") < "now"|date("m/d/Y") %}
                    <h6 class="text-gray text-center" data-ng-show="!complete.switch">
                        <i class="icon info-icon"></i>
                        {{ "goal.missed_deadline"|trans }}
                    </h6>
                {% endif %}

                <input id="{{ form.birthday.vars.id }}" type="hidden" class="hidden_date_value"
                       value="{{ data.doDate ? data.doDate|date("m/d/Y") : null }}"
                       name="{{ form.birthday.vars.full_name }}"/>

                {% if data.goal.address is defined and data.goal.address %}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class="location">
                                {#<i class="icon location-icon"></i>#}
                                {#<span class="icon-remove-email"></span>#}
                                {#<span class="icon-location-icon"></span>#}
                                <i class="icon-location-icon"></i>
                                {#{% if not completed and data.goal.address is null %}#}
                                    {#<i class="icon-remove-email" data-ng-click="removeLocation()"></i>#}
                                {#{% endif %}#}

                                <input  value="{{ data.goal.address}}"
                                        type="text"
                                        data-ng-disabled="true"
                                        {#data-google-places-autocomplete#}
                                        {#data-hidden-storage=".location-hidden"#}
                                        class="form-control place-autocomplete"
                                        placeholder="{{ "goal.location_ex"|trans }}"/>
                                {#<input id="{{ form.location.vars.id }}" value="{{ data.goal.getJsonLocations ? data.goal.getJsonLocations : data.getJsonLocations }}"#}
                                       {#type="hidden" class="location-hidden"#}
                                       {#name="{{ form.location.vars.full_name }}"/>#}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group row">
                    <div class="col-sm-12">
                        <i class="icon-pencil"></i>
                        {{ form_widget(form.note, {'attr' : {'class' : 'form-control', 'rows':'3', 'placeholder' : 'goal.note_p'|trans ,'data-ng-disabled': 'complete.switch'} } ) }}
                    </div>
                </div>


                {% set important = data.getImportant %}
                {% set urgent = data.getUrgent %}

                {% if important == true and urgent == true %}
                    {% set priority = 1 %}
                {% elseif important == false and urgent == true %}
                    {% set priority = 2 %}
                {% elseif important == true and urgent == false %}
                    {% set priority = 3 %}
                {% elseif important == false and urgent == false %}
                    {% set priority = 4 %}
                {% endif %}

                <div class="form-group row">
                    <div class="col-xs-12">
                        <h3>{{ 'goal.as_priority'|trans() }} </h3>

                        <div class="priority">
                            <div class="row no-gutter">
                                <div class="col-xs-1">
                                    <h5 class="text-gray hidden-xs">Importance</h5>
                                </div>
                                <div class="col-xs-11">
                                    <div class="row dotted">
                                        <div class="col-sm-1">
                                            <h6 class="text-gray hidden-xs">
                                                <span>important</span>
                                                <span>not important</span>
                                            </h6>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="row">

                                                {# other filters #}
                                                {% for id, name in filters %}

                                                    <div class="col-sm-6">
                                                        <div class="inputs-style priority-radio {% if data.getUrgentImportantStatus() == id %}active-important{% endif %}">
                                                            <label class="radio-inline">
                                                                <input name="test"
                                                                       class="important-radio"
                                                                       type="radio"
                                                                       data-ng-disabled="complete.switch"
                                                                       value="{{ id }}"
                                                                       {% if data.getUrgentImportantStatus() == id %}checked{% endif %}>
                                                                {{ name|trans|raw }}
                                                            </label>

                                                            <p class="text-gray">
                                                                {% if id == 1 %}
                                                                    {{ 'goal.critical_activities'|trans }}
                                                                {% elseif id == 2 %}
                                                                    {{ 'goal.avoid_interruptions'|trans }}
                                                                {% elseif id == 3 %}
                                                                    {{ 'goal.focus_goal'|trans }}
                                                                {% elseif id == 4 %}
                                                                    {{ 'goal.avoid_distractions'|trans }}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                            <div class="row hidden-xs">
                                                <div class="col-sm-6 text-center text-gray">
                                                    <bdi>not urgent</bdi>
                                                </div>
                                                <div class="col-sm-6 text-center text-gray">
                                                    <bdi>urgent</bdi>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <p class="text-center text-dark-gray hidden-xs">Urgency</p>
                        </div>

                    </div>
                </div>

                <h4>{{ "goal.complete_step"|trans }}</h4>
                {% if data.id is not null and data.steps is not null and data.steps|length > 0 %}

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped"
                             role="progressbar"
                             aria-valuenow="45"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:{{ data.getCompleted|round(1, 'floor') }}%">
                            {{ data.getCompleted|round(1, 'floor') }}% Complete
                        </div>
                    </div>
                {% endif %}

                <div class="form-group row" data-ng-repeat="(k, step) in stepsArray">

                    <label class="col-sm-2 control-label">
                        <span data-ng-show="step.switch" class="text-purple">{{ "goal.done"|trans }}</span>
                        <span data-ng-hide="step.switch">{{ "goal.to_do"|trans }}</span>
                    </label>

                    <div class="col-xs-8 col-sm-8">
                        <div class="to-do-list">
                            <i title="Notes" class="icon-step-list"></i>
                            <input type="text"
                                   class="form-control"
                                   data-step
                                   {% if completed %}disabled{% endif %}
                                   data-key="k"
                                   data-array="stepsArray"
                                   data-ng-model="step.text"
                                   data-ng-disabled="complete.switch"
                                   name="{% if app.environment !='test'%}stepText[ [[ k ]] ]{% endif %}"
                                   placeholder="{{ "goal.add_step"|trans }}">
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <div class="onoffswitch">
                            <input type="checkbox"
                                   name="{% if app.environment !='test'%}switch[ [[k]] ]{% endif %}"
                                   data-ng-model="step.switch"
                                   data-ls-checked="step.switch"
                                   data-ng-disabled="complete.switch"
                                   class="onoffswitch-checkbox"
                                   id="myonoffswitch[[k]]">

                            <label class="onoffswitch-label" for="myonoffswitch[[k]]">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row no-marginb">

                    <label for="inputEmail3"
                           data-ng-show="private_checkbox"
                           class="col-xs-8 col-sm-10 control-label text-purple text-left">
                        {{ "goal.as_visible"|trans }}
                    </label>
                    <label for="inputEmail3"
                        data-ng-hide="private_checkbox"
                        class="col-xs-8 col-sm-10 control-label text-purple text-left">
                        {{ "goal.as_invisible"|trans }}
                    </label>

                    <div class="col-xs-4 col-sm-2">
                        <div class="onoffswitch">
                            <input {% if data.isVisible %}
                                    checked
                                    data-ng-init="private_checkbox=true"
                                    {% endif %}
                                    type="checkbox"
                                    data-ng-model="private_checkbox"
                                    data-ls-checked="private_checkbox"
                                    data-ng-disabled="complete.switch"
                                    class="onoffswitch-checkbox"
                                    id="{{ form.isVisible.vars.id }}"
                                    name="{{ form.isVisible.vars.full_name }}">

                            <label class="onoffswitch-label" for="{{ form.isVisible.vars.id }}">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <p class="text-gray">
                    <i class="icon-eye-icon ng-hide" data-ng-hide="private_checkbox"></i>
                    <i class="icon-eye" data-ng-show="private_checkbox"></i>
                    <span data-ng-hide="private_checkbox">{{ "goal.visible_text"|trans }}</span>
                    <span data-ng-show="private_checkbox">{{ "goal.invisible_text"|trans }}</span>
                </p>


                {% if data.id is not null and data.goal.author and data.goal.author.id == app.user.id and data.goal.status == constant('AppBundle\\Entity\\Goal::PRIVATE_PRIVACY') %}
                    <p class="text-gray clearfix">
                        <strong class="text-dark-gray pull-left">
                            <i class="icon lock-icon"></i>
                            {{ 'user_goal.private' |trans }}
                        </strong> &nbsp;
                        <span class="text-right pull-right">{{ 'goal.private_text'|trans }}</span>
                    </p>
                {% endif %}

                <hr />

                <div class="modal-bottom">
                    <button type="submit" name="btn_save" class="btn btn-purple button-lg">{{ "btn_save"|trans }}</button>
                    <a href="javascript:void(0)" rel="modal:close" class="btn btn-transparent button-lg">{{ 'btn_cancel'|trans }}</a>
                </div>

                {{ form_widget(form._token) }}
            </div>
        </form>
    </div>
</div>

