<div class="modal" id="goal-modal" data-ng-controller="goalEnd">
    <div class="goal-container">
        <div data-ng-if="newAdded" class="email">{{ "goal.create_goal" | trans }}</div>


        <div class="modal-top">
            <figure>
                <img data-ng-src="[[ userGoal.goal.image_path]]" alt="[[ userGoal.goal.title ]]" class="img-responsive"/>
            </figure>

            <span class="overlay"></span>

            <div>
                <h2 data-ng-class="{'title-smaller': userGoal.goal.title.length > 35, 'title-top': !userGoal.goal.author.show_name}">
                    [[ userGoal.goal.title ]]
                </h2>
                <p data-ng-if="'{{ app.user }}' && userGoal.goal.author && !userGoal.goal.author.is_admin && userGoal.goal.author.id == {{ app.user.id }}">
                    [[ userGoal.goal.author.show_name ]]
                </p>
                <ul>
                    <li>
                        <a href="javascript:void(0)">
                            {{ 'block_listed'|trans | capitalize }}
                            <span>[[ userGoal.goal.stats.listedBy | number ]]</span>
                            <i class="icon-user-small"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            {{ 'block_completed'|trans | capitalize }}
                            <span>[[ userGoal.goal.stats.doneBy | number ]]</span>
                            <i class="icon-user-small"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <form class="form-horizontal" method="post" data-ng-init="redirectPath='{{ path('user_profile') }}'">
            <div class="goal-end">
                {# edit goal status #}
                <div class="clearfix ng-hide" data-ng-show="userGoal.id">
                    <div class="form-group row no-marginb">

                        <label class="col-xs-8 col-sm-10 control-label text-left text-purple">
                            <span data-ng-show="complete.switch">{{ "goal.is_completed"|trans }}</span>
                            <span data-ng-hide="complete.switch">{{ "goal.is_active"|trans }}</span>
                        </label>

                        <div class="col-xs-4 col-sm-2">
                            <div class="onoffswitch" data-ng-init="complete.switch=(userGoal.status==UserGoalConstant['ACTIVE']? 0:1)">
                                <input type="checkbox"
                                   name="goal_status"
                                   data-ng-model="complete.switch"
                                   data-ls-checked="complete.switch"
                                   class="onoffswitch-checkbox"
                                   id="myonoffswitch">

                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group ng-hide" data-ng-show="userGoal.id">
                        <label class="col-sm-12 control-label text-left">
                            <span data-ng-show="complete.switch" class="small-size">{{ "goal.completed_text"|trans }}</span>
                            <span data-ng-hide="complete.switch" class="small-size">{{ "goal.active_text"|trans }}</span>
                        </label>
                    </div>

                </div>

                <div class="clearfix ng-hide" data-ng-show="complete.switch">
                    <strong class="text-dark-gray">{{ "goal.completion_date"|trans | upper}} {{ "now"|date('d M Y') | upper}}</strong> &nbsp;
                    <span class="text-gray" data-ng-if="userGoal.do_date">{{ "goal.scheduled_date"|trans | upper}} [[ userGoal.do_date | date:'dd MMM yyyy' ]]</span>
                </div>
                <hr/>

                <h4 data-ng-hide="datepicker_title || complete.switch" class="text-center">{{ "dream"|trans }}</h4>

                <div class="row">
                    <div class="col-sm-6">
                        <div id="datepicker"
                             data-ng-hide="complete.switch"
                             data-date="[[ momentDateFormat(userGoal.do_date, 'MM/DD/YYYY') ]]"
                             style="color: black"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="secondPicker"
                             data-ng-hide="complete.switch"
                             data-date="[[ getSecondPickerDate(userGoal.do_date, 'MM/DD/YYYY') ]]"
                             style="color: black">
                        </div>
                    </div>
                </div>

                <h6 class="text-gray text-center"
                    data-ng-show="!complete.switch && userGoal.id && userGoal.do_date && compareDates(userGoal.do_date) == -1">
                    <i class="icon info-icon"></i>
                    {{ "goal.missed_deadline"|trans }}
                </h6>

                <div class="form-group row" data-ng-if="userGoal.goal.location">
                    <div class="col-sm-12">
                        <div class="location">
                            <i class="icon-location-icon"></i>
                            <input type="text"
                                data-ng-disabled="true"
                                data-ng-model="userGoal.goal.location.address"
                                class="form-control place-autocomplete"
                                placeholder="{{ "goal.location_ex"|trans }}"/>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <i class="icon-pencil"></i>
                        <textarea class="form-control"
                          data-ng-model="userGoal.note"
                          rows="3"
                          placeholder="{{ 'goal.note_p'|trans }}"
                          data-ng-disabled="complete.switch"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-12">
                        <h3>{{ 'goal.as_priority'|trans() }} </h3>

                        <div class="priority">
                            <div class="row no-gutter">
                                <div class="col-xs-1">
                                    <h5 class="text-gray hidden-xs">Importance</h5>
                                </div>
                                <div class="col-xs-11">
                                    <div class="row dotted">
                                        <div class="col-sm-1">
                                            <h6 class="text-gray hidden-xs">
                                                <span>important</span>
                                                <span>not important</span>
                                            </h6>
                                        </div>
                                        <div class="col-sm-11">
                                            <div class="row">

                                                {# other filters #}
                                                {% for id, name in filters %}

                                                    <div class="col-sm-6">
                                                        <div class="inputs-style priority-radio"
                                                             data-ng-class="{'active-important': getPriority(userGoal)=={{ id }}}">
                                                            <label class="radio-inline">
                                                                <input name="test"
                                                                   class="important-radio"
                                                                   type="radio"
                                                                   data-ng-model="userGoal.priority"
                                                                   data-ng-disabled="complete.switch"
                                                                   data-ng-checked="getPriority(userGoal)=={{ id }}"
                                                                   value="{{ id }}">
                                                                {{ name|trans|raw }}
                                                            </label>

                                                            <p class="text-gray">
                                                                {% if id == 1 %}
                                                                    {{ 'goal.critical_activities'|trans }}
                                                                {% elseif id == 2 %}
                                                                    {{ 'goal.avoid_interruptions'|trans }}
                                                                {% elseif id == 3 %}
                                                                    {{ 'goal.focus_goal'|trans }}
                                                                {% elseif id == 4 %}
                                                                    {{ 'goal.avoid_distractions'|trans }}
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                            <div class="row hidden-xs">
                                                <div class="col-sm-6 text-center text-gray">
                                                    <bdi>not urgent</bdi>
                                                </div>
                                                <div class="col-sm-6 text-center text-gray">
                                                    <bdi>urgent</bdi>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <p class="text-center text-dark-gray hidden-xs">Urgency</p>
                        </div>

                    </div>
                </div>

                <h4>{{ "goal.complete_step"|trans }}</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped"
                             role="progressbar"
                             aria-valuenow="45"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:[[ getCompleted(userGoal) | number:1 ]]%">
                            [[ getCompleted(userGoal) | number:1 ]]% Complete
                        </div>
                    </div>

                <div class="form-group row" data-ng-repeat="(k, step) in userGoal.formatted_steps">

                    <label class="col-sm-2 control-label">
                        <span data-ng-show="step.switch" class="text-purple">{{ "goal.done"|trans }}</span>
                        <span data-ng-hide="step.switch">{{ "goal.to_do"|trans }}</span>
                    </label>

                    <div class="col-xs-8 col-sm-8">
                        <div class="to-do-list">
                            <i title="Notes" class="icon-step-list"></i>
                            <input type="text"
                                   class="form-control"
                                   data-step
                                   data-key="k"
                                   data-array="userGoal.formatted_steps"
                                   data-ng-model="step.text"
                                   data-ng-disabled="complete.switch"
                                   name="{% if app.environment !='test'%}stepText[ [[ k ]] ]{% endif %}"
                                   placeholder="{{ "goal.add_step"|trans }}">
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-2">
                        <div class="onoffswitch">
                            <input type="checkbox"
                                   name="{% if app.environment !='test'%}switch[ [[k]] ]{% endif %}"
                                   data-ng-model="step.switch"
                                   data-ls-checked="step.switch"
                                   data-ng-disabled="complete.switch"
                                   class="onoffswitch-checkbox"
                                   id="myonoffswitch[[k]]">

                            <label class="onoffswitch-label" for="myonoffswitch[[k]]">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row no-marginb">

                    <label for="inputEmail3"
                           data-ng-hide="userGoal.is_visible"
                           class="col-xs-8 col-sm-10 control-label text-purple text-left">
                        {{ "goal.as_visible"|trans }}
                    </label>
                    <label for="inputEmail3"
                        data-ng-show="userGoal.is_visible"
                        class="col-xs-8 col-sm-10 control-label text-purple text-left">
                        {{ "goal.as_invisible"|trans }}
                    </label>

                    <div class="col-xs-4 col-sm-2">
                        <div class="onoffswitch">
                            <input type="checkbox"
                                data-ng-model="userGoal.is_visible"
                                data-ls-checked="userGoal.is_visible"
                                data-ng-disabled="complete.switch"
                                id="goal-is-visible"
                                class="onoffswitch-checkbox">

                            <label class="onoffswitch-label" for="goal-is-visible">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <p class="text-gray">
                    <i class="icon-eye-icon ng-hide" data-ng-hide="userGoal.is_visible"></i>
                    <i class="icon-eye" data-ng-show="userGoal.is_visible"></i>
                    <span data-ng-hide="userGoal.is_visible">{{ "goal.visible_text"|trans }}</span>
                    <span data-ng-show="userGoal.is_visible">{{ "goal.invisible_text"|trans }}</span>
                </p>

                <p class="text-gray clearfix"
                   data-ng-if="userGoal.id && userGoal.author && userGoal.author.id == {{ app.user.id }} && userGoal.goal.status == GoalConstant['PRIVATE_PRIVACY']">
                    <strong class="text-dark-gray pull-left">
                        <i class="icon lock-icon"></i>
                        {{ 'user_goal.private' |trans }}
                    </strong> &nbsp;
                    <span class="text-right pull-right">{{ 'goal.private_text'|trans }}</span>
                </p>

                <hr />

                <div class="modal-bottom">
                    <a  href="javascript:void(0)" data-ng-click="save()" class="btn btn-purple">{{ "btn_save"|trans }}</a>
                    <a href="javascript:void(0)" rel="modal:close" id="cancel" class="btn btn-transparent">{{ 'btn_cancel'|trans }}</a>
                    <a data-ng-click="showDetails = ! showDetails" href="#" class="btn btn-transparent forget">
                        <i class="icon-trash"></i>
                        <span>{{ 'forget'|trans | upper }}</span>
                    </a>
                </div>

                <div data-ng-show="showDetails">
                    <div class="delete-message">
                        <div>
                            <h3>{{ 'delete_message'|trans|upper|raw }}</h3>
                            <a href="javascript:void(0)" data-ng-click="removeUserGoal([[ userGoal.id ]])" class="btn btn-transparent">{{ 'btn_delete'|trans | upper }}</a>
                            <a data-ng-click="showDetails=!showDetails" href="javascript:void(0)" class="btn btn-purple">{{ 'btn_cancel'|trans | upper }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

