{#{% extends "AppBundle::layout.html.twig" %}#}

{#{% block angularApp %}#}
    {#<html data-ng-app="goal" data-ng-controller="goalEnd"> {% endblock %}#}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}

    {#<link href="{{ asset('app/bower_components/jquery-modal/jquery.modal.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('app/bower_components/icheck/skins/all.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('app/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}"#}
          {#rel="stylesheet">#}
    {#<link href="{{ asset('bundles/app/less/taggle_button.css') }}" rel="stylesheet">#}
    {#<style>#}
        {#html {#}
            {#overflow-y: auto !important;#}
        {#}#}
    {#</style>#}
{#{% endblock %}#}

{#{% block content %}#}

    <div class="modal" id="goal-modal" data-ng-controller="goalEnd">
        {#<img src="{{ asset('bundles/app/images/cover.jpg') }}" alt="Some image" class="img-responsive"/>#}
        <div class="goal-container">


        {#<div class="goals-end">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-6 col-md-offset-3">#}
                        <div class="email">{{ "goal.create_goal"|trans }}</div>

                        {% set goal = data.goal %}
                        {% set completed = false %}
                        {% set user = app.user %}

                        {% include "AppBundle:Blocks:topBlock.html.twig" %}

                        <form class="form-horizontal" action="{{ app.request.requestUri }}" method="post"
                              data-ng-init="initSteps({{ data.getStepsJson }})">

                            <div class="goal-end">

                                {# edit goal status #}
                                {% if data.id is not null %}

                                    {% set completed = data.status == constant("AppBundle\\Entity\\UserGoal::COMPLETED") %}

                                    <div class="clearfix">
                                        <div class="form-group row no-marginb">

                                            <label class="col-sm-10 control-label text-left text-purple">
                                                <span data-ng-show="complete.switch">{{ "goal.is_completed"|trans }}</span>
                                                <span data-ng-hide="complete.switch">{{ "goal.is_active"|trans }}</span>
                                            </label>

                                            <div class="col-sm-2">
                                                <div class="onoffswitch">
                                                    <input type="checkbox"
                                                       name="goal_status"
                                                       data-ng-model="complete.switch"
                                                       class="onoffswitch-checkbox"
                                                       id="myonoffswitch"
                                                       value="1">

                                                    <label class="onoffswitch-label" for="myonoffswitch">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-12 control-label text-left">
                                                <span data-ng-show="complete.switch" class="small-size">{{ "goal.completed_text"|trans }}</span>
                                                <span data-ng-hide="complete.switch" class="small-size">{{ "goal.active_text"|trans }}</span>
                                            </label>
                                        </div>

                                    </div>

                                    {% if completed %}
                                        <div class="clearfix">
                                            <strong class="text-dark-gray">{{ "goal.completion_date"|trans | upper}} {{ data.completionDate|date('d M Y') | upper}}</strong> &nbsp;
                                            <span class="text-gray">{{ "goal.scheduled_date"|trans | upper}} {{ data.doDate|date('d M Y') | upper }}</span>
                                        </div>
                                    {% endif %}
                                    <hr/>

                                {% endif %}

                                {#{% if data.id is null %}#}
                                    {#<h4>{{ "goal.is_dream"|trans }}</h4>#}
                                {#{% elseif data.doDate is null %}#}
                                    <h4 data-ng-hide="datepicker_title" style="text-align: center">{{ "dream"|trans }}</h4>
                                {#{% endif %}#}

                                <div id="datepicker" data-datepicker-disable="{{ completed }}"
                                     data-date="{{ data.doDate ? data.doDate|date("m/d/Y") : "now"|date("m/d/Y") }}"
                                     style="color: black"></div>

                                {% if data.id is not null and data.doDate is not null and data.doDate|date("m/d/Y") <  "now"|date("m/d/Y") %}
                                    <div style="color: black">
                                        {{ "goal.missed_deadline"|trans }}
                                    </div>
                                {% endif %}

                                <input id="{{ form.birthday.vars.id }}" type="hidden" class="hidden_date_value"
                                       value="{{ data.doDate ? data.doDate|date("m/d/Y") : null }}"
                                       name="{{ form.birthday.vars.full_name }}"/>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input {% if completed %} disabled {% endif %}
                                                value="{{ data.address }}"
                                                type="text"
                                                data-google-places-autocomplete
                                                data-hidden-storage=".location-hidden"
                                                class="form-control place-autocomplete"
                                                placeholder="{{ "goal.location_ex"|trans }}"/>
                                        <input id="{{ form.location.vars.id }}" value="{{ data.getLocations }}"
                                               type="hidden" class="location-hidden"
                                               name="{{ form.location.vars.full_name }}"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        {{ form_widget(form.note, {'attr' : {'class' : 'form-control', 'rows':'3', 'placeholder' : 'goal.note_p'|trans } } ) }}
                                    </div>
                                </div>

                                {% set important = data.getImportant %}
                                {% set urgent = data.getUrgent %}

                                {% if important == true and urgent == true %}
                                    {% set priority = 1 %}
                                {% elseif important == false and urgent == true %}
                                    {% set priority = 2 %}
                                {% elseif important == true and urgent == false %}
                                    {% set priority = 3 %}
                                {% elseif important == false and urgent == false %}
                                    {% set priority = 4 %}
                                {% endif %}

                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        {{ 'goal.as_priority'|trans() }} <br/>

                                        {# other filters #}
                                        {% for id, name in filters %}
                                        </br>
                                             <label class="radio-inline">
                                                <input name="test" {% if priority == id %}checked{% endif %} type="radio" value="{{ id }}"> {{ name|trans }}
                                            </label>
                                            </br>
                                            {% if id == 1 %}
                                                {{ 'goal.critical_activities'|trans }}
                                            {% elseif id == 2 %}
                                                {{ 'goal.avoid_interruptions'|trans }}
                                            {% elseif id == 3 %}
                                                {{ 'goal.focus_goal'|trans }}
                                            {% elseif id == 4 %}
                                                {{ 'goal.avoid_distractions'|trans }}
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>

                                {% if data.id is not null %}
                                    <h4>{{ "goal.complete_step"|trans }}</h4>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped aktive" role="progressbar"
                                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                             style="width:{{ data.getCompleted }}%">
                                            <span class="sr-only">45% Complete</span>
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="form-group row" data-ng-repeat="(k, step) in stepsArray">

                                    <div class="col-sm-8">
                                        <input type="text"
                                               class="form-control"
                                               data-step
                                               {% if completed %}disabled{% endif %}
                                               data-key="k"
                                               data-array="stepsArray"
                                               data-ng-model="step.text"
                                               name="{% if app.environment !='test'%}stepText[ [[ k ]] ]{% endif %}"
                                               placeholder="{{ "goal.add_step"|trans }}">
                                    </div>

                                    <label class="col-sm-2 control-label">
                                        <span data-ng-show="step.switch">{{ "goal.done"|trans }}</span>
                                        <span data-ng-hide="step.switch">{{ "goal.to_do"|trans }}</span>
                                    </label>

                                    <div class="col-sm-2">
                                        <div class="onoffswitch">
                                            <input {% if completed %}disabled{% endif %} type="checkbox"
                                                   name="{% if app.environment !='test'%}switch[ [[k]] ]{% endif %}"
                                                   data-ng-model="step.switch"
                                                   class="onoffswitch-checkbox"
                                                   id="myonoffswitch[[k]]">

                                            <label class="onoffswitch-label" for="myonoffswitch[[k]]">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row no-marginb">

                                    <label for="inputEmail3"
                                           data-ng-hide="private_checkbox"
                                           class="col-sm-10 control-label text-purple text-left">
                                        {{ "goal.as_visible"|trans }}
                                    </label>
                                    <label for="inputEmail3"
                                        data-ng-show="private_checkbox"
                                        class="col-sm-10 control-label text-purple text-left">
                                        {{ "goal.as_invisible"|trans }}
                                    </label>

                                    <div class="col-sm-2 onoffswitch">
                                        <input {% if not data.isVisible %} checked {% endif %}
                                            type="checkbox"
                                            class="onoffswitch-checkbox"
                                            id="{{ form.isVisible.vars.id }}"
                                            name="{{ form.isVisible.vars.full_name }}"
                                            value="1">
                                        <label class="onoffswitch-label" for="{{ form.isVisible.vars.id }}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>

                                </div>

                                <p>{{ "goal.invisible_text"|trans }}</p>


                                {% if data.id is not null and data.goal.author and data.goal.author.id == app.user.id %}
                                    <div style="color: black">
                                        (Must be icon) Private {{ 'goal.private_text'|trans }}
                                    </div>
                                {% endif %}

                                <div class="form-group text-center ">
                                    <div class="buttons">
                                        <button type="submit" name="btn_save" class="btn btn-purple button-lg">{{ "btn_save"|trans }}</button>
                                        {#<button type="submit" name="btn_cancel" class="btn btn-transparent button-lg ">{{ 'btn_cancel'|trans }}</button>#}
                                        <a href="javascript:void(0)" rel="modal:close" class="btn btn-transparent button-lg">{{ 'btn_cancel'|trans }}</a>
                                    </div>
                                </div>

                                {{ form_widget(form._token) }}
                            </div>
                        </form>
                    {#</div>#}
                </div>
            </div>
        {#</div>#}
    {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#<script src="{{ asset("app/bower_components/jquery-modal/jquery.modal.min.js") }}" type="text/javascript"></script>#}
    {#<script src="{{ asset("app/bower_components/icheck/icheck.min.js") }}" type="text/javascript"></script>#}
    {#<script src="{{ asset("app/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js") }}"#}
            {#type="text/javascript"></script>#}
    {#<script src="{{ asset('bundles/app/js/angular/goal.js') }}" type="text/javascript"></script>#}
{#{% endblock %}#}
