{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <input type="submit" name="skip_story" value="Skip">

                <div>
                    {{ form_errors(form) }}

                    <form action="#" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            {{ form_row(form.story, {'attr': {'class':'form-control' } } ) }}
                        </div>

                        <div class="form-group">
                            <ul class="images col-sm-6 control-label" data-prototype="{{ form_widget(form.files.vars.prototype)|e }}">
                                {{ form_row(form.files) }}
                            </ul>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="add_story" value="Add Story">
                        </div>
                        {{ form_widget(form._token) }}

                    </form>
                </div>
            </div>
         </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/storyImages.js') }}" type="text/javascript"></script>
{% endblock %}
