{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div class="container">
        <h2 class="text-center"> {{ 'right_menu.draft'|trans }}</h2>

        {% if goals.getTotalItemCount > 0 %}

            <div class="row drafts idea-item">
                {% for goal in goals %}
                    <div class="col-sm-6 col-md-4">
                        <figure class="relative">
                            {% set image = goal.getListPhoto %}

                            <a href="#">
                                <span class="overlay"></span>
                                {% if image %} <img src="{{ image.downloadLink|blImageFilter('goal_list_small')  }}" height="230" alt="{{ goal.title }}"/> {% endif %}
                            </a>
                            <figcaption>
                                {%  include "AppBundle:Blocks:draftGoalFooter.html.twig" with {'goal' : goal }  %}
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="empty-text text-center">
                {{ 'goal.empty_draft'|trans }}
            </p>
        {% endif %}

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(goals) }}
        </div>

    </div>

{% endblock %}

{%- block title -%}
    {{ 'draft.title'|trans }}
{%- endblock -%}

{%- block og_title -%}
    {{ 'draft.title'|trans }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'draft.description'|trans }}
{%- endblock -%}

{%- block og_description -%}
    {{- block('meta_description') -}}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}

