{% extends "AppBundle::layout.html.twig" %}

 {% block body %}

     {{ parent() }}

    {% if goals %}
        <div class="row">
        {% for goal in goals %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    {% if goal.images and goal.images|length > 0 %}
                    {% set image = goal.images.first %}
                        <img src="{{ image.downloadLink }}" alt="..." width="50" height="50">
                    {% endif %}

                    <div class="caption">
                        <h3>{{ goal.category }}</h3>
                        <p>{{ goal.description }}</p>
                        <p>
                            <a href="{{ path("view_goal", {'id': goal.id}) }}" class="btn btn-primary" role="button">Show</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
 {% endblock %}
