{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %} <html data-ng-app="goal" data-ng-controller="goalList"> {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('app/bower_components/dropzone/downloads/css/dropzone.css') }}" rel="stylesheet">
{% endblock %}

{% set goalCount = goals.getTotalItemCount %}

{% block content %}
    <div class="content-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-4 col-sm-6">
                    <a href="javascript:void(0)" data-ng-class="{'text-purple': showMap}" data-ng-click="showMap=!showMap" class="text-gray map-top">
                        <bdi>{{ 'menu.map'|trans | upper}}</bdi>
                        <i class="icon-arrow-down" data-ng-show="showMap"><span class="path1"></span><span class="path2"></span></i>
                        <i class="icon-icon-up ng-hide" data-ng-hide="showMap"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                </div>

                <div class="col-xs-8 col-sm-6 text-right"
                     data-ng-init="adventureTextItem=adventureText('{{ app.request.get('category') }}',{{ categoriesJson }})">
                    <button type="button"
                        data-ng-cloak
                        class="btn btn-default text-purple no-bg"
                        data-container="body"
                        data-toggle="popover"
                        data-placement="bottom"
                        data-content="hello"
                        data-ng-click="filter = !filter"
                        data-template='{% include 'AppBundle:Blocks:filter.html.twig' with { "categories" : categories } %}'>

                        <bdi>[[ adventureTextItem ? adventureTextItem.title:"{{ 'most-popular'|trans }}" ]]</bdi>
                        <i class="icon-arrow-down"  data-ng-hide="filter"><span class="path1"></span><span class="path2"></span></i>
                        <i class="icon-icon-up  ng-hide" data-ng-show="filter"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="slide ng-hide" data-ng-cloak data-ng-show="showMap">
            <div data-simple-map-marker
                 data-markers="locations"
                 data-is-bounded="true"
                 {#data-active-marker-icon="{{ asset('bundles/app/images/map-marker-white.png') }}"#}
                 data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"
                 data-refresh="showMap"
                 data-item-page-url="{{ app.debug ? '/app_dev.php':'' }}/goal/"
                 class="google-map "
                 style="width: 100%; height: 300px"
            ></div>
        </div>
    </div>

    <div class="container ideas-list"
         data-ng-cloak
         infinite-scroll='Ideas.nextPage("/api/v1.0/goals/{first}/{count}", search, "{{ app.request.get('category') }}")'
         infinite-scroll-disabled='Ideas.busy || Ideas.request >= 2'
         infinite-scroll-distance='2'>
        {% set searchResult = app.request.get('search') %}

        <h2 data-ng-show="noIdeas" class="ng-hide">
            <p class="empty-text text-center">{{ 'goal.not_found'|trans }}</p>
        </h2>
        <h2 data-ng-show="Ideas.items.length && !noIdeas" class="text-center text-dark {% if searchResult %}no-bottom {% endif %}">{% if not searchResult %}{{ 'homepage_list_title'|trans }} {% endif %}</h2>
        <div class="row">

            <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                <div class="row idea-item" id="row">
                    <div class="col-md-[[ (($index + 1) % 7) < 5 ? 4 : 8 ]] goals-animate"
                         data-ng-cloak
                         data-ng-repeat="goal in Ideas.items">
                        <figure>
                            <h3><a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/goal/[[ goal.slug ]]">[[ goal.title ]]</a></h3>

                            <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/goal/[[ goal.slug ]]"
                               data-ng-class="{height: (($index + 1) % 7) == 6 || (($index + 1) % 7) == 0}"
                               id="goalTitle">
                                <span class="overlay"></span>
                                <img data-ng-src="[[ goal.cached_image ]]" alt="[[ goal.title ]]"/>
                            </a>

                            <div class="absolute">
                                <ul>
                                    <li>
                                        <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/listed-users/[[ goal.slug ]]" data-ng-show="castInt(goal.stats.listedBy)">
                                            <span>
                                                {{ 'home_listed_by'|trans({},'messages') | capitalize }}
                                                [[ goal.stats.listedBy ]]
                                            </span>
                                            <i class="icon-user-small"></i>
                                        </a>

                                        <span class="text-white ng-hide" data-ng-hide="castInt(goal.stats.listedBy)">
                                            {{ 'home_listed_by'|trans({},'messages') | capitalize }}
                                            [[ goal.stats.listedBy ]]
                                            <i data-ng-hide="castInt(goal.stats.listedBy)" class="ng-hide icon-user-small"></i>
                                        </span>
                                    </li>
                                    <li>
                                        <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/done-users/[[ goal.slug ]]" data-ng-show="castInt(goal.stats.doneBy)">
                                            <span>
                                                {{ 'home_complete'|trans({},'messages') | capitalize }}
                                                [[ goal.stats.doneBy ]]
                                            </span>
                                            <i class="icon-user-small"></i>
                                        </a>

                                        <span class="text-white ng-hide" data-ng-hide="castInt(goal.stats.doneBy)">
                                            {{ 'home_complete'|trans({},'messages') | capitalize }}
                                            [[ goal.stats.doneBy ]]
                                            <i data-ng-hide="castInt(goal.stats.doneBy)" class="ng-hide icon-user-small"></i>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <figcaption>
                                {%  include "AppBundle:Blocks:goalFooter.html.twig"  %}
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {# display navigation #}
        <div class="navigation text-center">
            <a href="javascript:void(0)"
               data-ng-cloak
               data-ng-show="!Ideas.busy && Ideas.request >= 2"
               data-ng-click='Ideas.getReserve("/api/v1.0/goals/{first}/{count}", search, "{{ app.request.get('category') }}")'
               class="show-more ng-hide">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
{% endblock %}

{%- block title -%}

    {% if goalCount > 0 %}
        {% set goalTitle = goals.items|first.title %}
    {% endif %}

   {% if app.request.get('search') %}{{- 'goal.search_title'|trans ~ goalTitle|default('') -}}{% else %}{{- 'goal.og_title'|trans -}}{% endif %}
{%- endblock -%}

{%- block og_title -%}

    {% if goalCount > 0 %}
        {% set goalTitle = goals.items|first.title %}
    {% endif %}

   {% if app.request.get('search') %}{{- 'goal.search_title'|trans ~ goalTitle|default('') -}}{% else %}{{- 'goal.og_title'|trans -}}{% endif %}
{%- endblock -%}

{%- block og_description -%}
    {% if app.request.get('search') %}{{- 'goal.search_description'|trans -}}{% else %}{{- 'goal.list_description'|trans -}}{% endif %}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'goal.list_description'|trans }}
{%- endblock -%}

{%- block og_url -%}
{{- app.request.uri -}}
{%- endblock -%}