{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %} <html data-ng-app="goal" data-ng-controller="goalList"> {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('app/bower_components/dropzone/downloads/css/dropzone.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content-top">
        <div class="container">

            <div class="row">
                <div class="col-xs-4 col-sm-6">
                    <a href="javascript:void(0)" data-ng-click="showMap = !showMap" class="text-gray map-top"> MAP
                        {#<i class="icon down-icon" data-ng-show="showMap"></i>#}
                        <i class="icon-arrow-down"  data-ng-show="showMap"><span class="path1"></span><span class="path2"></span></i>
                        <i class="icon-icon-up ng-hide" data-ng-hide="showMap"><span class="path1"></span><span class="path2"></span></i>
                        {#<i class="icon up-icon" data-ng-hide="showMap"></i>#}
                    </a>
                </div>

                <div class="col-xs-8 col-sm-6 text-right"
                     data-ng-init="adventureTextItem=adventureText('{{ app.request.get('category') }}',{{ categoriesJson }})">
                    <button type="button"
                        data-ng-cloak
                        class="btn btn-default text-purple no-bg"
                        data-container="body"
                        data-toggle="popover"
                        data-placement="bottom"
                        data-content="hello"
                        data-ng-click="filter = !filter"
                        data-template='{% include 'AppBundle:Blocks:filter.html.twig' with { "categories" : categories } %}'>

                        [[ adventureTextItem ? adventureTextItem.title:"MOST POPULAR" ]]

                        {#<i class="icon down-icon" data-ng-hide="filter"></i>#}
                        <i class="icon-arrow-down"  data-ng-hide="filter"><span class="path1"></span><span class="path2"></span></i>
                        {#<i class="icon up-icon ng-hide" data-ng-show="filter"></i>#}
                        <i class="icon-icon-up  ng-hide" data-ng-show="filter"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="slide ng-hide" data-ng-cloak data-ng-show="showMap">
            <div data-simple-map-marker data-refresh="showMap" style="width: 100%; height: 300px"></div>
        </div>
    </div>

    <div class="container ideas-list"
         data-ng-cloak
         infinite-scroll='Ideas.nextPage("/api/v1.0/goals/{first}/{count}")'
         infinite-scroll-disabled='Ideas.busy'
         infinite-scroll-distance='2'>

        {% if goals.getTotalItemCount > 0 %}
            <h2 class="text-center text-dark">{{ 'homepage_list_title'|trans }}</h2>
            <div class="row">

                <div class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                    <div class="row" id="row">
                        <div class="col-md-[[ (($index + 1) % 7) < 5 ? 4 : 8 ]]"
                             data-ng-cloak
                             data-ng-repeat="goal in Ideas.items">
                            <figure>
                                <h3>[[ goal.title ]]</h3>

                                <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/goal/[[ goal.slug ]]" id="goalTitle">
                                    <span class="overlay"></span>
                                    <img data-ng-src="[[ goal.image_path ]]" alt="[[ goal.title ]]"/>
                                </a>

                                <div class="absolute">
                                    <ul>
                                        <li>
                                            <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/listed-users/[[ goal.slug ]]">
                                                <span>
                                                    {{ 'home_listed_by'|trans({},'messages') }}
                                                    [[ goal.stats.listedBy ]]
                                                </span>
                                                <i class="icon-user-small"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-ng-href="{{ app.debug ? '/app_dev.php':'' }}/done-users/[[ goal.slug ]]">
                                                <span>
                                                    {{ 'home_complete'|trans({},'messages') }}
                                                    [[ goal.stats.doneBy ]]
                                                </span>
                                                <i class="icon-user-small"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <figcaption>
                                    {%  include "AppBundle:Blocks:goalFooter.html.twig"  %}
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h2>
                <p class="empty-text text-center">{{ 'goal.not_found'|trans }}</p>
            </h2>

            {% include "AppBundle:Main:ideas.html.twig" with {'search' : 0 }  %}

        {% endif %}
        {# display navigation #}
        <div class="navigation text-center">
            {{ knp_pagination_render(goals) }}
        </div>
    </div>
{% endblock %}

{%- block title -%}
    {{ 'goal.og_title'|trans }}
{%- endblock -%}

{%- block og_title -%}
    {{ 'goal.og_title'|trans }}
{%- endblock -%}

{%- block og_description -%}
    {{ 'goal.list_description'|trans }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'goal.list_description'|trans }}
{%- endblock -%}

{%- block og_url -%}
{{- app.request.uri -}}
{%- endblock -%}