<div class="goal-container">
    <div class="goals-end">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    {#{% set user = app.user %}#}
                    {#{% set goal = data.goal %}#}
                    {#{% include "AppBundle:Blocks:topBlock.html.twig" %}#}

                    {% set completed = false %}
                    <form class="form-horizontal" action="{{ path('manage_goal', {'id' : data.goal.id , 'userGoalId' : data.id}) }}" method="post"
                          data-ng-init="initSteps({{ data.getStepsJson }})">

                        <div class="goal-end">

                            {# edit goal status #}
                            {% if data.id is not null %}

                                {% set completed = data.status == constant("AppBundle\\Entity\\UserGoal::COMPLETED") %}

                                <div class="clearfix">
                                    <div class="form-group row no-marginb">

                                        <label class="col-sm-10 control-label text-left purple">
                                            <span data-ng-show="complete.switch">{{ "goal.is_completed"|trans }}</span>
                                            <span data-ng-hide="complete.switch">{{ "goal.is_active"|trans }}</span>
                                        </label>

                                        <div class="col-sm-2">
                                            <div class="onoffswitch">
                                                <input type="checkbox"
                                                   name="goal_status"
                                                   data-ng-model="complete.switch"
                                                   class="onoffswitch-checkbox"
                                                   data-ng-checked="[[ (complete.switch && complete.switch!='off')?true:false ]]"
                                                   id="myonoffswitch-active{{ data.goal.id ? data.goal.id:0 }}">

                                                <label class="onoffswitch-label" for="myonoffswitch-active{{ data.goal.id ? data.goal.id:0 }}">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <label class="col-sm-12 control-label text-left">
                                            <span data-ng-show="complete.switch" class="small-size">{{ "goal.completed_text"|trans }}</span>
                                            <span data-ng-hide="complete.switch" class="small-size">{{ "goal.active_text"|trans }}</span>
                                        </label>
                                    </div>

                                </div>

                                {% if completed %}
                                    <div class="clearfix">
                                        <strong class="text-dark-gray">{{ "goal.completion_date"|trans | upper}} {{ data.completionDate|date('d M Y') | upper}}</strong> &nbsp;
                                        <span class="text-gray">{{ "goal.scheduled_date"|trans | upper}} {{ data.doDate|date('d M Y') | upper }}</span>
                                    </div>
                                {% endif %}
                                <hr/>

                            {% endif %}

                            {% if data.id is null %}
                                <h4 class="text-center">{{ "goal.is_dream"|trans }}</h4>
                            {% elseif data.doDate is null %}
                                <h4 class="text-center">{{ "dream"|trans }}</h4>
                            {% endif %}

                            <div id="datepicker" data-datepicker-disable="{{ completed }}"
                                 data-date="{{ data.doDate ? data.doDate|date("m/d/Y") : "now"|date("m/d/Y") }}">
                            </div>

                            {% if data.id is not null and data.doDate is not null and data.doDate|date("m/d/Y") <  "now"|date("m/d/Y") %}
                                <p class="text-gray text-center">
                                    <i class="glyphicon glyphicon-exclamation-sign purple"></i>{{ "goal.missed_deadline"|trans }}
                                </p>
                            {% endif %}

                            <input id="{{ form.birthday.vars.id }}" type="hidden" class="hidden_date_value"
                                   value="{{ data.doDate ? data.doDate|date("m/d/Y") : null }}"
                                   name="{{ form.birthday.vars.full_name }}"/>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input {% if completed %} disabled {% endif %}
                                            value="{{ data.address }}"
                                            type="text"
                                            data-google-places-autocomplete
                                            data-hidden-storage=".location-hidden"
                                            class="form-control place-autocomplete"
                                            placeholder="{{ "goal.location_ex"|trans }}"/>
                                    <input id="{{ form.location.vars.id }}" value="{{ data.getLocations }}"
                                           type="hidden" class="location-hidden"
                                           name="{{ form.location.vars.full_name }}"/>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    {{ form_widget(form.note, {'attr' : {'class' : 'form-control', 'rows':'3', 'placeholder' : 'goal.note_p'|trans } } ) }}
                                </div>
                            </div>

                            {% if data.id is not null %}
                                <h5 class="text-left">{{ "goal.complete_step"|trans }}</h5>

                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped aktive" role="progressbar"
                                         aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                         style="width:{{ data.getCompleted }}%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="form-group row" data-ng-repeat="(k, step) in stepsArray">

                                <div class="col-sm-8">
                                    <input type="text"
                                           class="form-control"
                                           data-step
                                           {% if completed %}disabled{% endif %}
                                           data-key="k"
                                           data-array="stepsArray"
                                           data-ng-model="step.text"
                                           name="{% if app.environment !='test'%}stepText[ [[ k ]] ]{% endif %}"
                                           placeholder="{{ "goal.add_step"|trans }}">
                                </div>

                                <label class="col-sm-2 control-label">
                                    <span data-ng-show="step.switch">{{ "goal.done"|trans }}</span>
                                    <span data-ng-hide="step.switch">{{ "goal.to_do"|trans }}</span>
                                </label>
                                switch: [[ step.switch ]]
                                <div class="col-sm-2">
                                    <div class="onoffswitch">
                                        <input {% if completed %}disabled{% endif %} type="checkbox"
                                               name="{% if app.environment !='test'%}switch[ [[k]] ]{% endif %}"
                                               data-ng-model="step.switch"
                                               data-ng-init="step.switch==='off'?step.switch=false:(step.switch==='on'?step.switch=true:step.switch)"
                                               class="onoffswitch-checkbox"
                                               data-ng-checked="step.switch"
                                               id="myonoffswitch{{ data.goal.id ? data.goal.id:0 }}[[k]]">

                                        <label class="onoffswitch-label" for="myonoffswitch{{ data.goal.id ? data.goal.id:0 }}[[k]]">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row no-marginb">

                                <label for="inputEmail3" class="col-sm-9 control-label purple text-left">{{ "goal.as_invisible"|trans }}</label>

                                <label class="col-sm-1 control-label">
                                    <i data-ng-show="switch_private" class="glyphicon glyphicon-eye-open"></i>
                                    <i data-ng-hide="switch_private" class="glyphicon glyphicon-eye-close"></i>
                                </label>

                                <div class="col-sm-2">
                                    <div class="onoffswitch">
                                        <input type="checkbox"
                                               name="switch-private"
                                               data-ng-model="switch_private"
                                               data-ng-init="switch_private=true"
                                               class="onoffswitch-checkbox"
                                               data-ng-checked="[[ (switch_private && switch_private!='off')?true:false ]]"
                                               id="myonoffswitch-private{{ data.goal.id ? data.goal.id:0 }}">

                                        <label class="onoffswitch-label" for="myonoffswitch-private{{ data.goal.id ? data.goal.id:0 }}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <p>
                                <i class="glyphicon glyphicon-eye-close"></i>
                                {{ 'goal.invisible_text'|trans }}
                            </p>



                            {% if data.id is not null and data.goal.author and data.goal.author.id == app.user.id %}
                                <p class="text-gray">
                                    <strong class="text-dark-gray">
                                        <i class="glyphicon glyphicon-lock"></i>
                                        {{ 'user_goal.private' |trans }}
                                    </strong> &nbsp;
                                    {{ 'goal.private_text'|trans }}
                                </p>
                            {% endif %}

                            <div class="form-group text-center bottom-part">
                                <input type="submit" name="add_story" value="{{ 'btn_save'|trans }}" class="btn btn-purple button-lg">
                                <a href="{{ path('goals_list') }}" class="btn btn-transparent button-lg">{{ 'btn_cancel'|trans }}</a>
                            </div>

                            {{ form_widget(form._token) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
