{% extends "AppBundle::layout_top.html.twig" %}

{% set slug = app.request.get('slug') %}

{% block content_header %}

    {% set stats = profileUser.getStats %}
    {% set lastName = profileUser.lastName %}
    {% set firstName = profileUser.firstName %}
    {% set nameOnImage = firstName|slice(0,1) ~ lastName|slice(0,1) %}
    {% set className = "profile-image profile-image" ~ random(4) %}
    {% set imgPath ='bundles/app/images/cover' ~ random(4) ~ '.png' %}

    <div class="content-header">
        <figure>
            <span class="overlay"></span>
            <img src="
            {% if profileUser.getPhotoLink %}
                {{ profileUser.getPhotoLink|blImageFilter('user_cover') }}
            {% else %}
                {{ asset(imgPath) }}
            {% endif %}"
                 alt="Profile Cover Photo" class="img-responsive" />
        </figure>

        <div class="profile">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <figure>
                            <div>
                                {% if profileUser.getPhotoLink %}
                                    <img src="{{ profileUser.getPhotoLink|blImageFilter('user_image') }}" alt="Profile image" class="img-responsive img-circle"/>
                                {% else %}
                                    <span class="no-image {{ className }}">{{ nameOnImage }}</span>
                                {% endif %}
                            </div>

                            <figcaption>
                                <ul>
                                    <li>
                                        <span>{{ 'user_goal.active'|trans | capitalize }}</span>
                                        <span>{{ stats.active }}</span>
                                    </li>

                                    <li>
                                        <span>{{ 'block_listed'|trans | capitalize }}</span>
                                        <span>{{ stats.listedBy }}</span>
                                    </li>

                                    <li>
                                        <span>{{ 'block_completed'|trans |capitalize }}</span>
                                        <span>{{ stats.doneBy }}</span>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-sm-4">
                        {% if profileUser.showName %}
                            <h1 class="{% if profileUser.showName|length > 12 %}title-smaller{% endif %}">
                                <span class="bg-blue">{{ profileUser.showName }}</span>
                            </h1>
                        {% endif %}
                        {% if  profileUser.getAge  %}
                            <p>{{ profileUser.getAge }} {{ "my_bucket_list.year_old"|trans }}</p>
                        {% endif %}
                    </div>

                    {% if profileUser.id == app.user.id %}
                        <div class="col-sm-4">
                            <div class="text-right">
                                {#<a href="javascript:void(0)"#}
                                {#data-ls-identity="settingModalInMyBucketList"#}
                                {#data-ls-template-url="{{ path("settings") }}"#}
                                {#data-ls-jquery-modal>#}
                                {#<span class="black-overlay settings-overlay"></span>#}
                                {#<i class="icon-settings"><span class="path1"></span><span class="path2"></span></i>#}
                                {#</a>#}

                                <a href="{{ path('edit_user_profile') }}">
                                    <span class="black-overlay settings-overlay"></span>
                                    <i class="icon-settings"><span class="path1"></span><span class="path2"></span></i>
                                </a>
                            </div>


                            {% if profileUser.getCompletedPercent()|round(1, 'floor') != 100 %}
                                <div class="profile-information" data-ng-show="{{ profileUser.getCompletedPercent()|round(1, 'floor') }} != 100">
                                    <em>{{ 'complete_message'|trans }}</em>

                                    <div class="row no-gutter">
                                        <div class="col-xs-10">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped"
                                                     role="progressbar"
                                                     aria-valuenow="45"
                                                     aria-valuemin="0"
                                                     aria-valuemax="100"
                                                     style="width:{{ profileUser.getCompletedPercent|round(1, 'floor') }}%">
                                                    {{ profileUser.getCompletedPercent|round(1, 'floor') }}%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <a class="text-gray"
                                               data-ng-click="completeProfileMyBucketList=!completeProfileMyBucketList">
                                                <span class="black-overlay"></span>
                                                <i class="icon-question-icon" data-ng-hide="completeProfileMyBucketList"><span class="path1"></span><span class="path2"></span></i>
                                                <i class="icon-icon-up ng-hide" data-ng-show="completeProfileMyBucketList"><span class="path1"></span><span class="path2"></span></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success alert-dismissible ">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        {% endfor %}
                    </div>
                {% endif %}


                {% if profileUser.getCompletedPercent()|round(1, 'floor') != 100 %}
                    <div class="row slide ng-hide" data-ng-cloak data-ng-show="completeProfileMyBucketList" style="display: none">
                        <div class="col-sm-6">
                            <ol style="position: relative;">
                                <li>
                                    <span class="profile-title">
                                        {{ 'security.login.sign_up'|trans({}, 'FOSUserBundle') }}
                                        <i class="icon-ok-only"></i>
                                    </span>
                                    <span class="text-gray">{{ 'my_list.signed_up'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    <span class="profile-title">{{ 'account.complete_text'|trans }}
                                        {% if profileUser.registrationToken is null %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.verification'|trans({}, 'FOSUserBundle') }}</span>
                                    <span class="text-gray">{{ 'my_list.confirm'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    {% if profileUser.socialPhotoLink or  profileUser.fileName %}
                                        <span class="profile-title">{{ 'image_complete_text'|trans }}
                                            <i class="icon-ok-only"></i>
                                        </span>
                                    {% else %}
                                        <a href="javascript:void(0)"
                                           data-ls-jquery-modal
                                           data-ls-template-url="{{ path('settings') }}"
                                           data-ls-identity="goalSettingsInCompleteModal">
                                            <strong>{{ 'image_complete_text'|trans }}</strong>
                                            <i class="icon-question-only"></i>
                                        </a>
                                    {% endif %}
                                    <span class="text-gray">{{ 'my_list.add_image'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    <a href="{{ path('add_goal') }}">
                                        <strong>{{ 'my_bucket_list.add_goal'|trans |capitalize }}</strong>
                                        {% if profileUser.userGoal|length > 0 %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </a>
                                    <span class="text-gray">{{ 'my_list.want_control'|trans({}, 'FOSUserBundle') }}</span>
                                    <span class="text-gray">{{ 'my_list.follow_link'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                            </ol>

                        </div>

                        <div class="col-sm-6">
                            <ol style="position: relative" start="5">
                                <li>
                                    <span class="profile-title">{{ 'deadline.complete_text'|trans }}
                                        {% if profileUser.checkDeadLines() %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.dream_text'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                                <li>
                                    <span class="profile-title">{{ 'goal.complete_text'|trans }}
                                        {% if profileUser.checkCompletedGoals() %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.have_goal'|trans({}, 'FOSUserBundle') }}</span>
                                </li>

                                <li>
                                    <span class="profile-title">{{ 'success_story.complete_text'|trans | capitalize}}
                                        {% if profileUser.checkSuccessStory() %}
                                            <i class="icon-ok-only"></i>
                                        {% else %}
                                            <i class="icon-question-only"></i>
                                        {% endif %}
                                    </span>
                                    <span class="text-gray">{{ 'my_list.complete_goal'|trans({}, 'FOSUserBundle') }}</span>
                                </li>
                            </ol>

                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block content_container %}
    <div class="bucketlist">
        <div class="container">
            <div class="row">
                <ul class="menu">
                    <li {% if slug != "drafts" %} class="active" {% endif %} >
                        <a  href="{{ path('my_ideas', {'slug': 'private'}) }}">{{ 'right_menu.private'|trans }}</a>
                    </li>
                    <li {% if slug == "drafts" %} class="active" {% endif %}>
                        <a  href="{{ path('my_ideas', {'slug': 'drafts'}) }}">{{ 'right_menu.draft'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% if goals.getTotalItemCount > 0 %}

            <div class="row drafts idea-item">
                {% for goal in goals %}
                    <div class="col-sm-6 col-md-4">
                        <figure class="relative">
                            {% set image = goal.getListPhoto %}

                            <a href="{% if slug == "drafts" %}{{ path('add_goal', {'id': goal.id }) }}{% else%}{{ path('inner_goal', {'slug' : goal.slug }) }}{% endif %}">
                                <span class="overlay">{{ goal.title }}</span>
                                {% if image %} <img src="{{ image.downloadLink|blImageFilter('goal_list_small')  }}" height="230" alt="{{ goal.title }}"/> {% endif %}
                            </a>
                            <figcaption>
                                {%  include "AppBundle:Blocks:draftGoalFooter.html.twig" with {'goal' : goal }  %}
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        {% elseif slug == "drafts" %}
            <p class="empty-text text-center">
                {{ 'goal.empty_draft'|trans }}
            </p>
        {% else%}
            <p class="empty-text text-center">
                {{ 'goal.empty_private_ideas'|trans }}
            </p>
        {% endif %}

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(goals) }}
        </div>

    </div>

{% endblock %}

{%- block title -%}
    {% if slug == "drafts" %}
        {{ 'draft.title'|trans }}
    {% else%}
        {{ 'private_ideas.title'|trans }}
    {% endif %}
{%- endblock -%}

{%- block meta_description -%}
    {% if slug == "drafts" %}
        {{ 'draft.description'|trans }}
    {% else%}
        {{ 'private_ideas.description'|trans }}
    {% endif %}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}


