<div data-ng-controller="reportController" class="bg-grey" id="report-modal">

    <div class="bg-white">
        <h3>{{ 'report.title'|trans({},'messages') }}</h3>

        <h3 class="ng-hide">{{ 'report.thanks'|trans({},'messages') }}</h3>

        <a class="close-icon" rel="modal:close"></a>
    </div>

    <div class="report-content">

        <form class="form-horizontal">

            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    {{ 'report.spam'|trans({},'messages') }}
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                     {{ 'report.opinion'|trans({},'messages') }}
                </label>
            </div>

            <textarea class="form-control" rows="3" placeholder="{{ 'report.other'|trans({},'messages') }}"></textarea>

        </form>



        <p class="text-center">{{ 'report.message'|trans({},'messages') }}</p>

    </div>

    <div class="bg-white padding text-center">
        <button name="submit" class="btn btn-purple">{{ 'submit'|trans({},'messages') }}</button>
    </div>

</div>