{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %} <html data-ng-app="goal" data-ng-controller="goalInner"> {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link href="{{ asset('app/bower_components/icheck/skins/all.css') }}" rel="stylesheet">#}
    {% stylesheets output='css/layout_show.css'
    'app/bower_components/swipebox/src/css/swipebox.min.css'
    'app/bower_components/swiper/dist/css/swiper.min.css'
    filter='less,cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {#<link href="{{ asset('app/bower_components/swipebox/src/css/swipebox.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ asset('app/bower_components/swiper/dist/css/swiper.min.css') }}" rel="stylesheet">#}
{% endblock %}

{% block content %}

    <article style="display:none">
        <header>
            <!-- The cover image shown inside your article -->
            <figure>
                <img src="http://mydomain.com/path/to/img.jpg" />
                <figcaption>This image is amazing</figcaption>
            </figure>

            <!-- The title and subtitle shown in your article -->
            <h1> Title </h1>
            <h2> Subtitle </h2>

            <!-- A kicker for your article -->
            <h3 class="op-kicker">
                This is a kicker
            </h3>

            <!-- The author of your article -->
            <address>
                <a rel="facebook" href="http://facebook.com/brandon.diamond">Brandon Diamond</a>
                Brandon is a avid zombie hunter.
            </address>

            <!-- The published and last modified time stamps -->
            <time class="op-published" dateTime="2014-12-11T04:44:16Z">December 11th, 4:44 PM</time>
            <time class="op-modified" dateTime="2014-12-11T04:44:16Z">December 11th, 4:44 PM</time>
        </header>

        <!-- Body text for your article -->
        <p> This is some Instant Article content. </p>

        <!-- A video within your article -->
        <figure>
            <video>
                <source src="http://mydomain.com/path/to/video.mp4" type="video/mp4" />
            </video>
        </figure>

        <!-- An image within your article -->
        <figure>
            <img src="http://mydomain.com/path/to/img.jpg" />
            <figcaption>This image is amazing</figcaption>
        </figure>

    </article>



    {{ render(controller('AppBundle:Goal:innerContent', { 'id': goal.id, 'page' : constant("AppBundle\\Entity\\Goal::INNER") })) }}
{% endblock %}

{%- block title -%}
    {{ goal.title }}
{%- endblock -%}

{%- block meta_description -%}
    {%- if goal.description is not empty -%}
        {{- goal.description|markdown|replace({'#': ''})|striptags|sliceString -}}
    {% else %}
        {{- 'goal.view_description'|trans -}}
    {%- endif -%}
{%- endblock -%}

{%- block og_image -%}
        {%- if goal.getListPhoto -%}
            {{- goal.getListPhoto.getDownloadLink|blImageFilter('goal_cover') -}}
        {% else %}
            {{ parent() }}
        {%- endif -%}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='js/app_goal_inner.js'
        'app/bower_components/jquery-dateFormat/dist/jquery-dateFormat.min.js'
        'app/bower_components/swipebox/src/js/jquery.swipebox.min.js'
        'app/bower_components/swiper/dist/js/swiper.min.js'
        'bundles/app/js/swiper-inner.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5624b2123b6addeb" async="async"></script>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1490967017868221&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {# comments #}
    {#{% javascripts '@AppBundle/Resources/public/js/comments.js' %}#}
    {#<script type="text/javascript">#}
        {#// thread id#}
        {#var fos_comment_thread_id = '{{ goal.id }}';#}

        {#// api base url to use for initial requests#}
        {#var fos_comment_thread_api_base_url = '' {{ path('fos_comment_get_threads') }}';#}

        {#// Snippet for asynchronously loading the comments#}
        {#(function() {#}
            {#var fos_comment_script = document.createElement('script');#}
            {#fos_comment_script.async = true;#}
            {#fos_comment_script.src = '{{ asset_url }}';#}
            {#fos_comment_script.type = 'text/javascript';#}

            {#(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);#}
        {#})();#}
    {#</script>#}
    {#{% endjavascripts %}#}
{% endblock %}
