{% extends "AppBundle::layout.html.twig" %}

 {% block content %}

     {{ parent() }}

     <div class="content-top">
         <div class="container">
             <div class="row">
                 <div class="col-sm-6">
                     <h3 class="purple">Suggest as public

                         {% if goal.status == constant("AppBundle\\Entity\\Goal::PUBLIC_PRIVACY") %}
                             <span class="checked"></span>
                         {% else %}
                             <span class="input"></span>
                         {% endif %}

                     </h3>
                     <p>By checking you agree to ....</p>
                 </div>
                 <div class="col-sm-6 text-right">
                     <div class="buttons">
                         <a href="{{ path('add_goal', {'id' : goal.id }) }}" type="button" class="btn btn-default">
                         <span class="glyphicon glyphicon-chevron-left"></span>
                         GO BACK TO EDIT
                         </a>
                         <a href="{{ path('end_goal', {'id' : goal.id }) }}"  type="button" class="btn btn-purple" name="btn_publish">PUBLISH
                             <span class="glyphicon glyphicon-chevron-right"></span>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="goals">
                    <h3 class="title">{{ goal.title }}</h3>

                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <p class="margin-top">{{ goal.description }}</p>

                            <div class="tags">

                                    {% set tags = goal.tags %}

                                    {% if tags %}
                                        {% for tag in tags %}
                                            <button type="button" class="btn btn-purple"> {{ tag.tag }} </button>
                                        {% endfor %}
                                    {% endif %}
                            </div>

                            {% set images = goal.images %}

                            <figure>
                                {% for image in images %}
                                    {% if image.primary == true %}
                                            <img src="{{ image.downloadLink }}" alt="{{ image.fileOriginalName }}" class="img-responsive"/>
                                    {% endif %}
                                {% endfor %}
                            </figure>

                            <div class="row">
                                {% for image in images %}
                                    {% if image.primary == false %}
                                        <div class="col-md-2">
                                            <img src="{{ image.downloadLink }}" alt="{{ image.fileOriginalName }}" class="img-responsive"/>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div><br />

                            <iframe width="100%" height="500" src="{{ goal.videoLink }}" frameborder="0" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>

 {% endblock %}
