{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %} <html data-ng-app="goal" data-ng-controller="goalInner"> {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {#<link href="{{ asset('app/scripts/PgwSlideshow/pgwslideshow.css') }}" rel="stylesheet">#}
    <link href="{{ asset('app/bower_components/icheck/skins/all.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/less/jssor-slider.css') }}" rel="stylesheet"/>
    <style>
        .ticker {
            width: 500px;
            margin: 10px auto;
        }
        /* The HTML list gets replaced with a single div,
           which contains the active ticker item, so you
           can easily style that as well */
        .ticker div {
            display: inline-block;
            word-wrap: break-word;
        }
    </style>
{% endblock %}


 {% block content %}

     <div class="content-top">
         <div class="container">
             <div class="row">
                 <div class="col-sm-6">

                     <div class="row">
                         <div class="col-sm-1 suggest-input" style="pointer-events: none">
                             {% if goal.status == constant("AppBundle\\Entity\\Goal::PUBLIC_PRIVACY") %}
                                 <input type="checkbox" checked>
                             {% else %}
                                 <input type="checkbox">
                             {% endif %}
                         </div>

                         <div class="col-sm-11">
                             <h3 class="text-purple">

                                 {{ 'goal.public'|trans }}
                             </h3>
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-sm-10 col-sm-offset-1">
                             <p class="text-gray">{{ 'goal.agree'|trans }}</p>
                         </div>
                     </div>

                     {#<h3 class="text-purple">{{ 'goal.public'|trans }}#}

                         {#{% if goal.status == constant("AppBundle\\Entity\\Goal::PUBLIC_PRIVACY") %}#}
                             {#<span class="input-checked"></span>#}
                         {#{% else %}#}
                             {#<span class="input"></span>#}
                         {#{% endif %}#}

                     {#</h3>#}

                 </div>
                 <div class="col-sm-6 text-right">
                     <div class="buttons">
                         <a href="{{ path('add_goal', {'id' : goal.id }) }}" type="button" class="btn btn-default">
                             <i class="icon icon-left"></i>
                             {{ 'btn_back_and_edit'|trans }}

                         </a>
                         <a href="{{ path('add_to_me_goal', {'id' : goal.id }) }}"  type="button" class="btn btn-purple" name="btn_publish">{{ 'btn_publish'|trans }}
                             <i class="icon icon-right"></i>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     {{ render(controller('AppBundle:Goal:innerContent', { 'id': goal.id , page : constant("AppBundle\\Entity\\Goal::VIEW") })) }}


 {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('app/bower_components/jssor-slider/js/jssor.slider.mini.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/bower_components/ScrollToFixed/jquery-scrolltofixed-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/Ticker/jquery.ticker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset("app/bower_components/icheck/icheck.min.js") }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/jssor-inner-slider.js') }}" type="text/javascript"></script>

    {#<script src="{{ asset('app/scripts/PgwSlideshow/pgwslideshow.min.js') }}" type="text/javascript"></script>#}
    <script src="{{ asset('bundles/app/js/angular/goal.js') }}" type="text/javascript"></script>

{% endblock %}

