{% extends "AppBundle::layout.html.twig" %}

{% block angularApp %} <html ng-app="goal" data-ng-controller="goalInner"> {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('app/scripts/PgwSlideshow/pgwslideshow.css') }}" rel="stylesheet">
{% endblock %}


 {% block content %}

     <div class="content-top">
         <div class="container">
             <div class="row">
                 <div class="col-sm-6">
                     <h3 class="purple">Suggest as public

                         {% if goal.status == constant("AppBundle\\Entity\\Goal::PUBLIC_PRIVACY") %}
                             <span class="input-checked"></span>
                         {% else %}
                             <span class="input"></span>
                         {% endif %}

                     </h3>
                     <p>By checking you agree to ....</p>
                 </div>
                 <div class="col-sm-6 text-right">
                     <div class="buttons">
                         <a href="{{ path('add_goal', {'id' : goal.id }) }}" type="button" class="btn btn-default">
                             <span class="glyphicon glyphicon-chevron-left"></span>
                             GO BACK TO EDIT
                         </a>
                         <a href="{{ path('add_to_me_goal', {'id' : goal.id }) }}"  type="button" class="btn btn-purple" name="btn_publish">PUBLISH
                             <span class="glyphicon glyphicon-chevron-right"></span>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="container">
         <div class="row">
             <div class="view-content" style="width: 100%; height: 500px; margin: auto; overflow: scroll " >
                 {{ render(controller('AppBundle:Goal:innerContent', { 'id': goal.id , page : constant("AppBundle\\Entity\\Goal::VIEW") })) }}
             </div>
         </div>
     </div>


 {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
    <script src="{{ asset('app/scripts/PgwSlideshow/pgwslideshow.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('app/scripts/GoogleMaps/GoogleMaps.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/js/angular/goal.js') }}" type="text/javascript"></script>

{% endblock %}

