{% extends "ApplicationUserBundle:Base:settings.html.twig" %}

{% block settings_content %}

    {% set commentValue = user.commentNotify %}
    {% set storyValue = user.successStoryNotify %}


    <div class="row">
        <div class="col-md-8">

        <div class="settings bg-white round">
            <h3>{{ 'user.notify_settings_text'|trans({}, 'FOSUserBundle') }}</h3>
            <hr />
            <div class="row no-marginb">

                <label class="col-xs-8 col-sm-10 control-label text-left" data-ng-init="comment.switch={{ commentValue|default("0") }}">
                    <span data-ng-show="complete.switch">{{  'comments'|trans({}, 'messages') }}</span>
                    <span data-ng-hide="complete.switch">{{  'comments'|trans({}, 'messages') }}</span>
                </label>

                <div class="col-xs-4 col-sm-2">
                    <div class="onoffswitch">
                        <input type="checkbox"
                               name="{{ form.children.commentNotify.vars.full_name }}"
                               data-ng-model="comment.switch"
                               data-ls-checked="comment.switch"
                               class="onoffswitch-checkbox"
                               data-ng-init="complete.switch={{ commentValue ? 1 : 0 }}"
                               id="{{ form.children.commentNotify.vars.id }}">
                        <label class="onoffswitch-label" for="myCommentSwitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row no-marginb">

                <label class="col-xs-8 col-sm-10 control-label text-left" data-ng-init="comment.switch={{ storyValue|default("0") }}">
                    <span data-ng-show="complete.switch">{{ 'success_stories'|trans({}, 'messages') }}</span>
                    <span data-ng-hide="complete.switch">{{ 'success_stories'|trans({}, 'messages') }}</span>
                </label>

                <div class="col-xs-4 col-sm-2">
                    <div class="onoffswitch">
                        <input type="checkbox"
                               name="{{ form.children.successStoryNotify.vars.full_name }}"
                               data-ng-model="story.switch"
                               data-ls-checked="story.switch"
                               class="onoffswitch-checkbox"
                               data-ng-init="complete.switch={{ commentValue ? 1 : 0 }}"
                               id="{{ form.children.successStoryNotify.vars.id }}">
                        <label class="onoffswitch-label" for="myStorySwitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <hr />

            <div>
                <button type="submit" class="btn btn-purple button-lg">{{ 'btn_save'|trans({}, 'messages') }}</button>
                <a href="#" class="btn btn-transparent button-lg">{{ 'btn_cancel'|trans({}, 'messages') }}</a>
            </div>

            {{ form_widget(form._token) }}
        </div>

        </div>
    </div>

{% endblock %}

{%- block title -%}
    {{ 'user.notify_edit'|trans({},'FOSUserBundle') }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'user.notify_edit'|trans({},'FOSUserBundle') }}
{%- endblock -%}

{%- block og_url -%}
    {{- app.request.uri -}}
{%- endblock -%}